{% extends "chart/base_chart.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}个股数据{% endblock %}

{% block javascript %}
<script type="text/javascript">
var echarts,
	ecConfig,

	clickFun = function(param){
		var stockCode = param.name.split('(')[1].split(')')[0];
		window.open('/stock/' + stockCode, '_blank');
	},
	
	// 今日个股成交额环比
	renderChain = function(date, xData, yData){
		var chainChart = echarts.init(document.getElementById('chain'));
		
		chainChart.setOption({
			title: {
				text: date + '日个股成交额环比增长率前10'
			},
		    tooltip : {
		        trigger: 'axis',
		        formatter: '<b>{b}</b><br/>{a}: {c} %<br/>点击查看该股历史成交额环比'
		    },
		    legend: {
		        data:['成交额环比增长率'],
		        orient: 'horizontal',
				x: 'right',
				padding: [5, 40, 0, 0]
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            saveAsImage : {show: true}
		        }
		    },
			calculable : false,
			xAxis : [{
		        type : 'value',
		        splitArea : {show : false}
		    }],
		    yAxis : [{
		    	type : 'category',
		    	axisLabel: {
		    		formatter: function(v){
		    			return v.split('(')[0]
		    		}
		    	},
		        data : xData
		    }],
		    color: ['#428bca', '#428bca'],
		    series : [{
		        name:'成交额环比增长率',
		        type:'bar',
		        itemStyle: {
		        	normal: {
		        		label: {
		        			show: true,	// 每行数值
		        			position: 'right',
		        			formatter: "{c} %"
		        		}
		        	}
		        },
		        data: yData
		    }]
		});

		chainChart.on(ecConfig.EVENT.CLICK, clickFun);
	},
	renderChainInTotal = function(date, xData, yData){
		var chainInTotalChart = echarts.init(document.getElementById('chain_in_total'));

		chainInTotalChart.setOption({
			title: {
				text: date+'日个股成交额占沪深总成交额环比增长率前10'
			},
		    tooltip : {
		        trigger: 'axis',
		        formatter: '<b>{b}</b><br/>{a}: {c} %<br/>点击查看该股历史成交额环比'
		    },
		    legend: {
		        data:['成交额环比增长率'],
		        orient: 'horizontal',
				x: 'right',
				padding: [5, 40, 0, 0]
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            saveAsImage : {show: true}
		        }
		    },
			calculable : false,
			xAxis : [{
		        type : 'value',
		        splitArea : {show : false}
		    }],
		    yAxis : [{
		    	type : 'category',
		    	axisLabel: {
		    		formatter: function(v){
		    			return v.split('(')[0]
		    		}
		    	},
		        data: xData
		        
		    }],
		    color: ['#428bca', '#428bca'],
		    series : [{
		        name:'成交额环比增长率',
		        type:'bar',
		        itemStyle: {
		        	normal: {
		        		label: {
		        			show: true,	// 每行数值
		        			position: 'right',
		        			formatter: "{c} %"
		        		}
		        	}
		        },
		        data: yData
		    }]
		});

		chainInTotalChart.on(ecConfig.EVENT.CLICK, clickFun);
	},
	getStockChainData = function(date){

		g_ajax_processing_obj_id = $('.loading').setUUID().attr('id');

		ajaxSend(
            "/stock/get_stock_chain_data", 
            {'date': date}, 
            function(response){
            	if(response.x_data.length <= 0){
            		$.ZXNotice.InfoTopNotice('没有可用的数据');
            		return;
            	}

            	renderChain(date, response.x_data, response.y_data);
            }
        );
	},
	getStockChainInTotalData = function(date){

		g_ajax_processing_obj_id = $('.loading').setUUID().attr('id');

		ajaxSend(
            "/stock/get_stock_chain_in_total_data", 
            {'date': date}, 
            function(response){
            	if(response.x_data.length <= 0){
            		$.ZXNotice.InfoTopNotice('没有可用的数据');
            		return;
            	}

            	renderChainInTotal(date, response.x_data, response.y_data);
            }
        );
	};

require(
	[
		"echarts", 
		"echarts/chart/line", 
		"echarts/chart/bar"
	],
	function(ec){
		echarts = ec;
		
		getStockChainData($('#search_date').val());
		getStockChainInTotalData($('#search_date').val());
	}
);
ecConfig = require('echarts/config');

$(document).ready(function(){
	$('#search_date').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true,
        daysOfWeekDisabled: [0, 6]
    });

	$('#search_date').bind('change', function(){
		getStockChainData($('#search_date').val());
		getStockChainInTotalData($('#search_date').val());
	});

});

</script>
{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block chart_main%}
<div class="col-md-10 col-xs-12 pb-10">
	<div class="bottom-border bdc-bbb pt-10 pb-5 pl-10">
		<span class="f15 fb">个股数据</span>
		<span class="co8 pl-5 pr-5">|</span>
		<a href="/stock/chart_industry"><span class="f15 fb">行业数据</span></a>
	</div>
</div>

<div class="form-group col-md-10">
	<label for="search_date" class="col-md-1 control-label pt-10 pl-0 pr-0">市值划分</label>
	<div class="col-md-11 pl-0 pr-0">
		<ul class="list-inline col-md-12 col-xs-12 pt-10 pb-10">
			<li>
				<a class="active border-block-blue pl-10 pr-10 pt-3 pb-3" href="#">全部</a>
			</li>
			<li>
				<a class="border-block-blue pl-10 pr-10 pt-3 pb-3" href="#">0-50亿市值</a>
			</li>
			<li>
				<a class="border-block-blue pl-10 pr-10 pt-3 pb-3" href="#">50-100亿市值</a>
			</li>
			<li>
				<a class="border-block-blue pl-10 pr-10 pt-3 pb-3" href="#">100-200亿市值</a>
			</li>
			<li>
				<a class="border-block-blue pl-10 pr-10 pt-3 pb-3" href="#">200-300亿市值</a>
			</li>
			<li>
				<a class="border-block-blue pl-10 pr-10 pt-3 pb-3" href="#">300亿市值以上</a>
			</li>
		</ul>
	</div>
</div>
<div class="form-group col-md-10 bottom-border bdc-eee pb-15">
	<label for="search_date" class="col-md-1 control-label pt-5 pl-0 pr-0">选择日期</label>
	<div class="col-md-2">
		<input type="text" readonly class="form-control input-sm" id="search_date" placeholder="输入日期" value="{{today}}">
	</div>
	<div class="col-md-1 loading"></div>
</div>

<div class="col-md-10 min-h400 col-xs-12 pt-10" id="chain">
</div>

<div class="col-md-10 min-h400 col-xs-12 pt-10" id="chain_in_total">
</div>

{% endblock %}