{% extends "chart/base_chart.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}行业数据{% endblock %}

{% block javascript %}
<script type="text/javascript">
var echarts,
	ecConfig,

	clickFun = function(param){
		var kindId = param.name.split('(')[1].split(')')[0];
		window.open('/stock/chart_kind/' + kindId, '_blank');
	},
	
	// 今日个股成交额环比
	renderChain = function(date, xData, yData){
		var chainChart = echarts.init(document.getElementById('chain'));
		
		chainChart.setOption({
			title: {
				text: date + '日行业成交额环比增长率'
			},
			grid: {
                x2: 50
            },
		    tooltip : {
		        trigger: 'axis',
		        axisPointer: {
                    type: 'line',
                    lineStyle : {
                      color: '#ddd',
                      width: 1,
                      type: 'solid'
                    }
                },
		        formatter: '<b>{b}</b><br/>{a}: {c} %<br/>点击查看该股历史成交额环比'
		    },
		    legend: {
		        data:['成交额环比增长率'],
		        orient: 'horizontal',
				x: 'right',
				padding: [5, 40, 0, 0]
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            saveAsImage : {show: true}
		        }
		    },
			calculable : false,
			xAxis : [{
		        type : 'value',
		        splitLine: {show : true}
		    }],
		    yAxis : [{
		    	type : 'category',
		    	axisLabel: {
		    		formatter: function(v){
		    			return v.split('(')[0]
		    		}
		    	},
		        splitLine: {show : false},
		        data : xData
		    }],
		    color: ['#428bca', '#428bca'],
		    series : [{
		        name:'成交额环比增长率',
		        type:'bar',
		        itemStyle: {
		        	normal: {
		        		label: {
		        			show: true,	// 每行数值
		        			position: 'right',
		        			formatter: "{c} %"
		        		}
		        	}
		        },
		        data: yData
		    }]
		});

		chainChart.on(ecConfig.EVENT.CLICK, clickFun);
	},
	renderChainInTotal = function(date, xData, yData){
		var percentInTotalChart = echarts.init(document.getElementById('percent_in_total'));

		percentInTotalChart.setOption({
			title: {
				text: date + '日行业成交额占沪深总成交额比率'
			},
			grid: {
                x2: 50
            },
		    tooltip : {
		        trigger: 'axis',
		        axisPointer: {
                    type: 'line',
                    lineStyle : {
                      color: '#ddd',
                      width: 1,
                      type: 'solid'
                    }
                },
		        formatter: '<b>{b}</b><br/>{a}: {c} ‱<br/>点击查看该行业历史成交额占比'
		    },
		    legend: {
		        data:['成交额比率'],
		        orient: 'horizontal',
				x: 'right',
				padding: [5, 40, 0, 0]
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            saveAsImage : {show: true}
		        }
		    },
			calculable : false,
			xAxis : [{
		        type : 'value',
		        splitLine: {show : true}
		    }],
		    yAxis : [{
		    	type : 'category',
		    	axisLabel: {
		    		formatter: function(v){
		    			return v.split('(')[0]
		    		}
		    	},
		    	splitLine: {show : false},
		        data: xData
		    }],
		    color: ['#428bca', '#428bca'],
		    series : [{
		        name:'成交额比率',
		        type:'bar',
		        itemStyle: {
		        	normal: {
		        		label: {
		        			show: true,	// 每行数值
		        			position: 'right',
		        			formatter: "{c} ‱"
		        		}
		        	}
		        },
		        data: yData
		    }]
		});

		percentInTotalChart.on(ecConfig.EVENT.CLICK, clickFun);
	},

	getKindChainData = function(){

		g_ajax_processing_obj_id = $('.loading').setUUID().attr('id');
		var date = $('#search_date').val();

		ajaxSend(
            "/stock/get_kind_chain_data", 
            {'date': date}, 
            function(response){
            	if(response.x_data.length <= 0){
            		$.ZXNotice.InfoTopNotice('没有可用的数据');
            		return;
            	}

            	renderChain(date, response.x_data, response.y_data);
            }
        );
	},
	getKindPercentInTotalData = function(date){

		g_ajax_processing_obj_id = $('.loading').setUUID().attr('id');
		var date = $('#search_date').val();

		ajaxSend(
            "/stock/get_kind_percent_in_total_data", 
            {'date': date}, 
            function(response){
            	if(response.x_data.length <= 0){
            		$.ZXNotice.InfoTopNotice('没有可用的数据');
            		return;
            	}

            	renderPercentInTotal(date, response.x_data, response.y_data);
            }
        );
	};

require(
	[
		"echarts", 
		"echarts/chart/line", 
		"echarts/chart/bar"
	],
	function(ec){
		echarts = ec;
		getKindChainData();
		getKindPercentInTotalData();
	}
);
ecConfig = require('echarts/config');

$(document).ready(function(){
	$('#search_date').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true,
        daysOfWeekDisabled: [0, 6]
    });

	// 时间过滤
	$('#search_date').bind('change', function(){
		getKindChainData();
		getKindPercentInTotalData();
	});
});

</script>
{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block chart_main%}
<div class="col-md-10 col-xs-12 pb-10">
	<div class="bottom-border bdc-bbb pt-10 pb-5 pl-10">
		<a href="/stock/chart_stock"><span class="f15 fb">个股数据</span></a>
		<span class="co8 pl-5 pr-5">|</span>
		<span class="f15 fb">行业数据</span>
	</div>
</div>
<ul class="list-inline col-md-10 col-xs-12 pt-0 pb-10">
	{% for kind in kinds %}
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/stock/chart_kind/{{kind.id}}">{{kind.name}}</a>
	</li>
	{% endfor %}
</ul>
<div class="form-group col-md-10 bottom-border bdc-eee pb-15">
	<label for="search_date" class="col-md-1 control-label pt-5 pl-0 pr-0">选择日期</label>
	<div class="col-md-2">
		<input type="text" readonly class="form-control input-sm" id="search_date" placeholder="输入日期" value="{{today}}">
	</div>
	<div class="col-md-1 loading"></div>
</div>

<div class="col-md-10 min-h400 col-xs-12 pt-10" id="chain">
</div>

<div class="col-md-10 min-h400 col-xs-12 pt-10" id="percent_in_total">
</div>


{% endblock %}