{% extends "chart/base_chart.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}计算机行业数据{% endblock %}

{% block javascript %}
<script type="text/javascript">
var echarts,
	ecConfig,

	clickFun = function(param){
		var stockCode = param.name.split('(')[1].split(')')[0];
		window.open('/stock/' + stockCode, '_blank');
	},

	calculatePercent = function(length){
        if(length <= 30){
            return 0;
        } else if(30 <= length && length <= 60){
            return 50;
        } else if(60 <= length && length <= 120){
            return 75;
        } else if(120 <= length && length <= 240){
            return 87.5;
        }
    },
	
	// 今日个股成交额环比
	renderLineChain = function(){
		var chainChart = echarts.init(document.getElementById('line_chain'));

        chainChart.setOption({
            title: {
                text: '计算机行业历史成交额环比'
            },
            grid: {
                x2: 50
            },
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'line',
                    lineStyle : {
                      color: '#ddd',
                      width: 1,
                      type: 'solid'
                    }
                },
                formatter: '<b>{b}</b><br/>{a}: {c} %'
            },
            legend: {
                data:['成交额环比', '成交额占总额环比'],
                orient: 'horizontal',
                x: 'right',
                padding: [5, 40, 0, 0]
            },
            toolbox: {
                show : true,
                feature : {
                    saveAsImage : {show: true}
                }
            },
            dataZoom : {
                show : true,
                realtime : true,
                start : 87.5,
                end : 100
            },
            calculable : false,
            xAxis : [{
                type : 'category',
                boundaryGap : false,
                data : (function(){
                    var d = [];

                    _.map(_.range(0, 240), function(i){
                        d.push('11-' + (i+1));
                    });

                    return d;
                })(),
                splitLine: {show: false},
            }],
            yAxis : [{
                type : 'value',
                axisLabel : {
                    formatter: '{value} %'
                }
            }],
            color: ['#428bca', '#E02C41'],
            series : [{
                name:'成交额环比',
                type:'line',
                data: (function(){
                    var d = [];

                    _.map(_.range(0, 240), function(){
                        d.push(Math.round(Math.random() * 10000) / 100);
                    });

                    return d;
                })()
            }, {
                name:'成交额占总额环比',
                type:'line',
                data: (function(){
                    var d = [];

                    _.map(_.range(0, 240), function(){
                        d.push(Math.round(Math.random() * 10000) / 100);
                    });

                    return d;
                })()
            }]
        });

	},

	renderBarChain = function(){
		var chainChart = echarts.init(document.getElementById('bar_chain'));

		chainChart.setOption({
			title: {
				text: '今日计算机行业内个股成交额环比增长率前10'
			},
		    grid: {
                x2: 50
            },
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'line',
                    lineStyle : {
                      color: '#ddd',
                      width: 1,
                      type: 'solid'
                    }
                },
		        formatter: '<b>{b}</b><br/>{a}: {c} %<br/>点击查看该股历史成交额环比'
		    },
		    legend: {
		        data:['成交额环比增长率'],
		        orient: 'horizontal',
				x: 'right',
				padding: [5, 40, 0, 0]
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            saveAsImage : {show: true}
		        }
		    },
			calculable : false,
			xAxis : [{
		        type : 'value',
		        splitLine: {show: true}
		    }],
		    yAxis : [{
		    	type : 'category',
		    	axisLabel: {
		    		formatter: function(v){
		    			return v.split('(')[0]
		    		}
		    	},
		    	splitLine: {show : false},
		        data : [
		        	'盾安环境(000413)', '招商银行(600110)', '工商银行(600056)', '三一重工(600880)', 
		        	'得利股份(600750)', '台基股份(600166)', '建设银行(600200)', '江中药业(600501)', 
		        	'华润双鹤(600503)', '天龙光电(600804)'
		        ]
		        
		    }],
		    color: ['#428bca', '#428bca'],
		    series : [{
		        name:'成交额环比增长率',
		        type:'bar',
		        itemStyle: {
		        	normal: {
		        		label: {
		        			show: true,	// 每行数值
		        			position: 'right',
		        			formatter: "{c} %"
		        		}
		        	}
		        },
		        data: (function(){
		        	var d = [];

		        	_.map(_.range(0, 10), function(){
		        		d.push(Math.round(Math.random() * 10000) / 100)
		        	})

		        	return d.sort(function(a, b){ return a-b});
		        })()
		    }]
		});

		chainChart.on(ecConfig.EVENT.CLICK, clickFun);
	},
	renderBarChainInTotal = function(){
		var chainInTotalChart = echarts.init(document.getElementById('bar_chain_in_total'));

		chainInTotalChart.setOption({
			title: {
				text: '今日计算机行业内个股成交额占沪深总成交额环比增长率前10'
			},
		    grid: {
                x2: 50
            },
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'line',
                    lineStyle : {
                      color: '#ddd',
                      width: 1,
                      type: 'solid'
                    }
                },
		        formatter: '<b>{b}</b><br/>{a}: {c} %<br/>点击查看该股历史成交额环比'
		    },
		    legend: {
		        data:['成交额环比增长率'],
		        orient: 'horizontal',
				x: 'right',
				padding: [5, 40, 0, 0]
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            saveAsImage : {show: true}
		        }
		    },
			calculable : false,
			xAxis : [{
		        type : 'value',
		        splitLine : {show : true}
		    }],
		    yAxis : [{
		    	type : 'category',
		    	axisLabel: {
		    		formatter: function(v){
		    			return v.split('(')[0]
		    		}
		    	},
		    	splitLine : {show : false},
		        data : [
		        	'盾安环境(000413)', '招商银行(600110)', '工商银行(600056)', '三一重工(600880)', 
		        	'得利股份(600750)', '台基股份(600166)', '建设银行(600200)', '江中药业(600501)', 
		        	'华润双鹤(600503)', '天龙光电(600804)'
		        ]
		        
		    }],
		    color: ['#428bca', '#428bca'],
		    series : [{
		        name:'成交额环比增长率',
		        type:'bar',
		        itemStyle: {
		        	normal: {
		        		label: {
		        			show: true,	// 每行数值
		        			position: 'right',
		        			formatter: "{c} %"
		        		}
		        	}
		        },
		        data: (function(){
		        	var d = [];

		        	_.map(_.range(0, 10), function(){
		        		d.push(Math.round(Math.random() * 10000) / 100)
		        	})

		        	return d.sort(function(a, b){ return a-b});
		        })()
		    }]
		});

		chainInTotalChart.on(ecConfig.EVENT.CLICK, clickFun);
	};

require(
	[
		"echarts", 
		"echarts/chart/line", 
		"echarts/chart/bar"
	],
	function(ec){
		echarts = ec;
		renderLineChain();
		renderBarChain();
		renderBarChainInTotal();
	}
);
ecConfig = require('echarts/config');

$(document).ready(function(){

});

</script>
{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block chart_main%}
<div class="col-md-10 col-xs-12 pb-10">
	<div class="bottom-border bdc-bbb pt-10 pb-5 pl-10">
		<a href="/stock/chart_stock"><span class="f15 fb">个股数据</span></a>
		<span class="co8 pl-5 pr-5">|</span>
		<span class="f15 fb">行业数据</span>
	</div>
</div>
<ul class="list-inline col-md-10 col-xs-12 pt-0 pb-10">
	<li class="mt-15">
		<a class="active border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/stock/chart_industry/10">计算机</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">采掘</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">机械设备</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">纺织服装</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">房地产</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">电子</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">钢铁</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">传媒</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">电气设备</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">家用电器</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">建筑材料</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">建筑装饰</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">交通运输</a>
	</li>
	<li class="mt-15">
		<a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">汽车</a>
	</li>
</ul>
<div class="col-md-10 min-h400 col-xs-12 pt-10" id="line_chain">
</div>

<div class="col-md-10 min-h400 col-xs-12 pt-30" id="bar_chain">
</div>

<div class="col-md-10 min-h400 col-xs-12 pt-0" id="bar_chain_in_total">
</div>

{% endblock %}