{% extends "stock/base_stock.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block keywords %}股票,股票动态,最新股票动态,智选,个股研究,个股分析,个股评论,行业,B股,主力,中小板,三板{% endblock keywords %}

{% block description %}智选（www.zhixuan.com）提供最新股票动态：上市公司动态、个股问答、公司新闻、最热股票等股票行情信息。{% endblock description %}

{% block title %}最新股票动态{% endblock title %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('.show-detail').one('click', function(){
        var me = $(this);

        me.html(me.data('content'));
        me.removeClass('pointer show-detail');
    });
});
</script>
{% endblock javascript %}

{% block stock_main%}
<div class="bottom-border bdc-bbb pt-10 pb-5 pl-10">
    <span class="f16 fb">最新股票动态</span>
</div>

<ul class="list-group">
    {% for stock_feed in stock_feeds %}
	<li class="list-group-item no-l-r-bd bdc-eee pl-0 pr">
        <a href="{{stock_feed.get_url}}"><img class="pa avatar-45 avatar-square" title="{{stock_feed.stock.name}}" alt="{{stock_feed.stock.name}}" src="{{stock_feed.stock.img}}"></a>
        <div class="pl-55 pt-3">
            <div class="">
                <a class="f14 black-blue fb" href="{{stock_feed.get_url}}">{{stock_feed.question_content}}</a>
            </div>
            <div class="co8 f12 pt-5">
                <a href="{{stock_feed.stock.get_url}}" class="">{{stock_feed.stock.name}}({{stock_feed.stock.code}})</a>
                <span class="f12 pull-right">{{stock_feed.create_time}}</span>
            </div>
            <div class="pt-15 f13 line-height-22 pointer show-detail" data-content="{{stock_feed.answer_content}}">
                {{stock_feed.answer_content|str_display:210}}
                {% if stock_feed.answer_content_length > 210 %}
                <a href="javascript:void(0);" class="pl-3 bgc-f1f1f1 f12">显示全部</a></span>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{{page_params|paging:request}}

{% endblock %}