{% extends "stock/base_stock.html" %}

{% block keywords %}股票,股票动态,最新股票动态,智选,个股研究,个股分析,个股评论,行业,B股,主力,中小板,三板{% endblock keywords %}

{% block description %}智选（www.zhixuan.com）提供最新股票动态：上市公司动态、个股问答、公司新闻、最热股票等股票行情信息。{% endblock description %}

{% block title %}最新股票动态{% endblock title %}

{% block stock_main%}
<div class="bottom-border bdc-bbb pt-10 pb-5 pl-10">
    <span class="f16 fb">最新股票动态</span>
</div>

<ul class="list-group">
	<li class="list-group-item no-l-r-bd bdc-eee pl-0 pr">
        <a href="/stock/1"><img class="pa avatar-45 avatar-square" src="http://rs.sns.sseinfo.com/resources/images/avatar/company/600000.png"></a>
        <div class="pl-55 pt-3">
            <div class="co8 f12">
                <a href="/stock/1" class="">浦发银行(600000)</a>
                <span class="f12 pull-right">2014-07-15 10:36:51</span>
            </div>
            <div class="pt-5">
                <a class="f14 black-blue fb" href="/stock/feed/1">天宸现在还有正在建设中的地产项目吗？管理层朝九晚五每天都在忙什么？公司的主业是什么？有什么发展规划吗？没有5年规划，那也来个3年规划如何？去年说要建设公司新...</a>
            </div>
            <div class="pt-10 f13">
                您好，公司目前有南方物流园区的近400亩商业用地及浦东机场南侧近400亩农用地，没有正在建设中的地产项目。
            </div>
        </div>
    </li>
    <li class="list-group-item no-l-r-bd bdc-eee pl-0 pr">
        <a href="/p/cf6e8770aa7b11e3ac1c00163e003240"><img class="pa avatar-45 avatar-square" src="http://rs.sns.sseinfo.com/resources/images/avatar/company/600521.png"></a>
        <div class="pl-55 pt-3">
            <div class="co8 f12">
                <a href="/p/cf6e8770aa7b11e3ac1c00163e003240" class="">华海药业(600521)</a>
                <span class="f12 pull-right">2014-07-15 10:36:51</span>
            </div>
            <div class="pt-5">
                <a class="f14 black-blue fb" href="/question/332">一公司有没有服务器的研发与生产？二国家推国产替代对公司与IBM的合作及业务有没有影响？三上半年订单情况与利润如何？四安迅奔科技是不是公司子公司？业务...</a>
            </div>
            <div class="pt-10 f13">
                您的问题解答如下: 1、华胜天成投资成立新云，开发拓展Power Linux服务器市场，为未来拟推出华胜天成自主品牌的linux服务器打下基础成自主品牌的lin成自主品牌的lin...
            </div>
        </div>
    </li>
    <li class="list-group-item no-l-r-bd bdc-eee pl-0 pr">
        <a href="/p/cf6e8770aa7b11e3ac1c00163e003240"><img class="pa avatar-45 avatar-square" src="http://rs.sns.sseinfo.com/resources/images/avatar/company/601318.png"></a>
        <div class="pl-55 pt-3">
            <div class="co8 f12">
                <a href="/p/cf6e8770aa7b11e3ac1c00163e003240" class="">中国平安(601318)</a>
                <span class="f12 pull-right">2014-07-15 10:36:51</span>
            </div>
            <div class="pt-5">
                <a class="f14 black-blue fb" href="/question/332">强烈要求平安像苹果公司学中报10转40降低投资门槛 提高股票活跃度.</a>
            </div>
            <div class="pt-10 f13">
                尊敬的投资者： 您好！非常感谢您对平安的关注与支持。建议已收悉，并将及时转达给公司管理层。
            </div>
        </div>
    </li>
    <li class="list-group-item no-l-r-bd bdc-eee pl-0 pr">
        <a href="/p/cf6e8770aa7b11e3ac1c00163e003240"><img class="pa avatar-45 avatar-square" src="http://rs.sns.sseinfo.com/resources/images/avatar/company/600810.png"></a>
        <div class="pl-55 pt-3">
            <div class="co8 f12">
                <a href="/p/cf6e8770aa7b11e3ac1c00163e003240" class="">神马股份(600810)</a>
                <span class="f12 pull-right">2014-07-15 10:36:51</span>
            </div>
            <div class="pt-5">
                <a class="f14 black-blue fb" href="/question/332">神马对自己的承诺视为儿戏，2011年突然宣布取消增发，坑了多少投资者。今年又建议豁免其收购承诺，理由竟然是权属责任不清，神马的管理层这不是自己扇自己脸吗？...</a>
            </div>
            <div class="pt-10 f13">
                二级市场的价格受到诸多因素的影响, 除了公司经营业绩，宏观经济形势、大盘走势、国家政策、投资者心理等都会导致公司股价的波动。无论人福医药的股价如何波动，公司的管...
            </div>
        </div>
    </li>
</ul>
{% endblock %}