{% extends "stock/base_stock.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block keywords %}{{stock.name}},{{stock.code}},{{stock.name}}最新消息,{{stock.name}}公告,{{stock.name}}新闻,{{stock.code}}最新消息,{{stock.code}}公告,{{stock.code}}新闻{% endblock keywords %}

{% block description %}{{stock.name}}({{stock.code}})最新动态：上市公司最新消息、公司公告、公司新闻等信息。{% endblock description %}

{% block title %}{{stock.name}}最新消息,{{stock.name}}({{stock.code}})公告新闻汇总{% endblock title %}

{% block stock_main %}
<div class="bottom-border bdc-bbb pl-10 mb-10 mt-5">
    <img class="pa avatar-65 avatar-square" title="{{stock.name}}" alt="{{stock.name}}" src="{{stock.img}}">
    <div class="pl-80 pb-10 pt-5">
        <h4>{{stock.name}}({{stock.code}})</h4>
        <div class="co8 f12">
            <span>共 {{stock.feed_count}} 条动态</span>
        </div>
    </div>
</div>

<ul class="list-group">
    {% for stock_feed in stock_feeds %}
    <li class="list-group-item no-l-r-bd bdc-eee">
        <div><a href="{{stock_feed.get_url}}" class="f14 black-blue fb">{{stock_feed.question_content}}</a></div>
        <div class="f13 pt-15">{{stock_feed.answer_content}}</div>
        <div class="pt-5 text-right"><span class="co8 f12">{{stock_feed.create_time}}</span></div>
    </li>
    {% endfor %}
</ul>
{{page_params|paging:request}}
{% endblock stock_main %}

{% block stock_right %}
<div class="f16 pb-10 fb pt-15">股票简介</div>
<div>
    <p>{{stock.des|default:"暂无简介"}}</p>
</div>

<div class="f16 pb-10 fb pt-15 mt-15 top-border bdc-eee">主营业务</div>
<div>{{stock.main_business|default:"暂无"}}</div>

<div class="f16 pb-10 fb pt-15 mt-15 top-border bdc-eee">所属板块</div>
<div>{{stock.get_belong_board_display}}</div>
{% endblock stock_right %}