{% extends "stock/base_stock.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}「{{stock_key_words}}」的股票搜索结果{% endblock title %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $.ZXUtils.highlight($('.stock-title'), "{{stock_key_words}}", '<span class="co23">{0}</span>');
});
</script>
{% endblock %}

{% block stock_main%}
<ul class="list-group">
    {% for stock in stocks %}
    <li class="list-group-item no-l-r-bd bdc-eee">
        <a href="{{stock.get_url}}"><img class="pa avatar-65 avatar-square" alt="{{stock.name}}" src="{{stock.img}}"></a>
        <div class="pl-75">
            <div class="f14 pt-5"> <a href="{{stock.get_url}}">{{stock.name}}({{stock.code}})</a></div>
            <div class="co8 f13 pt-5">{{stock.des|default:"暂无简介"|str_display:72}}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock stock_main%}