{% extends "stock/base_stock.html" %}

{% block keywords %}浦发银行,600000,浦发银行最新消息,浦发银行公告,浦发银行新闻{% endblock keywords %}

{% block description %}浦发银行(600000)最新动态：上市公司最新消息、公司公告、公司新闻等信息。{% endblock description %}

{% block title %}浦发银行最新消息,公告新闻汇总{% endblock title %}

{% block stock_main %}
<div class="bottom-border bdc-bbb pl-10 mb-10 mt-5">
    <img class="pa avatar-65 avatar-square" alt="个股分析" src="http://rs.sns.sseinfo.com/resources/images/avatar/company/600000.png">
    <div class="pl-80 pb-10 pt-5">
        <h4>浦发银行(600000)</h4>
        <div class="co8 f12">
            <span>共 198 条动态</span>
        </div>
    </div>
</div>

<ul class="list-group">
	<li class="list-group-item no-l-r-bd bdc-eee">
		<div><a href="/stock/feed/1" class="f14 black-blue fb">天宸现在还有正在建设中的地产项目吗？管理层朝九晚五每天都在忙什么？公司的主业是什么？有什么发展规划吗？没有5年规划，那也来个3年规划如何？去年说要建设公司新...</a></div>
		<div class="f13 pt-15">
			您的问题解答如下: 1、华胜天成投资成立新云，开发拓展Power Linux服务器市场，为未来拟推出华胜天成自主品牌的linux服务器打下基础成自主品牌的lin成自主品牌的lin...
		</div>
		<div class="pt-5 text-right"><span class="co8 f12">2014-07-07 15:12:52</span></div>
	</li>
	<li class="list-group-item no-l-r-bd bdc-eee">
		<div><a href="/stock/feed/1" class="f14 black-blue fb">我是公司的老股东，一直觉得公司资源较多，资产干净，唯一的问题就是没有稳定的主业，房地产也不景气，退出是正确的。但公司一直在确定主业方面进展缓慢。好不容...</a></div>
		<div class="f13 pt-15">
			您好，非常感谢您多提的问题与对公司的支持，有明确的战略方向及为股东创造良好的效益，是公司管理层的职责，希望您对公司继续支持，也希望能多提建议，谢谢！...
		</div>
		<div class="pt-5 text-right"><span class="co8 f12">2014-07-07 15:12:52</span></div>
	</li>
	<li class="list-group-item no-l-r-bd bdc-eee">
		<div><a href="/stock/feed/1" class="f14 black-blue fb">公司主业完全停滞，难道任其发展下去？不寻求转型注入新资产以回？报广大股民？</a></div>
		<div class="f13 pt-15">
			您好，感谢您对公司的关注，也非常感谢您所提的这一系列问题。如何充分利用公司现有资源和平台进行战略规划，能有为公司创造连续稳定的收入及收益的经营业务，创造良好效益以回报投...
		</div>
		<div class="pt-5 text-right"><span class="co8 f12">2014-07-07 15:12:52</span></div>
	</li>
</ul>
{% endblock stock_main %}

{% block stock_right %}
<div class="f16 pb-10 fb pt-15">股票简介</div>
<div>
	<p>
		上海浦东发展银行股份有限公司为1992年8月28日经中国人民银行总行以银复(1992)350号文批准设立的股份制商业银行,1992年10月19日由上海市工商行政管理局颁发法人营业执照,1993年1月9日正式开业。上海浦东发展银行股份有限公司于1999年11月10日上市交易。
	</p>
</div>

<div class="f16 pb-10 fb pt-15 mt-15 top-border bdc-eee">所属板块</div>
<div>
	中小企业板
</div>
{% endblock stock_right %}