{% extends "stock/base_stock.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block keywords %}{{stock.name}},{{stock.code}},{{stock.name}}最新消息,{{stock.name}}公告,{{stock.name}}新闻,{{stock.code}}最新消息,{{stock.code}}公告,{{stock.code}}新闻{% endblock keywords %}

{% block description %}{{stock.name}}({{stock.code}})最新动态：上市公司最新消息、公司公告、公司新闻等信息。{% endblock description %}

{% block title %}{{stock.name}}最新消息,{{stock.name}}({{stock.code}})公告新闻汇总{% endblock title %}

{% block css %}
<style type="text/css">
.active>span{
    color: #222;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/echarts/echarts.js"></script>
<script type="text/javascript">

require.config({
    paths: {
        echarts: '{{MEDIA_URL}}js/echarts'
    }
});

$(document).ready(function(){
    $('.follow-stock').bind('click', function(){
        var stockId = $(this).data("stock_id");

        $.ZXOperation.followStock(stockId, function(){
            $('.unfollow-stock').show();
            $('.follow-stock').hide();
        });
    });

    $('.unfollow-stock').bind('click', function(){
        var stockId = $(this).data("stock_id");
        
        $.ZXOperation.unfollowStock(stockId, function(){
            $('.unfollow-stock').hide();
            $('.follow-stock').show();
        });
    });

    $('.stock-chart-a').bind('click', function(){
        $('.stock-info-a').removeClass('active');
        $('.stock-info').hide();

        $('.stock-chart-a').removeClass('active').addClass('active');
        $('.stock-chart').show();
    });

    $('.stock-info-a').bind('click', function(){
        $('.stock-chart-a').removeClass('active');
        $('.stock-chart').hide();

        $('.stock-info-a').removeClass('active').addClass('active');
        $('.stock-info').show();
    });
});


var echarts,
    
    calculatePercent = function(length){
        if(length <= 30){
            return 0;
        } else if(30 <= length && length <= 60){
            return 50;
        } else if(60 <= length && length <= 120){
            return 75;
        } else if(120 <= length && length <= 240){
            return 87.5;
        }
    },

    // 今日个股成交额环比
    renderChain = function(xData, yData){
        var chainChart = echarts.init(document.getElementById('chain'));

        chainChart.setOption({
            title: {
                text: '历史成交额环比'
            },
            grid: {
                x2: 5
            },
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'line',
                    lineStyle : {
                      color: '#ddd',
                      width: 1,
                      type: 'solid'
                    }
                },
                formatter: '<b>{b}</b><br/>{a}: {c} %'
            },
            legend: {
                data:['成交额环比'],
                orient: 'horizontal',
                x: 'right',
                padding: [5, 40, 0, 0]
            },
            toolbox: {
                show : true,
                feature : {
                    saveAsImage : {show: true}
                }
            },
            dataZoom : {
                show : true,
                realtime : true,
                start : calculatePercent(xData.length),
                end : 100
            },
            calculable : false,
            xAxis: [{
                type : 'category',
                boundaryGap : false,
                data: xData,
                splitLine: {show: false},
            }],
            yAxis: [{
                type: 'value',
                axisLabel: {
                    formatter: '{value} %'
                }
            }],
            color: ['#428bca', '#E02C41'],
            series : [{
                name:'成交额环比',
                type:'line',
                smooth: true,
                data: yData
            }]
        });
    },

    renderPercentInTotal = function(xData, yData){
        var percentInTotalChart = echarts.init(document.getElementById('percent_in_total'));

        percentInTotalChart.setOption({
            title: {
                text: '历史成交额占总额比率'
            },
            grid: {
                x2: 5
            },
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'line',
                    lineStyle : {
                      color: '#ddd',
                      width: 1,
                      type: 'solid'
                    }
                },
                formatter: '<b>{b}</b><br/>{a}: {c} ‱'
            },
            legend: {
                data:['成交额占比'],
                orient: 'horizontal',
                x: 'right',
                padding: [5, 40, 0, 0]
            },
            toolbox: {
                show : true,
                feature : {
                    saveAsImage : {show: true}
                }
            },
            dataZoom : {
                show : true,
                realtime : true,
                start : calculatePercent(xData.length),
                end : 100
            },
            calculable : false,
            xAxis: [{
                type : 'category',
                boundaryGap : false,
                data: xData,
                splitLine: {show: false},
            }],
            yAxis: [{
                type: 'value',
                axisLabel: {
                    formatter: '{value} ‱'
                }
            }],
            color: ['#428bca', '#E02C41'],
            series : [{
                name:'成交额占比',
                type:'line',
                smooth: true,
                data: yData
            }]
        });
    },
    
    getStockHistoryChainData = function(){

        ajaxSend(
            "/stock/get_stock_history_chain_data", 
            {'stock_id': {{stock.id}} }, 
            function(response){
                if(response.x_data.length <= 0){
                    $.ZXNotice.InfoTopNotice('没有可用的数据');
                    return;
                }

                renderChain(response.x_data, response.y_data);
            }
        );
    },

    getStockHistoryPercentInTotalData = function(){

        ajaxSend(
            "/stock/get_stock_history_percent_in_total_data", 
            {'stock_id': {{stock.id}} }, 
            function(response){
                if(response.x_data.length <= 0){
                    $.ZXNotice.InfoTopNotice('没有可用的数据');
                    return;
                }

                renderPercentInTotal(response.x_data, response.y_data);
            }
        );
    };

require(
    [
        "echarts", 
        "echarts/chart/line", 
        "echarts/chart/bar"
    ],
    function(ec){
        echarts = ec;
        getStockHistoryChainData();
        getStockHistoryPercentInTotalData();
    }
);
</script>
{% endblock %}

{% block stock_main %}
<div class="bottom-border bdc-bbb pl-10 mb-10 mt-5">
    <img class="pa avatar-65 avatar-square" title="{{stock.name}}" alt="{{stock.name}}" src="{{stock.img}}">
    <div class="pl-80 pb-5 pt-5">
        <h4>{{stock.name}}({{stock.code}})</h4>
        <div class="co8 f12 row">
            <div class="{% if request.user and request.user.is_custom_manager %} col-md-6 {% else %} col-md-12 {% endif %} ">
                {{stock.feed_count}} 条动态<span class="pl-5 pr-5">•</span>{{stock.following_count}} 人关注
                
                <span class="{% if request.user and request.user.is_custom_manager %} a {% else %} pull-right {% endif %}">

                    <button class="btn btn-xs btn-primary ml-10 follow-stock {% if is_follow %}none{% endif %}" data-stock_id="{{stock.id}}">添加关注</button>
                    <button class="btn btn-xs btn-default ml-10 unfollow-stock {% if not is_follow %}none{% endif %}" data-stock_id="{{stock.id}}">取消关注</button>

                </span>
            </div>
            {% if request.user and request.user.is_custom_manager %} 
            <div class="col-md-6 text-right">
                <a href="javascript:void(0)" class="active stock-chart-a"><span class="f14 fb">个股图表</span></a>
                <span class="co8 pl-5 pr-5">|</span>
                <a href="javascript:void(0)" class="stock-info-a"><span class="f14 fb">个股资讯</span></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!--图表-->
<div class="stock-chart {% if not request.user or not request.user.is_custom_manager %} none {% endif %}">
    <div class="min-h400 mt-15" id="chain"></div>

    <div class="min-h400 mt-35" id="percent_in_total"></div>
</div>
<!--资讯-->
<div class="stock-info {% if request.user and request.user.is_custom_manager %} none {% endif %}">
    <ul class="list-group">
        {% for stock_feed in stock_feeds %}
        <li class="list-group-item no-l-r-bd bdc-eee">
            <div><a href="{{stock_feed.get_url}}" class="f14 black-blue fb">{{stock_feed.question_content|safe}}</a></div>
            <div class="f13 pt-15 line-height-22">{{stock_feed.answer_content|safe}}</div>
            <div class="pt-5 text-right"><span class="co8 f12">{{stock_feed.create_time}}</span></div>
        </li>
        {% endfor %}
    </ul>
    {{page_params|paging:request}}
</div>
{% endblock stock_main %}

{% block stock_right %}
<div class="f16 pb-10 fb pt-15">股票简介</div>
<div>
    <p>{{stock.des|default:"暂无简介"}}</p>
</div>

<div class="f16 pb-10 fb pt-15 mt-15 top-border bdc-eee">主营业务</div>
<div class="line-height-22">{{stock.main_business|default:"暂无"}}</div>

<div class="f16 pb-10 fb pt-15 mt-15 top-border bdc-eee">所属板块</div>
<div class="line-height-22">{{stock.get_belong_board_display}}</div>
{% endblock stock_right %}