{% extends "stock/base_stock.html" %}

{% block keywords %}浦发银行,600000{% endblock keywords %}

{% block description %}天宸现在还有正在建设中的地产项目吗？管理层朝九晚五每天都在忙什么？公司的主业是什么？有什么发展规划吗？没有5年规划，那也来个3年规划如何？去年说要建设公司新的网站，至今没有进展？什么原因？{% endblock description %}

{% block title %}天宸现在还有正在建设中的地产项目吗？管理层朝... - 浦发银行{% endblock title %}

{% block stock_main%}
<div class="pt-15 pr">
	<span class="pa pl-25 pr-25 pb-25 pt-25 bgc-e9e9e9 img-circle"></span>
	<span class="pa co3 f40 fa fa-question pl-12 pt-5"></span>
	<div class="pl-60 f14 bdc-eee bottom-border pb-5">
		<p class="fb">天宸现在还有正在建设中的地产项目吗？管理层朝九晚五每天都在忙什么？公司的主业是什么？有什么发展规划吗？没有5年规划，那也来个3年规划如何？去年说要建设公司新的网站，至今没有进展？什么原因？</p>
	</div>

	<a href=""><img class="pa avatar-45 avatar-square mt-15" src="http://rs.sns.sseinfo.com/resources/images/avatar/company/600000.png"></a>
	<div class="pl-60 f13 pt-15 line-height-22">
		<div>
			<a href="/stock/1" class="f12">浦发银行(600000)</a>
			<span class="co8 f12 pull-right">2014-07-07 15:23:56</span>
		</div>
		<p class="pt-5">
		您的问题解答如下: 1、华胜天成投资成立新云，开发拓展Power Linux服务器市场，为未来拟推出华胜天成自主品牌的linux服务器打下基础。关于新云可查公告信息。 2、上半年订单和利润情况，届时请关注半年报。 3、安讯奔为间接控股子公司。2014年百富勤大中华资本增值基金以现金方式向安讯奔出自985万美金。本次融资为华胜天成自主软件产品的资本整合以及业务拓展践行了第一步。 4、华胜天成近年来积极的研发安全可控的自有品牌产品，拓展云计算、大数据、智慧城市等新型业务，具体信息您可登陆我们的网站进行浏览。
		</p>
	</div>
</div>
{% endblock stock_main%}