{% extends "kaihu/base_article.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block title %}{{article.title}}  {{city.get_city_name_for_seo}}理财资讯{% endblock %}

{% block info_left %}
<div class="text-center">
    <h3 class="fb">{{article.title}}</h3>
</div>
<div>
    <span class="pull-right co8 f12">{{article.create_time|date:"Y-m-d"}}</span>
</div>
<div class="pt-25 line-height-25">{{article.content|safe}}</div>
{% endblock info_left %}