{% extends "kaihu/base_kaihu.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}申请认证客户经理{% endblock %}

{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('#entry_time').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });
    
    $.ZXTextboxList.create('#belong_department', {
        max: 1,
        placeholder: '选择营业部',
        inputPlaceholder: '',
        url: '/get_departments_by_name',
        param: 'department_name',
        loadPlaceholder: '正在加载...'
    });
    
    $('.auth-form').validate();
    
});
</script>
{% endblock %}

{% block kaihu-main %}
<form class="form-horizontal auth-form" role="form" method="post" action="/auth_custom_manager" enctype="multipart/form-data">
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">客户经理名称</label>
        <div class="col-sm-6">
            <p class="form-control-static">{{request.user.nick}}</p>
            <input type="hidden" name="user_id" value="{{request.user.id}}" />
        </div>
    </div>
    
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">真实照片</label>
        <div class="col-sm-6">
            <img class="avatar-75 avatar-circle mb-10" src="{{img_name}}" />
            <input name="img" required type="file" />图片尺寸为 75(宽) X 75(长)
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">真实姓名</label>
        <div class="col-sm-3">
            <input type="text" required maxlength='16' name="real_name" class="form-control" value='{{real_name}}'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">QQ</label>
        <div class="col-sm-3">
            <input type="text" required maxlength='10' class="form-control number" name="qq" value='{{qq}}'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">手机</label>
        <div class="col-sm-3">
            <input type="text" required minlength='8' maxlength='11' class="form-control" name="mobile" value='{{mobile}}'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">入行时间</label>
        <div class="col-sm-3">
            <input type="text" required maxlength='10' class="form-control date" name="entry_time" id="entry_time" value='{{entry_time}}'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">所属营业部</label>
        <div class="col-sm-9">
            <input type="text" required class="form-control" name="belong_department" id="belong_department" value=''>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">认证信息</label>
        <div class="col-sm-9">
            <input type="text" required class="form-control" name="vip_info" placeholder="例如：投资顾问 或 投资经理等" value='{{vip_info}}'>
        </div>
    </div>
    
    
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">身份证号</label>
        <div class="col-sm-9">
            <input type="text" required minlength="15" maxlength="18" class="form-control" name="id_card" placeholder="请输入真实有效的身份证号" value='{{id_card}}'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">从业资格证编号</label>
        <div class="col-sm-9">
            <input type="text" required class="form-control" name="id_cert" value='{{id_cert}}'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-3 control-label">个人简介</label>
        <div class="col-sm-9">
            <textarea style="height: 200px;" class="form-control" name="des" placeholder="一句话介绍下自己">{{des}}</textarea>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0">
        <div class="col-xs-12 text-right">
            {% if flag == 0 %}
            <button type="button" class="btn btn-default disabled">等待审核中...</button>
            {% else %}
            <button type="submit" class="btn btn-primary ok">提交申请</button>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}

{% block kaihu-right %}{% endblock %}
