{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block home_css %}
<style type="text/css">

</style>
{% block css %}{% endblock %}
{% endblock %}

{% block home_js%}
{% block javascript %}{% endblock %}
{% endblock %}

{% block container_content %}
<div class="col-xs-12 col-md-8 ">
	<!-- 面包屑导航 -->
	<ol class="pl-0 breadcrumb border-radius-0 bgc-0 bottom-border bdc-ddd mb-10">
	    <li>
	        <a href="http://kaihu.{{SERVER_DOMAIN|default:'zhixuan.com'}}">全国股票开户</a>
	    </li>
	    <li>
	        <a href="{{city.get_url}}">{{city.get_city_name_for_seo}}股票开户</a>
	    </li>
	</ol>
	
	{% block info_left %}{% endblock info_left %}
</div>

<div class="col-xs-12 col-md-4 pl-50">
	<!-- 开户广告 -->
    {% kaihu_ad %}

	<!-- 随机营业部 -->
    {% random_department %}
        
	<!-- 最新资讯 -->
    {% latest_article %}
</div>
{% endblock container_content %}
