{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block home_css %}
<style type="text/css">
.hot-topics{
    border-top: 0;
}
</style>
{% block css %}{% endblock %}
{% endblock %}

{% block home_js%}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Euh1QN3IbOinInNNq9lWnQPB"></script>
{% block javascript %}{% endblock %}
{% endblock %}

{% block container_content %}
<div class="zx-kaihu-main col-md-8">
    {% block kaihu-main %}{% endblock %}
</div>
<div class="zx-kaihu-right col-md-4 pl-50">
    {% block kaihu-right %}
        <!-- 热门话题 -->
        {% random_department %}

        <!-- 最新资讯 -->
        {% latest_article %}

        <!-- 二维码 -->
        {#% include 'include/_global_qrcode.html' %#}

    {% endblock %}
</div>
{% endblock %}


