{% extends "kaihu/base_kaihu.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}成都股票开户{% endblock %}

{% block kaihu-main %}
<a class="active border-block-blue pa ml-5 pl-10 pr-10 pt-3 pb-3" href="#">全部区域</a>
<ul class="list-flow pt-100">
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">武侯区(35)</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">青羊区(23)</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">金牛区(15)</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">锦江区(13)</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">成华区(5)</a></li>
</ul>

<a class="active border-block-blue pa ml-5 pl-10 pr-10 pt-3 pb-3" href="#">所有券商</a>
<ul class="list-flow pt-100">
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">招商证券</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">国泰君安</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">中银国际</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">国信证券</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">华西证券</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">广发证券</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">华泰证券</a></li>
    <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">国金证券</a></li>
</ul>
{% endblock %}