{% extends "kaihu/base_kaihu.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block keywords %}{{department.get_short_name}}{% endblock %}
{% block description %}{{department.get_short_name}}为您服务，营业部位于{{department.addr}}。{% endblock %}

{% block title %}{{department.get_short_name}}{% endblock %}

{% block css %}
<style type="text/css">
.securities-list>li{
    transition: background-color 0.5s;
}

.securities-list>li:hover{
    background-color: aliceblue;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('.showMap').bind('click', function(e){
        $.ZXMap.locationByName($(this).parent().next().next().next().html());
    });
});
</script>
{% endblock %}

{% block kaihu-main %}
<!-- 面包屑导航 -->
<ol class="breadcrumb border-radius-0 bgc-0 bottom-border bdc-ddd mb-10 pl-0">
    <li>
        <a href="http://kaihu.{{SERVER_DOMAIN|default:'zhixuan.com'}}">全国股票开户</a>
    </li>
    <li>
        <a href="{{department.city.get_url}}">{{department.city.get_city_name_for_seo}}股票开户</a>
    </li>
    {% if department.district %}
    <li>
        <a href="{{department.district.get_url}}">{{department.district.district}}股票开户</a>
    </li>
    {% endif %}
    <li>
        <a href="{{department.get_url}}">{{department.get_short_name}}</a>
    </li>
</ol>

<div class="pt-15 row">

    <div class="col-md-3 col-xs-12">
        <img class="w150 h90 pl-3 pr-3 pt-3 pb-3 box-shadow-024 border-1 bdc-eee" src="{{department.company.img}}" alt="{{department.get_short_name}}" >
    </div>
    <div class="col-md-9 col-xs-12">
        <div class="pb-10">
            <span class="f18">{{department.get_short_name}}</span>
            <a href="javascript: void(0);" class="co8 f12 pull-right showMap"><span class="glyphicon glyphicon-map-marker"></span>查看地图</a>
        </div>
        <div>所属公司: <span class="pl-5">{{department.company.get_short_name}}</span></div>
        <div>联系电话: <span class="pl-5">-</span></div>
        <div>联系地址: <span class="pl-5">{{department.addr}}</span></div>
    </div>
</div>

<div class="bottom-border bdc-zx pb-3 pl-10 mt-35">
    <span class="bgc-zx co3 pb-6 pt-5 pl-10 pr-10">营业部简介</span>
</div>
<div class="tab-pane fade pt-15 in active text-indent-30" id="description">{{department.des|default:'暂无简介'|safe}}</div>

<div class="bottom-border bdc-zx pb-3 pl-10 mt-25">
    <span class="bgc-zx co3 pb-6 pt-5 pl-10 pr-10">营业部成员</span>
</div>
{% if customer_managers %}
<div class="tab-pane fade pt-15 in" id="members">
    <ul class="list-inline row pl-20 pr-20 pt-5">
        {% for cm in customer_managers %}
        <li class="col-md-6 col-xs-12 bottom-border bdc-eee pb-10 pt-10">
            <a href="{{MAIN_DOMAIN}}/p/{{cm.user_id}}"><img class="pa avatar-75 avatar-circle" alt="{{cm.user_nick}}" src="{{cm.user_avatar}}"></a>
            <div class="pl-100 row pr-10">
                <div class="pb-5">
                    <a href="{{MAIN_DOMAIN}}/p/{{cm.user_id}}">{{cm.user_nick}}</a>
                </div>
                <div class="pb-5">
                    <span class="pr-10">提问 <a href="{{MAIN_DOMAIN}}/p/{{cm.user_id}}/questions">{{cm.user_question_count}}</a></span>
                    <span class="pr-10">回答 <a href="{{MAIN_DOMAIN}}/p/{{cm.user_id}}/answers">{{cm.user_answer_count}}</a></span>
                    <span class="pr-10">赞 <a href="javascript:void(0);">{{cm.user_liked_count}}</a></span>
                </div>
                <div class="pb-5 co6 f13">
                    <span class="glyphicon glyphicon-fire f18 pr-3 co19"></span>{{cm.vip_info|default:"暂无认证信息"}}
                </div>
            </div>
            <div class="pt-10">
                <span class="pl-5">
                    {{cm.company_short_name}}
                </span>
                
                <span class="pl-25">
                    <span class="glyphicon glyphicon-earphone co-zx"></span>{{cm.mobile|default:"暂无"}}
                </span> 
                <span class="pr-5">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin={{cm.qq}}&site=qq&menu=yes" target="_blank" class="pl-5 pr-3"><img class="avatar-15 mt--2" src="{{MEDIA_URL}}img/common/contact-qq.png"></a>
                </span>
            </div>
        </li>
        {% endfor%}
    </ul>
</div>
{% else %}
<div class="tab-pane fade pt-15 in" id="members">
    <div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无成员，虚位以待</div>
</div>
{% endif %}


<!-- 营业部最新动态 -->
<div class="bottom-border bdc-zx pb-3 pl-10 mt-25">
    <span class="bgc-zx co3 pb-6 pt-5 pl-10 pr-10">成员最新动态</span>
</div>
<ul class="list-group">
    {% for feed in feeds %}
    <li class="list-group-item no-l-r-bd bdc-eee">
        <a href="{{MAIN_DOMAIN}}/p/{{feed.user_id}}"><img class="pa avatar-45 avatar-circle" alt="{{feed.user_nick}}" src="{{feed.user_avatar}}"></a>
        <div class="pl-55">
            <div class="co8 f12">
                <a href="{{MAIN_DOMAIN}}/p/{{feed.user_id}}">{{feed.user_nick}}</a> 回答了该提问
                <span class="pull-right">{{feed.create_time}}</span>
            </div>
            <div class="pt-5">
                <a class="black-blue f14 fb" href="{{MAIN_DOMAIN}}/question/{{feed.question_id}}">{{feed.question_title}}</a>
            </div>
            <div class="pt-10 f13">
                {{feed.answer_summary}}
                <a href="{{MAIN_DOMAIN}}/question/{{feed.question_id}}#to_answer_{{feed.answer_id}}" class="pl-5 f12">
                    <span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}

