{% extends "kaihu/base_kaihu.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}国泰君安北京方庄路营业部{% endblock %}

{% block css %}
<style type="text/css">
.securities-list>li{
    transition: background-color 0.5s;
}

.securities-list>li:hover{
    background-color: aliceblue;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('.showMap').bind('click', function(e){
        $.ZXMap.locationByName($(this).prev().html());
    });
});
</script>
{% endblock %}

{% block kaihu-main %}
<!-- 面包屑导航 -->
<ol class="breadcrumb border-radius-0 bgc-0 bottom-border bdc-ddd mb-10">
    <li>
        <a href="/kaihu">全国股票开户</a>
    </li>
    <li>
        <a href="/kaihu/department_list/1">北京股票开户</a>
    </li>
    <li>
        <a href="/kaihu/department_detail/1">国泰君安北京德外大街营业部</a>
    </li>
</ol>

<div class="pt-15 row">
    <!-- <img class="pa w150 h90 pl-3 pr-3 pt-3 pb-3 box-shadow-024 border-1 bdc-eee" src="/static/img/common/quanshang1.jpg">
    <div class="pl-170">
        <div class="pb-10">
            <span class="f18">国泰君安北京德外大街营业部</span>
            <a href="javascript: void(0);" class="co8 f12 pull-right showMap"><span class="glyphicon glyphicon-map-marker"></span>查看地图</a>
        </div>
        <div>所属公司: <span class="pl-5">国泰君安</span></div>
        <div>联系电话: <span class="pl-5">010-88888888</span></div>
        <div>联系地址: <span class="pl-5">北京市丰台区方庄路一号北京方庄路营业部北京方庄路证券营业部</span></div>
    </div> -->

    <div class="col-md-3 col-xs-12">
            <img class="w150 h90 pl-3 pr-3 pt-3 pb-3 box-shadow-024 border-1 bdc-eee" src="{{MEDIA_URL}}img/common/quanshang1.jpg">
    </div>
    <div class="col-md-9 col-xs-12">
        <div class="pb-10">
            <span class="f18">国泰君安北京德外大街营业部</span>
            <a href="javascript: void(0);" class="co8 f12 pull-right showMap"><span class="glyphicon glyphicon-map-marker"></span>查看地图</a>
        </div>
        <div>所属公司: <span class="pl-5">国泰君安</span></div>
        <div>联系电话: <span class="pl-5">010-88888888</span></div>
        <div>联系地址: <span class="pl-5">北京市丰台区方庄路一号北京方庄路营业部北京方庄路证券营业部</span></div>
    </div>
</div>


<ul class="nav nav-pills pt-15 zx-nav-pills">
    <li class="active">
        <a href="#description" class="black-blue" data-toggle="pill">营业部简介</a>
    </li>
    <li>
        <a href="#members" class="black-blue" data-toggle="pill">营业部成员</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade pt-15 in active" id="description">
        <p>国泰君安成都顺城大街营业部交易总额在全省128家营业部中排名第二。</p>
        <p>2001年我部股票交易量稳步攀升，在全省名列前茅，其中B股交易量稳居全省第一位，股份代办转让托管市值和交易金额均排在全省第一名。2002年股票、基金交易量排在全省第二。荣获2003年度四川省证券期货行业十佳“优秀营业部”。</p>
        <p>国泰君安成都顺城大街营业部真诚地欢迎您来我部开户投资，您的需要就是我们努力的目标，您的满意就是我们的成绩。我们将以最优质的服务来报答您对我们的信任与支持。选择国泰君安，是您投资成功的第一步。</p>
        <p>欢迎前来咨询国泰君安成都顺城大街营业部开户。</p>
    </div>
    <div class="tab-pane fade pt-15 in" id="members">
        <ul class="list-inline row pl-25 pr-25 pt-5">
            <li class="col-md-6 col-md-12 bottom-border bdc-eee pb-10 pt-10">
                <a href="#"><img class="pa avatar-55 avatar-circle" src="{{MEDIA_URL}}img/common/user1.jpg"></a>
                <div class="pl-85 row pr-10">
                    <div class="pb-5">
                        <a href="#">半夜没事瞎溜达</a>
                    </div>
                    <div class="pb-5">
                        <span class="pr-10">提问 <a href="#">56</a></span>
                        <span class="pr-10">回答 <a href="#">114</a></span>
                        <span class="pr-10">赞 <a href="#">322</a></span>
                    </div>
                    <div class="pb-5 co6 f13">
                        <span class="glyphicon glyphicon-tower pr-3 co19"></span>盛大资本投资总监
                    </div>
                </div>
            </li>
            <li class="col-md-6 col-md-12 bottom-border bdc-eee pb-10 pt-10">
                <img class="pa avatar-55 avatar-circle" src="{{MEDIA_URL}}img/common/user2.jpg">
                <div class="pl-85 row pr-10">
                    <div class="pb-5">
                        <a href="#">女王大人</a>
                    </div>
                    <div class="pb-5">
                        <span class="pr-10">提问 <a href="#">68</a></span>
                        <span class="pr-10">回答 <a href="#">245</a></span>
                        <span class="pr-10">赞 <a href="#">453</a></span>
                    </div>
                    <div class="pb-5 co6 f13">
                        <span class="glyphicon glyphicon-tower pr-3 co19"></span>盛大资本投资总监
                    </div>
                </div>
            </li>
            <li class="col-md-6 col-md-12 bottom-border bdc-eee pb-10 pt-10">
                <img class="pa avatar-55 avatar-circle" src="{{MEDIA_URL}}img/common/user3.jpg">
                <div class="pl-85 row pr-10">
                    <div class="pb-5">
                        <a href="#">半夜没事瞎溜达</a>
                    </div>
                    <div class="pb-5">
                        <span class="pr-10">提问 <a href="#">56</a></span>
                        <span class="pr-10">回答 <a href="#">114</a></span>
                        <span class="pr-10">赞 <a href="#">322</a></span>
                    </div>
                    <div class="pb-5 co6 f13">
                        <span class="glyphicon glyphicon-tower pr-3 co19"></span>盛大资本投资总监
                    </div>
                </div>
            </li>
            <li class="col-md-6 col-md-12 bottom-border bdc-eee pb-10 pt-10">
                <img class="pa avatar-55 avatar-circle" src="{{MEDIA_URL}}img/common/user4.png">
                <div class="pl-85 row pr-10">
                    <div class="pb-5">
                        <a href="#">女王大人</a>
                    </div>
                    <div class="pb-5">
                        <span class="pr-10">提问 <a href="#">68</a></span>
                        <span class="pr-10">回答 <a href="#">245</a></span>
                        <span class="pr-10">赞 <a href="#">453</a></span>
                    </div>
                    <div class="pb-5 co6 f13">
                        <span class="glyphicon glyphicon-tower pr-3 co19"></span>盛大资本投资总监
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}