{% extends "kaihu/base_kaihu.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}股票开户{% endblock %}

{% block css %}
<style type="text/css">
.area>li.active{
    background-color: #428bca;
    transition: all 0.5s;
}

.area>li.active:hover{
    background-color: #428bca;
}

.area>li.active a{
    color: white;
}

.area .area-arrow{
    visibility: hidden;
}

.area>li.active .area-arrow{
    visibility: visible;
}

.tab-content li{
    transition: background-color 0.5s;
}
.tab-content li:hover{
    background-color: aliceblue;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // 左侧区域鼠标移动导航
    $('.area li').bind('mouseenter', function(e){
        $(this).children('a').tab('show');
    });

});
</script>
{% endblock %}

{% block container_content %}
<div class="zx-kaihu-main col-md-12 row pt-10 min-h600">
    <div class="col-md-2 pr-0">
        <div class="pt-3 pb-5 bottom-border bdc-ddd text-center f16">按区域查找券商信息</div>
        <ul class="list-group area bottom-border bdc-ddd">
            {% for area in areas %}
            <li class="list-group-item no-l-r-bd text-center {% if forloop.counter0 == 0 %}active{% endif %}">
                <a href="#area_{{area.id}}" data-toggle="tab" class="no-unl no-hover-unl">
                    {{area.area}}
                    <span class="glyphicon glyphicon-chevron-right area-arrow pull-right f12 co3 pt-3"></span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-10 tab-content pl-0 pr-0 mt-30 border-1 bdc-ddd box-shadow-559">
        {% for cba in citys_by_area %}
        <div class="tab-pane in {% if forloop.first %}active{% endif %} col-md-12" id="area_{{cba.0.id}}">
            <ul class="list-inline">
                {% for cbp in cba.1 %}
                <li class="col-md-12 col-xs-12">
                    <div class="pt-10 pl-25">
                        <span class="pr-10 line-height-25 h25 f14 fb">{{cbp.0.province}}</span>
                    </div>
                    <div class="pt-5 pb-15 pl-15 pr-25 f13 bottom-border bdc-eee ml-10">
                        {% for city in cbp.1 %}
                        {% if city.is_show %}
                        <a href="{{city.get_url}}" class="no-unl no-hover-unl pr-10 line-height-25 h25 black-blue ws-nowrap">{{city.city}}</a>
                        {% else %}
                        <span class="no-unl no-hover-unl pr-10 line-height-25 h25 ws-nowrap">{{city.city}}</span>
                        {% endif %}
                        {% if not forloop.last %}<span class="co17 pr-10">|</span>{% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row pl-15 pr-15">
    <div class="col-md-12">
        <div class="bottom-border bdc-bbb pt-10 pb-5 pl-15">
                <a href="/kaihu/news"><span class="f16 fb">营业部新闻</span></a>
                <a href="/kaihu/news" class="f12 co8 pull-right">更多 »</a>
        </div>
            
        <ul class="list-inline row pl-15 pr-15">
            {% for news in newses %}
            <li class="pl-0 pr-0 pt-10 pb-10 no-l-r-bd bottom-border bdc-eee col-md-6">
                <div class="left-border-4 bdc-light-zx pl-15">
                    <div><a class="black-blue" href="{{news.get_url}}">{{news.title}}</a></div>
                    <div class="co8 f12 pt-5">{{news.create_time|date:"Y-m-d"}}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock %}