{% extends "kaihu/base_info.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block css %}
<style type="text/css">
.more-infos{
    display: none;
}
</style>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block info_left %}
<div class="text-center">
    <h3 class="fb">手游概念股有哪些？页游，端游呢？</h3>
</div>
<div>
    <span class="pull-right co8 f12">2014-07-01</span>
</div>
<div class="pt-25 line-height-25">
    <p>
        6月13日，深交所发布了《关于完善首次公开发行股票上市首日交易机制有关事项的通知》（以下简称“《通知》”），《通知》对于新股上市首日交易机制主要在哪些方面做了调整？
    </p>
    <p>
        答：为切实防范新股上市首日交易风险，维护证券市场秩序，保护投资者的合法权益，根据《中国证监会关于进一步推进新股发行体制改革的意见》和本所《交易规则》等有关规定，经中国证监会批准，本所于2014年6月13日发布了《通知》，对新股上市首日交易机制进一步完善。
    </p>
    <p>
        本次对新股上市首日交易机制主要做了三方面的调整：一是全日设立不高于发行价144%且不低于发行价64%的有效申报价格范围限制，超出有效申报价格范围的申报为无效申报；二是取消盘中成交价首次达到或超过开盘价上下20%的盘中临时停牌阈值，并将10%停牌阈值的临时停牌时间，由原来的1小时调整为30分钟；三是盘中临时停牌结束复牌时以及收盘阶段，调整集合定价为集合竞价。
    </p>
    <p>2、 问： 什么是有效申报价格范围？超过有效申报价格范围的买卖申报可以参与新股首日交易吗？</p>
    <p>
        答：有效申报价格范围是指可以参与新股首日交易的价格区间。在新股上市首日全天，投资者的买卖申报价格不能超过发行价的144%，也不能低于发行价的64%，超过有效申报价格范围的买卖申报是无效的，不能参与新股首日交易。
    </p>
    <p>
        有效申报价格范围的计算结果按照四舍五入的原则取至价格最小变动单位，即0.01元。例如，某新股发行价为10.01元，那么投资者提交的买卖申报价格应该低于等于14.41元（10.01×144%=14.4144元，并四舍五入），并且高于等于6.41元（10.01×64%=6.4064元，并四舍五入）。高于14.41元或低于6.41元的买卖申报是无效申报，不能参与新股首日交易。
    </p>
    <p>3、 问：什么是有效竞价范围？超过有效竞价范围的买卖申报可以参与新股首日交易吗？</p>
    <p>
        答：有效竞价范围是当前参与竞价的申报价格范围。价格超过有效竞价范围，但未超过有效申报价格范围的买卖申报，不能参与当前竞价，将暂时保留在交易主机中；当成交价波动使其进入有效竞价范围时，交易主机自动取出申报，参加竞价。
    </p>
    <p>4、 问：什么申报价格可以参与新股上市首日的开盘集合竞价？</p>
    <p>
        答：按照《通知》的规定，新股上市首日开盘集合竞价的有效竞价范围为发行价的上下20%，即较发行价上涨20%、下跌20%范围内的申报价格可以参与开盘集合竞价。有效竞价范围的计算结果按照四舍五入原则取至价格最小变动单位，即0.01元。假设某只新股的发行价是11.00元，则开盘集合竞价的有效竞价范围上限为11.00×(1+20%)=13.20元，下限为11.00×(1-20%)=8.80元。投资者在开盘集合竞价期间，提交价格在8.80元至13.20元之间（含本数）的买卖申报，才能参与开盘集合竞价。
    </p>
    <p>
        如果投资者在开盘集合竞价期间提交14.00元的买入申报，因为超过了发行价上下20%的有效竞价范围，因此不能参与开盘集合竞价，但由于此价格处于全日有效申报价格范围的7.04元（11元×64%））至15.84元（11元×144%）之间，所以暂时保留在交易主机中。
    </p>
    <p>需要提醒投资者注意的是，若集合竞价阶段没有产生开盘价，则以当日第一笔成交价作为开盘价。</p>
    <p>5、 问： 连续竞价、复牌集合竞价、收盘集合竞价的有效竞价范围是多少？</p>
    <p>
        答：连续竞价、复牌集合竞价、收盘集合竞价的有效竞价范围是最近成交价的上下10%。与开盘集合竞价有效竞价范围不同，连续竞价、复牌集合竞价、收盘集合竞价的有效竞价范围是随最近成交价的变化而动态变化的，但同样不得超过全日有效申报价格范围。
    </p>
    <p>
        例如，某新股发行价为11.00元，投资者提交14.00元的买入申报，将无法参与开盘集合竞价，暂时保留在交易主机中。若该新股开盘价为13.00元，连续竞价开始时，该新股有效竞价范围调整为11.70元到14.30元（开盘价13.00元的上下10%），则14.00元的买入申报进入有效竞价范围内，将参与连续竞价。
    </p>
    <p>6、 问： 新股上市首日交易过程中，出现什么情形将导致盘中临时停牌？临时停牌时间为多长？</p>
    <p>答：连续竞价开始后，当新股盘中成交价较当日开盘价首次上涨或下跌达到或超过10%时，将实施盘中临时停牌30分钟。</p>
    <p>投资者需要注意的是，盘中临时停牌仅在成交价第一次达到或超过停牌阈值时触发。</p>
    <p>7、 问： 盘中临时停牌的停牌阈值是如何计算出来的？</p>
    <p>
        答：根据《通知》的规定，当新股盘中成交价较当日开盘价首次上涨或下跌达到或超过10%时，实施盘中临时停牌。因此，新股的停牌阈值等于开盘价×（1±10%），由于计算结果可能到厘位，为确保实际停牌阈值达到或超过10%的幅度，停牌阈值将根据计算结果取整至分位，即当新股盘中成交价较当日开盘价上涨时，停牌阈值将向上取整至0.01元；下跌时，停牌阈值将向下取整至0.01元。例如，某新股开盘价为10.01元，那么理论停牌阈值为11.011元（10.01×110%）或9.009元（10.01×90%）。根据上述取整原则，实际停牌阈值应为11.02元（11.011元向上取整）或9.00元（9.009向下取整）。
    </p>
    <p>8、 问： 新股上市首日临时停牌期间，投资者能否提交申报或撤销申报？</p>
    <p>答：新股上市首日临时停牌期间，投资者可以提交申报，也可以撤销申报。</p>
    <p>9、 问：新股上市首日临时停牌时间如跨越14:57，按什么方式进行处理？</p>
    <p>答：《通知》规定，临时停牌时间跨越14：57的，于14：57复牌并对已接受的申报进行复牌集合竞价，再进行收盘集合竞价。</p>
    <p>
        例如，某新股盘中成交价在14：30时触发停牌条件，在14：57时，该新股交易将先后进入两个程序：一是14：57时进行复牌集合竞价，二是14：57至15：00进行收盘集合竞价。
    </p>
    <p>10、 问： 新股上市首日盘中临时停牌公告中的停牌开始时间为什么可以为0秒，如“自09时30分00秒起对该股实施停牌”？</p>
    <p>答：交易主机处理申报的时间精确到微秒级，而停牌公告时间只到秒级，所以会出现停牌开始时间为09:30:00的情况。</p>
    <p>
        例如，某新股开盘价为10.00元，09：30开盘后，瞬间可能产生多笔成交，成交价格变化到11.00元（开盘涨幅首次超过10%），触发临时停牌30分钟。若上述成交均在09：30微秒级别内产生，那么停牌时间将显示为09：30：00。
    </p>
    <p>11、 问： 新股上市首日的收盘价确定方式与其在其他交易日收盘价确定方式有无区别？</p>
    <p>
        答：没有区别。此次新股上市首日收盘阶段交易机制调整为集合竞价，即对集中申报簿中的买卖申报进行一次性集中撮合。收盘价通过集合竞价方式产生，与其他交易日的收盘价产生方式没有区别。
    </p>
    <p>需要提醒投资者注意的是，收盘集合竞价阶段，投资者不可以撤销申报。</p>
    <p>12、 问：新股上市首日接受市价申报吗？</p>
    <p>答：新股上市首日不接受市价申报。</div>
    {% endblock info_left %}