{% extends "kaihu/base_news.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block css %}
<style type="text/css">
.more-infos{
    display: none;
}
</style>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block title %}营业部新闻{% endblock %}
{% block description %}营业部最新新闻{% endblock description %}

{% block info_left %}
<ul class="list-group pt-0">
    {% for news in newses %}
    <li class="list-group-item pl-0 pr-0 no-l-r-bd bdc-eee">
        <div class="left-border-4 bdc-light-zx pl-15">
            <div>
                <a class="black-blue f16" href="{{news.get_url}}">{{news.title}}</a>
                <span class="f12 co8 pull-right">{{news.create_time|date:"Y-m-d"}}</span>
            </div>
            <div class="co8 f12 pt-10 pb-5">{{news.get_summary|safe}}</div>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="blank10"></div>
{{page_params|paging:request}}
{% endblock info_left %}