{% extends "kaihu/base_news.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block css %}
<style type="text/css"></style>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block keywords %}{% endblock %}
{% block title %}{{news.title}}{% endblock title %}
{% block description %}{{news.title}}，智选{% endblock description %}

{% block info_left %}
<div class="text-center">
	<h3 class="fb">{{news.title}}</h3>
</div>
<div>
	<span class="pull-right co8 f12">{{news.create_time|date:"Y-m-d"}}</span>
</div>
<div class="f15 pt-25 line-height-25">{{news.content|safe}}</div>

<!-- 上一篇 下一篇 -->
<div class="bgc-fff top-border bottom-border bdc-eee row ml-0 mr-0 mt-35">
	<div class="col-md-6 pt-20 pb-20 pl-50 pr">
		{% if news_pre %}
		<a href="{{news_pre.get_url}}" class="black-blue">
			<span class="pa fa fa-angle-left f40 co8" style="left:15px;"></span>
			<span class="f16 fb">{{news_pre.title}}</span>
		</a>
		{% endif %}
	</div>
	<div class="col-md-6 pt-20 pb-20 pr-50 pr left-border bdc-eee">
		{% if news_next %}
		<a href="{{news_next.get_url}}" class="black-blue">
			<span class="pa fa fa-angle-right f40 co8" style="right:15px;"></span>
			<span class="f16 fb">{{news_next.title}}</span>
		</a>
		{% endif %}
	</div>
</div>

<!-- 相关新闻 -->
<div class="pt-20">
	<div class="f16 pb-10">相关新闻</div>
	<ul class="list-unstyled">
		{% for news in newses_related %}
		<li class="pb-5">
			<span class="fa fa-caret-right"></span>
			<a href="{{news.get_url}}" class="pl-5">{{news.title}}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock info_left %}