{% extends "admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}营业部管理{% endblock %}

{% block css %}
<style type="text/css">
.preview{
    right: 135px;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Department = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': '',
            'departmentId': '',
            'companyId': '',
            'companyName': '',
            'name': '',
            'uniqueId': '',
            'des': '',
            'customMangerCount': '',
            'img': '',
            'imgAlt': '',
            'address': '',
            'tel': '',
            'cityId': '',
            'cityName': '',
            'districtId': '',
            'districtName': '',
            'sort': ''
        }

    });

    // collections
    var Departments = Backbone.Collection.extend({
        model: Department,

        _modelMaps: {
            'num': 'num',
            'departmentId': 'department_id',
            'companyId': 'company_id',
            'companyName': 'company_name',
            'name': 'name',
            'des': 'des',
            'customMangerCount': 'custom_manager_count',
            'address': 'address',
            'tel': 'tel',
            'cityId': 'city_id',
            'cityName': 'city_name',
            'cityPinyin': 'city_pinyin_abbr',
            'districtId': 'district_id',
            'districtName': 'district_name',
            'sort': 'sort_num'
        },

        // 查询
        search: function(name, order, pageIndex){
            var me = this;

            ajaxSend(
                "/admin/kaihu/department/search", 
                {'name': name||'', 'order': order||'0', 'page_index': pageIndex||1}, 
                function(data){
                    me.pageIndex = pageIndex||1;
                    me.pageCount = data.page_count;
                    me.order = order||'0';
                    me.name = name||'';
                    me.all_count = data.all_count;
                    me.total_count = data.total_count;

                    me.reset($.ZXUtils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        // 获取一个提问的model
        getOne: function(departmentId, callback){
            var me = this;

            ajaxSend(
                "/admin/kaihu/department/get_department_by_id", 
                {'department_id': departmentId},
                function(data){
                    if(callback){
                        callback($.ZXUtils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        //
        modifyDepartment: function(data, callback){
            var me = this, postData = {};

            // 转换
            _.map(data, function(i){postData[i.name] = i.value});

            ajaxSend(
                "/admin/kaihu/department/modify_department", 
                postData,
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#department_list',

        pagination: new $.ZXPagination.PaginationView(),

        template: _.template($('#department_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'search',
            'click .pointer': 'modifyDepartment'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();

            this.setProgress(Math.round(this.collection.total_count / this.collection.all_count * 10000) / 100);

            this.$('tbody').html(this.template({'departments': data}));

            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.name + '/' + this.collection.order
            );
        },

        // 显示面板
        showPanel: function(){
            $('.zx-nav-pills a[href="#department_list"]').tab('show');

            // 精度条
        },

        setProgress: function(percent){
            this.$('.progress-percent').html(percent + '%');
            this.$('.progress-bar').css('width', percent + '%');
        },

        search: function(){
            var name = this.$('.key-word').val(),
                order = this.$('.order').val();

            router.navigate(String.format('/search/{0}/{1}/1', name, order), {trigger: true});
        },

        modifyDepartment: function(sender){
            var target = $(sender.currentTarget),
                departmentId = target.data('department_id');

            router.navigate('/modify/' + departmentId, {trigger: true});
        }

    });

    // modifyView
    var ModifyView = Backbone.View.extend({
        
        el: '#modify_department',

        template: _.template($('#modify_department_template').html()),

        events: {
            'click .save': 'save'
        },

        cityTextBox: null,
        initCityTextBox: function(name, value){
            var me = this;

            this.cityTextBox = $.ZXTextboxList.create('#belong_city_modify', {
                max: 1,
                placeholder: '选择所属城市',
                url: '/admin/user/customer_manager/get_citys_by_name',
                param: 'city_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.cityTextBox.add(name, value);
            }

            // 绑定添加城市事件，用于自动取出城市下面的所有区域
            this.cityTextBox.target.onAdd = function(target){
                me.initDistrict(target.getValue()[0]);
            }
        },

        companyTextBox: null,
        initCompanyTextBox: function(name, value){
            this.companyTextBox = $.ZXTextboxList.create('#belong_company_modify', {
                max: 1,
                placeholder: '选择所属公司',
                url: '/admin/kaihu/department/get_company_by_name',
                param: 'company_name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.companyTextBox.add(name, value);
            }
        },

        initDistrict: function(cityId, districtId){
            var me = this;
            ajaxSend(
                "/admin/kaihu/city/get_districts_by_city", 
                {'city_id': cityId},
                function(data){
                    var html = [];
                    html.push('<option value="0">未选择</option>');

                    $.map(data, function(i){
                        
                        html.push(String.format('<option value="{0}">{1}</option>', i.district_id, i.district_name));
                    });
                    me.$('.district').html(html.join(''));

                    me.$('.district').val(districtId);
                }
            );

        },

        // 显示面板
        showPanel: function(){
            $('.zx-nav-pills a[href="#modify_department"]').tab('show');
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));

            this.initCityTextBox(data.cityName, data.cityId);
            this.initCompanyTextBox(data.companyName, data.companyId);
            this.initDistrict(data.cityId, data.districtId);
            createEditor('#dec_editor_modify');
        },

        // 显示提问信息
        modifyDepartment: function(departmentId){
            var me = this;

            this.collection.getOne(departmentId, function(data){
                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.ZXMsg.alert('提示', '没有找到对应的营业部!');
                }
            });
        },

        // 保存
        save: function(){
            var departmentId = this.$('form').data('department_id'),
                me = this;

            me.collection.modifyDepartment(this.$('form').serializeArray(), function(data){
                if(data.errcode === 0){
                    $.ZXNotice.SuccessTopNotice('操作成功!');
                    router.navigate('modify/' + departmentId, {'trigger': true});
                } else {
                    $.ZXNotice.ErrorTopNotice(data.errmsg);
                }
            })
        }


    });

    
    // router
    var Router = Backbone.Router.extend({

        routes: {
            "":                             "search",
            "modify/:departmentId":         "modify",
            "search/(:name)/(:order)/:pageIndex":    "search",
        },

        // 查询
        search: function(name, order, pageIndex){
            departments.search(name||'', order||'0', pageIndex||1);
        },

        // 显示修改界面
        modify: function(departmentId){
            modifyView.modifyDepartment(departmentId);
        }

    });
    
    // 初始化
    var departments = new Departments(),
        listView = new ListView({'collection': departments}),
        modifyView = new ModifyView({'collection': departments}),
        router = new Router();
 
    Backbone.history.start();

});

</script>
{% endblock %}

{% block admin-right %}
<ul class="nav nav-pills pt-15 zx-nav-pills">
    <li class="active">
        <a href="#department_list" class="black-blue" data-toggle="pill">营业部列表</a>
    </li>
    <li>
        <a href="#modify_department" class="black-blue" data-toggle="pill">修改营业部信息</a>
    </li>
</ul>

<div class="tab-content">
    <!-- 客户经理列表 -->
    <div class="tab-pane fade pt-15 in active" id="department_list">
        <form action="." onsubmit="javascript: return false;">
            <div class="pl-0 pb-10 col-md-2">
                <select class="form-control input-sm order">
                    <option value="0">全部营业部</option>
                    <option value="1">有描述营业部</option>
                    <option value="2">无描述营业部</option>
                </select>
            </div>
            <div class="pl-0 pb-10 col-md-5">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control border-radius-0 key-word" placeholder="输入营业部名称..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default search" type="submit">查询</button>
                    </span>
                </div>
            </div>
            <div class="pl-0 pr-0 pt-5 col-md-5">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" style="width: 0%">
                        <span class="progress-percent co22">0%</span>
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>营业部名称</th>
                    <th>客户经理数</th>
                    <th>所属城市</th>
                    <th>所属公司</th>
                    <th>排序</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm zx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改客户经理信息 -->
    <div class="tab-pane fade" id="modify_department">
        
    </div>
</div>

<!-- 客户经理列表 -->
<script type="text/template" id="department_template">
    <% _.each(departments, function(department){ %>
        <tr class="pointer" data-department_id="<%= department.departmentId %>">
            <td><%= department.num %></td>
            <td><%= department.name %></td>
            <td><%= department.customMangerCount %></td>
            <td><%= department.cityName %></td>
            <td><%= department.companyName %></td>
            <td><%= department.sort %></td>
        </tr>
    <% }) %>
</script>

<!-- 修改问题模板 -->
<script type="text/template" id="modify_department_template">
    <form class="form-horizontal" data-department_id="<%= departmentId %>" role="form" method="post" action="">

        <input type="hidden" name="department_id" value="<%= departmentId %>" />
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">营业部名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="name" value='<%= name %>'>
            </div>
            <p class="form-control-static pf" style="right: 145px;">
                <button type="button" class="btn btn-primary save pa" style="left: -120px;">提交你的修改</button>
                <a href="http://<%= cityPinyin %>.{{SERVER_DOMAIN}}/kaihu/department_detail/<%= departmentId %>" target="_blank">
                    <span class="fa fa-eye pr-5"></span>预览
                </a>
            </p>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="sort" value='<%= sort %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">电话</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="tel" value='<%= tel %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">所属城市</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="belong_city" id="belong_city_modify" value=''>
                <!-- <p class="form-control-static"><%= cityName %></p> -->
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">所属区</label>
            <div class="col-sm-3">
                <select class="form-control input-sm district" name="district_id">
                    
                </select>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">所属公司</label>
            <div class="col-sm-6">
                <!-- <input type="text" class="form-control" name="belong_company" id="belong_company_modify" value=''> -->
                <p class="form-control-static"><%= companyName %></p>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">地址</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="addr" value='<%= address %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">营业部描述</label>
            <div class="col-sm-9">
                <textarea name="des" rows="6" id="dec_editor_modify" class="form-control" style="height: 300px;"><%= des %></textarea>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">客户经理数</label>
            <div class="col-sm-6">
                <p class="form-control-static"><%= customMangerCount %></p>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary save">提交你的修改</button>
                <button type="button" class="btn btn-danger ml-15 remove none">删除此友情链接</button>
            </div>
        </div>
    </form>
</script>

{% endblock admin-right %}