{% extends "base/base_admin.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}后台首页{% endblock %}

{% block bheader %}
<style type="text/css">
body{
    background-color: #F0F4F7;
}

.admin-profile{
    color: #ddd;
    padding-top: 5px;
    font-size: 12px;
} 

.admin-profile .profile{
    padding-top: 5px;
}

.avatar{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.zx-admin-container{
    min-height: 360px;
    padding: 10px 0 0 0;
    margin-top: 80px;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 4px;
}

.zx-admin-left .list-group-item{
    border-left: 0px;
    border-radius: 0px;
    border-right: 0px;
    transition: background-color 0.5s; 
}

.zx-admin-left .list-group-item:hover{
    background-color: #dbdbdb;
}

.zx-admin-left{
    padding-top: 10px;
}

.zx-admin-left .list-group-item:first-child{
    border-top: 0px;
}

.zx-admin-main{
    border-left: solid 1px #ddd;
    margin-bottom: 20px;
    min-height: 380px;
}

.zx-admin-main{
    min-height: 450px;
    border-left: 1px solid #ddd;
    margin-bottom: 20px;
    /*padding-top: 10px;*/
}

.zx-admin-main .form-group{
    padding-top: 20px;
    margin-right: 10px;
    border-top: solid 1px #f2f2f2;
    margin-left: 10px;
}

.zx-admin-main .form-group:first-child{
    border-top: 0px;
}

</style>
<script type="text/javascript">
$(document).ready(function(){
    window.setInterval(function(){
        var d = new Date();
        var strDate = String.format(
            '{0}-{1}-{2} {3}:{4}:{5}', 
            addZero(d.getFullYear()), 
            addZero(d.getMonth()+1), 
            addZero(d.getDate()),
            addZero(d.getHours()),
            addZero(d.getMinutes()),
            addZero(d.getSeconds())
        ); 
        $('.clock').html(strDate);
    }, 1000);
});
</script>
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}

{% endblock bheader %}

{% block container %}
<div class="col-md-3 zx-admin-left">
    <a class="list-group-item {% if '/admin/question_type' == request.path %} active {% endif %}" href="/admin/question_type">
        {% if '/admin/question_type' == request.path %}<span class="glyphicon glyphicon-bookmark"></span> {% endif %}
        问题分类管理
    </a>
    <a class="list-group-item {% if '/s/about' == request.path %} active {% endif %}" href="#">
        {% if '/s/about' == request.path %}<span class="glyphicon glyphicon-bookmark"></span> {% endif %}
        问题管理
    </a>
    <a class="list-group-item {% if '/s/disclaimer' == request.path %} active {% endif %}" href="#">
        {% if '/s/disclaimer' == request.path %}<span class="glyphicon glyphicon-bookmark"></span> {% endif %}
        每日精华管理
    </a>
    <a class="list-group-item {% if '/s/links' == request.path %} active {% endif %}" href="#">
        {% if '/s/links' == request.path %}<span class="glyphicon glyphicon-bookmark"></span> {% endif %}
        用户管理
    </a>
    
</div>
<div class="col-md-9 zx-admin-main">
    {% block admin-main %}{% endblock %}
</div>
{% endblock container %}