{% extends "admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}每日精选管理{% endblock %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Important = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': 0,
            'questionId': 0,
            'userId': '',
            'userNick': '',
            'title': '',
            'description': '',
            'img': '',
            'imgAlt': '',
            'sort': '',
            'createdTime': new Date(),
            'setImportantTime': new Date()
        }

    });

    // collections
    var Importants = Backbone.Collection.extend({
        model: Important,

        _modelMaps: {
            'num': 'num',
            'questionId': 'question_id',
            'userId': 'user_id',
            'userNick': 'user_nick',
            'title': 'title',
            'description': 'description',
            'img': 'img',
            'imgAlt': 'img_alt',
            'sort': 'sort_num',
            'createdTime': 'create_time',
            'setImportantTime': 'set_important_time'
        },

        // 查询
        search: function(title, pageIndex){
            var me = this;

            ajaxSend(
                "/admin/important_question/get_important_question_by_title", 
                {'title': title||'', 'page_index': pageIndex}, 
                function(data){
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.title = title||'';

                    me.reset($.ZXUtils.dictMapParse(data.data, me._modelMaps))
                }
            );
        },

        // 获取一个提问的model
        getOne: function(questionId, callback){
            var me = this;

            ajaxSend(
                "/admin/important_question/get_important_question_by_question_id", 
                {'question_id': questionId},
                function(data){
                    if(callback){
                        callback($.ZXUtils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        cancelImportant: function(questionId, callback){
            ajaxSend(
                "/admin/important_question/cancel_important", 
                {'question_id': questionId},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#important_list',

        pagination: new $.ZXPagination.PaginationView(),

        template: _.template($('#item_important_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search-important': 'searchImportant',
            'click .pointer': 'modifyImportant'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();
            this.$('tbody').html(this.template({'importants': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.title
            );
        },

        // 显示面板
        showPanel: function(){
            $('.zx-nav-pills a[href="#important_list"]').tab('show');
        },

        searchImportant: function(){
            var title = this.$('.key-word').val();

            router.navigate('/search/' + title + '/1', {trigger: true});
        },

        modifyImportant: function(sender){
            var target = $(sender.currentTarget),
                questionId = target.data('question_id');

            router.navigate('/modify/' + questionId, {trigger: true});
        }

    });

    // modifyView
    var ModifyView = Backbone.View.extend({
        
        el: '#modify_important',

        template: _.template($('#modify_important_template').html()),

        events: {
            'click .save-important': 'saveImportant',
            'click .cancel-important': 'cancelImportant'
        },

        // 初始化日期控件
        initDatetimepicker: function(){
           
            $('.datetimepicker').datetimepicker({
                format: 'yyyy-mm-dd hh:mm:s',
                language: 'zh-CN',
                minView: 0,
                autoclose: true
            });
        },

        // 初始化话题控件
        initTextboxList: function(){
            var text_topics = new $.TextboxList('#important_topics', {
                bitsOptions: {
                    box: {deleteButton: true}
                },
                unique: true, 
                max: 100,
                plugins: {
                    autocomplete: {
                        minLength: 1, // 最小字符
                        queryRemote: true, // 远程查询
                        placeholder: '添加话题',
                        highlight: false,
                        onlyFromValues: true, // 是否默认选中第一个结果
                        remote: {
                            url: '/question/get_topic_info_by_name', 
                            param: 'topic_name',
                            loadPlaceholder: '正在加载...',
                        }
                    }
                }

            });

            return text_topics;
        },

        // 显示面板
        showPanel: function(){
            $('.zx-nav-pills a[href="#modify_important"]').tab('show');
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));

            //this.initDatetimepicker();
            //this.initTextboxList();
        },

        // 显示提问信息
        modifyImportant: function(questionId){
            var me = this;

            this.collection.getOne(questionId, function(data){
                if(data){
                    me.render(data);
                    me.showPanel();
                    
                } else {
                    setTimeout(function(){history.go(-1);}, 3000)
                    $.ZXMsg.alert('提示', '没有找到对应的精选');
                }
            });
        },

        // 保存提问
        saveImportant: function(){
            var questionId = this.$('form').data('question_id'),
                me = this;

            me.$('form').submit();
            
        },

        // 删除提问
        cancelImportant: function(){
            var questionId = this.$('form').data('question_id'),
                me = this;

            $.ZXMsg.confirm('提示', '确认要删除此提问吗?', function(result){
                //todo...
                if(result){
                    me.collection.cancelImportant(questionId, function(data){
                        if(data.errcode === 0){
                            me.collection.search();
                        } else {
                            $.ZXMsg.alert('提示', data.errmsg);
                        }
                    });
                }
                
            });
        }

    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_important_template').html()),

        _windowHtml: [
            '<div class="modal fade" id="add_important_modal" tabindex="-1" role="dialog">',
                '<div class="modal-dialog">',
                    '<div class="modal-content">',
                        '<div class="modal-header pb-5">',
                            //'<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>',
                            '<h4 class="modal-title">添加精选</h4>',
                        '</div>',
                        '<div class="modal-body">',
                            '{0}',
                        '</div>',
                        '<div class="modal-footer">',
                            '<button type="button" class="btn btn-default cancel">取消</button>',
                            '<button type="button" class="btn btn-primary add-important">确定</button>',
                        '</div>',
                    '</div>',
                '</div>',
            '</div>'
        ].join(''),

        _setWindow: function(content){
            
            var target = $('#add_important_modal'),
                me = this;

            if(target.length == 0){
                $('body').append(String.format(this._windowHtml, content));
                target = $('#add_important_modal');

                target.find('.cancel').bind('click', function(){
                    history.go(-1);
                });

                target.find('.add-important').bind('click', function(){
                    me.addImportant();
                });

            } else {
                target.find('.modal-body').html(content);
            }

            target.modal({'show': true, 'backdrop': 'static'});
        },

        showPanel: function(questionId){
            var me = this;

            ajaxSend(
                "/admin/question/get_question_by_id", 
                {'question_id': questionId}, 
                function(data){
                    
                    if(data){
                        me._setWindow(me.template(data));
                    } else {
                        $.ZXMsg.alert('提示', '没有找到对应的提问');
                    }
                }
            );

        },

        addImportant: function(){
            var me = this;

            $('#add_important_modal').find('form').submit();
        }
    });

    // router
    var ImportantRouter = Backbone.Router.extend({

        routes: {
            "":                             "search",
            "modify/:importantId":          "modify",
            "search/(:title)/:pageIndex":   "search",
            "add/:questionId":              "add"
        },

        // 查询
        search: function(title, pageIndex){
            importants.search(title, pageIndex);
        },

        // 显示修改界面
        modify: function(importantId){
            modifyView.modifyImportant(importantId);
        },

        add: function(questionId){
            addView.showPanel(questionId);
        }

    });
    
    // 初始化
    var importants = new Importants(),
        listView = new ListView({'collection': importants}),
        modifyView = new ModifyView({'collection': importants}),
        addView = new AddView(),
        router = new ImportantRouter();

    Backbone.history.start();

});

</script>
{% endblock %}

{% block admin-right %}
<ul class="nav nav-pills pt-15 zx-nav-pills">
    <li class="active">
        <a href="#important_list" class="black-blue" data-toggle="pill">每日精选列表</a>
    </li>
    <li>
        <a href="#modify_important" class="black-blue" data-toggle="pill">修改每日精选</a>
    </li>
</ul>

<div class="tab-content">
    <!-- 提问列表 -->
    <div class="tab-pane fade pt-15 in active" id="important_list">
        <div class="pl-0 pb-10 col-md-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control border-radius-0 key-word" placeholder="输入提问标题..." />
                <span class="input-group-btn">
                    <button class="btn btn-default search-important" type="button">查询</button>
                </span>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题</th>
                    <th>提问者</th>
                    <th>提问时间</th>
                    <th>排序</th>
                    <th>设置时间</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm zx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改提问 -->
    <div class="tab-pane fade" id="modify_important">
        
    </div>
</div>

<!-- 问题列表模板 -->
<script type="text/template" id="item_important_template">
    <% _.each(importants, function(important){ %>
        <tr class="pointer" data-question_id="<%= important.questionId %>">
            <td><%= important.num %></td>
            <td><%= important.title %></td>
            <td><%= important.userNick %></td>
            <td><%= important.createdTime %></td>
            <td><%= important.sort %></td>
            <td><%= important.setImportantTime %></td>
        </tr>
    <% }) %>
</script>

<!-- 修改问题模板 -->
<script type="text/template" id="modify_important_template">
    <form class="form-horizontal modify-important-form" data-question_id="<%= questionId %>" role="form" method="post" enctype="multipart/form-data" action="/admin/important_question/modify_important">
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">提问标题</label>
            <div class="col-sm-6">
                <p class="form-control-static"><%= title %></p>
                <input type="hidden" value="<%= questionId %>" name="questionId" />
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">精选图片</label>
            <div class="col-sm-6">
                <img src="<%= img %>" class="w200 pl-3 pr-3 pt-3 pb-3 box-shadow-024 border-1 bdc-eee">
                <input class="pt-15" name="importantImg" type="file" class="important-file" />
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">图片描述</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name='imgAlt' value='<%= imgAlt %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">排序权重</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name='sort' value='<%= sort %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary save-important">提交你的修改</button>
                <button type="button" class="btn btn-danger ml-15 cancel-important">取消此精华</button>
            </div>
        </div>
    </form>
</script>

<!-- 添加问题模板 -->
<script type="text/template" id="add_important_template">
    <form class="form-horizontal add-important-form" data-question_id="<%= question_id %>" role="form" method="post" enctype="multipart/form-data" action="/admin/important_question/add_important">
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">提问标题</label>
            <div class="col-sm-6">
                <p class="form-control-static"><%= question_title %></p>
                <input type="hidden" value="<%= question_id %>" name="questionId" />
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">精选图片</label>
            <div class="col-sm-6">
                <img src="" class="w200 pl-3 pr-3 pt-3 pb-3 box-shadow-024 border-1 bdc-eee">
                <input class="pt-15" name="importantImg" type="file" class="important-file" />
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">图片描述</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name='imgAlt' value=''>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">排序权重</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name='sort' value='0'>
            </div>
        </div>
    </form>
</script>
{% endblock admin-right %}