{% extends "admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}邀请注册管理{% endblock %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('.search').bind('click', function(){
        var name = $('.name').val();
        
        if(!name){
            return;
        }
        
        $('.invite-by').html('被邀请于: ');
        $('.invite').html('');
        
        ajaxSend(
            "/admin/user/invitation/search", 
            {"name": name}, 
            function(data){
                var inviteBy = data["invite_by"],
                    invite = data["invite"];
                
                // 被邀请于
                if(inviteBy.id != ""){
                    var inviteByHtml = String.format('被邀请于: <a href="{{MAIN_DOMAIN}}/p/{0}" class="pl-5"><img class="avatar avatar-circle avatar-45" src="{1}" /></a><a href="{{MAIN_DOMAIN}}/p/{2}" class="pl-5">{3}</a>', inviteBy['id'], inviteBy['avatar'], inviteBy['id'], inviteBy['name']);
                    $('.invite-by').html(inviteByHtml);
                }
                
                // 邀请的人
                if(invite.length > 0){
                    var inviteHtml = "";
                
                    $.map(invite, function(o){
                        inviteHtml += String.format('<li class="text-center"><a href="{{MAIN_DOMAIN}}/p/{0}" class=""><img class="avatar avatar-circle avatar-45" src="{1}" title="{2}" /><div class="w70">{3}</div></a></li>', 
                        o['id'], 
                        o['avatar'], 
                        o['name'], 
                        (o['name'].length > 4) ? (o['name'].substring(0, 4) + '...') : o['name'])
                    });
                    $('.invite').html(inviteHtml);
                }
                
            }
        );
    });
});

</script>
{% endblock %}

{% block admin-right %}
<div class="pt-10 row pl-20">
    <div class="col-md-3">
        <input type="text" class="form-control input-sm name" placeholder="输入要查询的昵称" />
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary btn-sm search">查 询</button>
    </div>
    
    <div class="col-md-12 pt-15 invite-by">
        被邀请于: 
    </div>
    
    <div class="col-md-12 pt-15">
        <div class="pt-15 top-border bdc-ddd">已邀请的人:</div>
        <div class="pt-10">
            <ul class="list-inline invite">
                
            </ul>
        </div>
    </div>
</div>

{% endblock admin-right %}
