{% extends "admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}问题分类管理{% endblock %}

{% block css %}
<style type="text/css">
#question_type_list{
    padding-top: 10px;
}

.question-type-items{
    min-height: 310px;
}

.filter-question-type{
    /*padding-right: 50px;*/
}
</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
var questionTypeModule = angular.module('QuestionTypeModule', []);

// 修改模板渲染标签
questionTypeModule.config(function($interpolateProvider) {
  $interpolateProvider.startSymbol('{[{');
  $interpolateProvider.endSymbol('}]}');
});

questionTypeModule.factory('QuestionTypeService', function(){
    var service = {}, data = [
        {id: '1', name: '大盘', value: '10', domin: 'a', sort_num: '1', state: true},
        {id: '2', name: '基金', value: '20', domin: 'b', sort_num: '2', state: true},
        {id: '3', name: '股票', value: '30', domin: 'c', sort_num: '3', state: true},
        {id: '4', name: '期货', value: '40', domin: 'd', sort_num: '4', state: true}
    ];

    // 查询方法
    service.query = function(keyWords){
        // In real apps, we'd pull this data from the server…
        
        return data;
    };

    // 添加方法
    service.add = function(name, value, domin, sort_num, state){
        data.push({
            id: (data.length + 1) ,
            name: name,
            value: value,
            domin: domin,
            sort_num: sort_num,
            state: state
        });
    }

    // 删除
    service.remove = function(questionTypeId){
        // console.log(questionTypeId);
        for (var i = data.length - 1; i >= 0; i--) {
            if(data[i].id == questionTypeId){
                data.splice(i, 1);
            }
        };
    };

    // 显示详细
    service.detail = function(questionTypeId){
        for (var i = data.length - 1; i >= 0; i--) {
            if(data[i].id == questionTypeId){
                return data[i];
            }
        };
    }

    // 保存
    service.save = function(questionTypeId, name, value, domin, sort_num, state){
        for (var i = data.length - 1; i >= 0; i--) {
            if(data[i].id == questionTypeId){
                data[i].name = name;
                data[i].value = value;
                data[i].domin = domin;
                data[i].sort_num = sort_num;
                data[i].state = state;
            }
        };
        return true;
    }
    return service;
});

// 问题类型的控制器
function questionTypeListController($scope, QuestionTypeService){
    $scope.questionType = {};
    $scope.questionTypeItems = QuestionTypeService.query();

    // 添加问题类型
    $scope.addQuestionType = function(){

        QuestionTypeService.add(
            $scope.questionType.questionTypeName,
            $scope.questionType.questionTypeValue,
            $scope.questionType.questionTypeDomin,
            $scope.questionType.questionTypeSortNum,
            $scope.questionType.questionTypeState
        );
        // 切换到列表页面  todo...
        $('.question-type-tabs a:first').tab('show');
    };

    // 修改问题类型
    $scope.saveQuestionType = function(){
        QuestionTypeService.save(
            $scope.questionType.questionTypeId,
            $scope.questionType.questionTypeName,
            $scope.questionType.questionTypeValue,
            $scope.questionType.questionTypeDomin,
            $scope.questionType.questionTypeSortNum,
            $scope.questionType.questionTypeState
        );
        
        $('#edit_modal').modal('hide');
    };

    // 显示问题类型
    $scope.detailQuestionType = function(questionTypeId){
        var data = QuestionTypeService.detail(questionTypeId);
        
        $scope.questionType.questionTypeId = data.id;
        $scope.questionType.questionTypeName = data.name;
        $scope.questionType.questionTypeValue = data.value;
        $scope.questionType.questionTypeDomin = data.domin;
        $scope.questionType.questionTypeSortNum = data.sort_num;
        $scope.questionType.questionTypeState = data.state;
        
    }

    // 删除问题类型
    $scope.removeQuestionType = function(questionTypeId){
        QuestionTypeService.remove(questionTypeId);
    }

    $scope.clearData = function(){
        $scope.questionType = {};
    }
}

$(document).ready(function(){
    
});
</script>
{% endblock %}


{% block admin-main %}
<div ng-app="QuestionTypeModule" ng-controller="questionTypeListController">
    <!-- Nav tabs -->
    <ul class="question-type-tabs nav nav-tabs">
        <li class="active">
            <a href="#question_type_list" data-toggle="tab">问题类型列表</a>
        </li>
        <li>
            <a href="#add_question_type" ng-click="clearData()" data-toggle="tab">添加问题类型</a>
        </li>
        <li class="pull-right">
            <div class="filter-question-type row">
                <div class="col-md-8">
                    <input type="text" class="form-control" name="filter_question_type_name" placeholder="输入要查找的问题类型名称"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-default">查询</button>
                </div>
            </div>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="question_type_list">
            <div class="question-type-items">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>名称</th>
                            <th>属性值</th>
                            <th>域名</th>
                            <th>排序</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in questionTypeItems">
                            <td>{[{$index + 1}]}-{[{item.id}]}</td>
                            <td>{[{item.name}]}</td>
                            <td>{[{item.value}]}</td>
                            <td>{[{item.domin}]}</td>
                            <td>{[{item.sort_num}]}</td>
                            <td>{[{item.state}]}</td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#edit_modal" ng-click="detailQuestionType(item.id)">修改</a>
                                <button type="submit" class="btn btn-primary" ng-click="removeQuestionType(item.id)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <ul class="pagination pagination-sm">
                    <li class="disabled">
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

            <!-- 修改提问弹出层 -->
            <div class="modal fade" id="edit_modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form role="form" ng-submit="saveQuestionType()" class="form-horizontal" method='post' action=''>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">修改问题类型</h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name='question_type_id' ng-model="questionType.questionTypeId">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">类型名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="question_type_name" placeholder="" value='' ng-model="questionType.questionTypeName"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">属性值</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="question_type_value" placeholder="" value='' ng-model="questionType.questionTypeValue"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">域名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="question_type_domin" placeholder="" value='' ng-model="questionType.questionTypeDomin"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">排序</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="question_type_sort_num" placeholder="" value='' ng-model="questionType.questionTypeSortNum"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">状态</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="question_type_state" placeholder="" value='' ng-model="questionType.questionTypeState"></div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary" ng-submit=>保存修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 添加提问 -->
        <div class="tab-pane fade" id="add_question_type" ng-submit="addQuestionType()">
            <form role="form" class="form-horizontal" method='post' action='' name="addQuestionTypeForm">

                <div class="form-group">
                    <label class="col-sm-2 control-label">类型名称</label>
                    <div class="col-sm-5">
                        <input type="text" required ng-maxlength='10' ng-minlength='1' class="form-control" name="question_type_name" placeholder="" value='' ng-model="questionType.questionTypeName"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">属性值</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="questionType.questionTypeValue" name="question_type_value" placeholder="" value=''></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">域名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="questionType.questionTypeDomin" name="question_type_domin" placeholder="" value=''></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">排序</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="questionType.questionTypeSortNum" name="question_type_sort_num" placeholder="" value=''></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">状态</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="questionType.questionTypeState" name="question_type_state" placeholder="" value=''></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" ng-disabled='!addQuestionTypeForm.$valid' class="btn btn-primary">添加新的提问类型</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock admin-main %}