{% extends "admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}当日活跃用户统计{% endblock %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    var d1 = new Date(),
        today = $.ZXUtils.formatDate(d1, 'y-m-d'),
        d2 = new Date(d1.getFullYear(), d1.getMonth() - 1, d1.getDate()),
        lastMonth = $.ZXUtils.formatDate(d2, 'y-m-d');

    $('.start-date').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });
    $('.start-date').val(lastMonth);

    $('.end-date').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: true
    });
    $('.end-date').val(today);


    $('.select').bind('click', function(){
        // 验证时间间隔是否小于30天
        var startDate = new Date($('.start-date').val()),
            startDateStr = $.ZXUtils.formatDate(new Date($('.start-date').val()), 'y-m-d'),
            endDate = new Date($('.end-date').val()),
            endDateStr = $.ZXUtils.formatDate(new Date($('.end-date').val()), 'y-m-d'),
            offset = (endDate - startDate)/1000/60/60/24;

        if(offset > 31){
            $.ZXMsg.alert('提示', '时间间隔不能超过31天');
            return;
        }

        ajaxSend(
            "/admin/statistics/statistic_register_user", 
            {'start_date': startDateStr, 'end_date': endDateStr}, 
            function(data){
                $.ZXChart.lineChart({
                    title: String.format("{0} 至 {1}期间注册用户统计", startDateStr, endDateStr),
                    subtitle: '',
                    categories: _.map(data, function(d){return d.date}),
                    xAxis: '日期',
                    yAxis: '注册人数',
                    series: [{
                        name: '人数',
                        data: _.map(data, function(d){return d.value})
                    }]
                })

            }
        );

        
    })
});

</script>
{% endblock %}

{% block admin-right %}
<div class="pt-10">
    <div class="pl-0 pr-5 pb-10 col-md-2">
        <input type="text" readonly class="form-control input-sm start-date" placeholder="开始日期">
    </div>
    <div class="pl-10 pr-5 pb-10 col-md-2">
        <input type="text" readonly class="form-control input-sm end-date" placeholder="结束日期">
    </div>
    <div class="pl-10 pr-0 pb-10 col-md-1">
        <button type="button" class="btn btn-default btn-sm select">统计</button>
    </div>
</div>

{% endblock admin-right %}