{% extends "admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}个股管理{% endblock %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Stock = Backbone.Model.extend({

        // 默认值
        defaults: {
           
        }

    });

    // collections
    var Stocks = Backbone.Collection.extend({
        model: Stock,

        _modelMaps: {
            'num': 'num',
            'stockId': 'stock_id',
            'name': 'name',
            'code': 'code',
            'des': 'des',
            'board': 'belong_board',
            'market': 'belong_market',
            'img': 'img',
            'mainBusiness': 'main_business',
            'feedCount': 'feed_count',
            'followingCount': 'following_count',
            'sort': 'sort',
            'state': 'state'
        },

        // 查询
        search: function(name, state, pageIndex){
            var me = this;

            ajaxSend(
                "/admin/stock/stock/search", 
                {'name': name||'', 'state': state||0, 'page_index': pageIndex||1}, 
                function(data){
                    me.pageIndex = pageIndex||1;
                    me.pageCount = data.page_count;
                    me.name = name||'';
                    me.state = state||0;

                    me.reset($.ZXUtils.dictMapParse(data.data, me._modelMaps))
                }
            );
        },

        // 获取一个提问的model
        getOne: function(stockId, callback){
            var me = this;

            ajaxSend(
                "/admin/stock/stock/get_stock_by_id", 
                {'stock_id': stockId},
                function(data){
                    if(callback){
                        callback($.ZXUtils.dictMap(data, me._modelMaps));
                    }
                }
            );
        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#stock_list',

        pagination: new $.ZXPagination.PaginationView(),

        template: _.template($('#stock_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'searchStock',
            'click .pointer': 'modifyStock'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();
            this.$('tbody').html(this.template({'stocks': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.name
            );
        },

        // 显示面板
        showPanel: function(){
            $('.zx-nav-pills a[href="#stock_list"]').tab('show');
        },

        searchStock: function(){
            var name = this.$('.key-word').val(),
                state = this.$('.state').val();

            router.navigate(String.format('/search/{0}/{1}/1', name, state), {trigger: true});
        },

        modifyStock: function(sender){
            var target = $(sender.currentTarget),
                stockId = target.data('stock_id');

            router.navigate('/modify/' + stockId, {trigger: true});
        }

    });

    // modifyView
    var ModifyView = Backbone.View.extend({
        
        el: '#modify_stock',

        template: _.template($('#modify_stock_template').html()),

        events: {
            'click .save': 'save'
        },

        // 显示面板
        showPanel: function(){
            $('.zx-nav-pills a[href="#modify_stock"]').tab('show');
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));
        },

        // 显示提问信息
        modifyStock: function(stockId){
            var me = this;

            this.collection.getOne(stockId, function(data){
                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.ZXMsg.alert('提示', '没有找到对应的个股!');
                }
            });
        },

        // 保存
        save: function(){
            this.$('form').submit();
        }

    });

    
    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_stock_template').html()),       

        showPanel: function(){
            var me = this;

            me.render();
        },

        render: function(){
            var me = this;

            $('#add_stock_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_stock_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_stock_modal .ok').bind('click', function(){
                me.addStock();
            });
            
            $('#add_stock_modal').modal({'show': true, 'backdrop': 'static'});
        },

        addStock: function(){
            this.$('form').submit();
        }

    });

    // router
    var Router = Backbone.Router.extend({

        routes: {
            "":                             "search",
            "modify/:stockId":              "modify",
            "search/(:name)/(:state)/:pageIndex":    "search",
            "add":                          "add"
        },

        // 查询
        search: function(name, state, pageIndex){
            stocks.search(name||'', state||0, pageIndex||1);
        },

        // 显示修改界面
        modify: function(stockId){
            modifyView.modifyStock(stockId);
        },

        add: function(){
            addView.showPanel();
        }

    });
    
    // 初始化
    var stocks = new Stocks(),
        listView = new ListView({'collection': stocks}),
        modifyView = new ModifyView({'collection': stocks}),
        addView = new AddView(),
        router = new Router();
 
    Backbone.history.start();

    if(window.location.href.indexOf('?') > -1){
        $.ZXNotice.ErrorTopNotice(decodeURI(window.location.search).substring(1));
    }

});

</script>
{% endblock %}

{% block admin-right %}
<ul class="nav nav-pills pt-15 zx-nav-pills">
    <li class="active">
        <a href="#stock_list" class="black-blue" data-toggle="pill">个股列表</a>
    </li>
    <li>
        <a href="#modify_stock" class="black-blue" data-toggle="pill">修改个股信息</a>
    </li>
    <li class="pull-right">
        <a href="#add" class="black-blue" >添加个股</a>
    </li>
</ul>

<div class="tab-content">
    <!-- 客户经理列表 -->
    <div class="tab-pane fade pt-15 in active" id="stock_list">
        <div class="pl-0 pb-10 col-md-2">
            <select class="form-control input-sm state">
                <option value="0">全部股票</option>
                <option value="1">有效股票</option>
                <option value="2">无效股票</option>
            </select>
        </div>
        <div class="pl-0 pr-0 pb-10 col-md-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control border-radius-0 key-word" placeholder="输入个股名称..." />
                <span class="input-group-btn">
                    <button class="btn btn-default search" type="button">查询</button>
                </span>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>图片</th>
                    <th>名称</th>
                    <th>动态总数</th>
                    <th>所属板块</th>
                    <th>所属交易所</th>
                    <th>排序</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm zx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改客户经理信息 -->
    <div class="tab-pane fade" id="modify_stock">
        
    </div>
</div>

<!-- 客户经理列表 -->
<script type="text/template" id="stock_template">
    <% _.each(stocks, function(stock){ %>
        <tr class="pointer" data-stock_id="<%= stock.stockId %>">
            <td><%= stock.num %></td>
            <td><a href="/stock/<%= stock.stockId %>" target="_blank"><img class="avatar-45 avatar-square" src="<%= stock.img %>" /></a></td>
            <td><%= stock.name %>(<%= stock.code %>)</td>
            <td><%= stock.feedCount %></td>
            <td>
                {% for i in boards %}
                    <% if(stock.board=='{{i.value}}'){ %> {{i.name}} <% } %>
                {% endfor %}
            </td>
            <td>
                {% for i in markets %}
                    <% if(stock.market=='{{i.value}}'){ %> {{i.name}} <% } %>
                {% endfor %}
            </td>
            <td><%= stock.sort %></td>
            <td>
                <% if (!stock.state) { %>
                    <span class="glyphicon glyphicon-remove cl_red" title="已删除"></span>
                <% } %>
            </td>
        </tr>
    <% }) %>
</script>

<!-- 修改问题模板 -->
<script type="text/template" id="modify_stock_template">
    <form class="form-horizontal" role="form" method="post" action="/admin/stock/stock/modify_stock" enctype="multipart/form-data">
        <input type="hidden" name="stock_id" value="<%= stockId %>" />
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">个股图片</label>
            <div class="col-sm-6">
                <img class="avatar-65 avatar-circle mb-10" src="<%= img %>" />
                <input name="img" type="file" />图片尺寸为 65(宽) X 65(长)
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="name" value='<%= name %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">代码</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="code" value='<%= code %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">描述</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="5" name="des"><%= des %></textarea>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">主营业务</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="5" name="main_business"><%= mainBusiness %></textarea>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">所属板块</label>
            <div class="col-sm-2">
                <select class="form-control input-sm" name="board">
                    {% for i in boards %}
                        <option value="{{i.value}}" <% if(board=="{{i.value}}"){ %>selected="selected"<% } %> >{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">所属交易所</label>
            <div class="col-sm-2">
                <select class="form-control input-sm" name="market">
                    {% for i in markets %}
                        <option value="{{i.value}}" <% if(market=="{{i.value}}"){ %>selected="selected"<% } %> >{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="sort"  value='<%= sort %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-2">
                <select class="form-control input-sm" name="state">
                    <option value="0" <% if(state=="0"){ %>selected="selected"<% } %> >不可用</option>
                    <option value="1" <% if(state=="1"){ %>selected="selected"<% } %> >正常</option>
                </select>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary save">提交你的修改</button>
                <!--<button type="button" class="btn btn-danger ml-15 remove">删除此友情链接</button>-->
            </div>
        </div>
    </form>
</script>

<!-- 添加问题模板 -->
<script type="text/template" id="add_stock_template">
<div class="modal fade" id="add_stock_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">添加个股</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="/admin/stock/stock/add_stock" enctype="multipart/form-data">
                    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
                        <label class="col-sm-3 control-label">个股图片</label>
                        <div class="col-sm-6">
                            <img class="avatar-65 avatar-circle mb-10" src="" />
                            <input name="img" type="file" />图片尺寸为 65(宽) X 65(长)
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
                        <label class="col-sm-3 control-label">名称</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="name" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
                        <label class="col-sm-3 control-label">代码</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="code" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
                        <label class="col-sm-3 control-label">描述</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" name="des"></textarea>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
                        <label class="col-sm-3 control-label">主营业务</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" name="main_business"></textarea>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
                        <label class="col-sm-3 control-label">所属板块</label>
                        <div class="col-sm-3">
                            <select class="form-control input-sm" name="board">
                                {% for i in boards %}
                                    <option value="{{i.value}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
                        <label class="col-sm-3 control-label">所属交易所</label>
                        <div class="col-sm-3">
                            <select class="form-control input-sm" name="market">
                                {% for i in markets %}
                                    <option value="{{i.value}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
                        <label class="col-sm-3 control-label">排序</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="sort"  value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
                        <label class="col-sm-3 control-label">状态</label>
                        <div class="col-sm-3">
                            <select class="form-control input-sm" name="state">
                                <option value="0">不可用</option>
                                <option value="1" selected="selected">正常</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock admin-right %}