{% extends "admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}用户管理{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    var User = Backbone.Model.extend({
        defaults: {
            'num': 1,
            'userId': '',
            'userAvatar': '',
            'userAvatar300': '',
            'userNick': '',
            'userDesc': '',
            'userEmail': '',
            'questionCount': 0,
            'answerCount': 0,
            'likeCount': 0,
            'followers': 0,
            'following': 0,
            'isRecommend': false,
            'isAdmin': false,
            'isCustomerManager': false,
            'lastActive': '',
            'state': true,
            'ip': ''
        }
    });

    var Users = Backbone.Collection.extend({
        model: User,

        _modelMaps: {
            'num': 'num',
            'userId': 'user_id',
            'userAvatar': 'user_avatar',
            'userAvatar300': 'user_avatar_300',
            'userNick': 'user_nick',
            'userDesc': 'user_des',
            'userEmail': 'user_email',
            'userGender': 'user_gender',
            'birthday': 'birthday',
            'questionCount': 'question_count',
            'answerCount': 'answer_count',
            'likeCount': 'liked_count',
            'followers': 'follower_count',
            'following': 'following_count',
            'isRecommend': 'is_recommend',
            'isAdmin': 'is_admin',
            'isManager': 'is_manager',
            'isCustomerManager': 'is_customer_manager',
            'lastActive': 'last_active',
            'state': 'state',
            'ip': 'ip',
            'registerDate': 'register_date'
        },

        search: function(userNick, order, pageIndex){
            var me = this;

            ajaxSend(
                "/admin/user/user/search", 
                {'user_nick': userNick||'', 'order': order, 'page_index': pageIndex||1}, 
                function(data){
                    
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.userNick = userNick||'';
                    me.order = order||'register_date';

                    me.reset($.ZXUtils.dictMapParse(data.data, me._modelMaps))
                }
            );
        },

        getOne: function(userId, callback){
            var me = this;

            ajaxSend(
                "/admin/user/user/get_user_by_id", 
                {'user_id': userId},
                function(data){
                    if(callback){
                        callback($.ZXUtils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        // 删除
        removeUser: function(userId, callback){
            var me = this;

            ajaxSend(
                "/admin/user/user/remove_user", 
                {'user_id': userId},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        },

        //
        modifyUser: function(data, callback){
            var me = this;

            ajaxSend(
                "/admin/user/user/modify_user?" + data, 
                {},
                function(data){
                    if(callback){
                        callback(data);
                    }
                }
            );
        }
        
    });
    
    var ListView = Backbone.View.extend({
        el: '#user_list',

        template: _.template($('#user_list_template').html()),

        pagination: new $.ZXPagination.PaginationView(),

        events: {
            'click .search-user': 'searchUser',
            'click .pointer': 'modifyUser'
        },

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        render: function(){
            var data = this.collection.toJSON();
            
            this.showPanel();
            this.$('tbody').html(this.template({'users': data}));
            this.pagination.render(
                this.collection.pageIndex||1, 
                this.collection.pageCount, 
                'search/' + this.collection.userNick + '/' + this.collection.order
            );
        },

        // 显示面板
        showPanel: function(){
            $('.zx-nav-pills a[href="#user_list"]').tab('show');
        },

        searchUser: function(){
            var userNick = this.$('.key-word').val(),
                order = this.$('.order').val();

            router.navigate(String.format('/search/{0}/{1}/1', userNick, order), {trigger: true});
        },

        modifyUser: function(sender){
            var target = $(sender.currentTarget),
                userId = target.data('user_id');

            router.navigate('/modify/' + userId, {trigger: true});
        },

        showChart: function(){
            var today = new Date(),
                month = today.getMonth() + 1,
                monthDays = new Date(today.getFullYear(), month, 0).getDate();

            $.ZXChart.lineChart({
                title: month + '月份活跃用户',
                subtitle: '',
                categories: _.map(_.range(1, monthDays+1), function(d){return  d}),
                xAxis: '日期',
                yAxis: '人数',
                series: [{
                    name: '一月份',
                    data: _.map(_.range(1, monthDays+1), function(d){return Math.random()*300})
                }, {
                    name: '二月份',
                    data: _.map(_.range(1, monthDays+1), function(d){return Math.random()*300})
                }, {
                    name: '三月份',
                    data: _.map(_.range(1, monthDays+1), function(d){return Math.random()*300})
                }]
            })
        }

    });
    

    var ModifyView = Backbone.View.extend({
        
        el: '#modify_user',

        template: _.template($('#modify_user_template').html()),

        events: {
            'click .save': 'save',
            'click .remove': 'remove'
        },

        // 显示面板
        showPanel: function(){
            $('.zx-nav-pills a[href="#modify_user"]').tab('show');
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));

            this.initDate();
        },

        initDate: function(){
            $('#birthday_modify').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        // 显示提问信息
        modifyUser: function(userId){
            var me = this;

            this.collection.getOne(userId, function(data){

                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.ZXMsg.alert('提示', '没有找到对应的链接!');
                }
            });
        },

        // 保存
        save: function(){
            var userId = this.$('form').data('user_id'),
                me = this;

            me.collection.modifyUser(this.$('form').serialize(), function(data){
                if(data.errcode === 0){
                    $.ZXMsg.alert('提示', '操作成功');
                    router.navigate('modify/' + userId, {'trigger': true});
                } else {
                    $.ZXMsg.alert('提示', data.errmsg);
                }
            })
        },

        // 删除
        remove: function(){
            var userId = this.$('form').data('user_id'),
                me = this;

            $.ZXMsg.confirm('提示', '确认要删除此用户吗?', function(result){
                
                if(result){
                    me.collection.removeUser(userId, function(data){
                        if(data.errcode === 0){
                            listView.searchUser();
                        } else {
                            $.ZXMsg.alert('提示', data.errmsg);
                        }
                    });
                }
                
            });
        }


    });


    var Router = Backbone.Router.extend({
        routes: {
            "":                                     "search",
            "search/(:userNick)/:order/:pageIndex": "search",
            "modify/:userId":                        "modify"
        },

        // 获取推荐用户
        search: function(userNick, order, pageIndex){
            users.search(userNick||'', order||'register_date', pageIndex||1);
        },

        modify: function(userId){
            modifyView.modifyUser(userId);
        }

    });

    var users = new Users(),
        listView = new ListView({collection: users}),
        modifyView = new ModifyView({collection: users}),
        router = new Router();

    Backbone.history.start();
});

</script>
{% endblock %}

{% block admin-right %}
<ul class="nav nav-pills pt-15 zx-nav-pills">
    <li class="active">
        <a href="#user_list" class="black-blue" data-toggle="pill">用户列表</a>
    </li>
    <li>
        <a href="#modify_user" class="black-blue" data-toggle="pill">修改用户信息</a>
    </li>
</ul>

<div class="tab-content">
    <!-- 用户列表 -->
    <div class="tab-pane fade pt-15 in active" id="user_list">
        <div class="pl-0 pb-10 col-md-2">
            <select class="form-control input-sm order">
                <option value="register_date">按 注册时间 排序</option>
                <option value="user_question_count">按 提问次数 排序</option>
                <option value="user_answer_count">按 回答次数 排序</option>
                <option value="user_liked_count">按 获赞个数 排序</option>
                <option value="follower_count">按 粉丝个数 排序</option>
            </select>
        </div>
        <div class="pl-0 pb-10 col-md-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control border-radius-0 key-word" placeholder="输入用户呢称..." />
                <span class="input-group-btn">
                    <button class="btn btn-default search-user" type="button">查询</button>
                </span>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>头像</th>
                    <th>用户名称</th>
                    <th>用户统计信息</th>
                    <th>推荐用户</th>
                    <th>客户经理</th>
                    <th>管理员</th>
                    <th>上次活跃时间</th>
                    <th>注册ip</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm zx-pagination">
                
            </ul>
        </div>
    </div>

    <!-- 修改用户信息 -->
    <div class="tab-pane fade pt-15" id="modify_user">
        
    </div>
</div>

<script type="text/template" id="user_list_template">
<% _.each(users, function(user){ %>
    <tr>
        <td><%= user.num %></td>
        <td>
            <a target="_blank" href="/p/<%= user.userId %>">
                <img src="<%= user.userAvatar %>" class="avatar-35 avatar-circle" >
            </a>
        </td>
        <td class="pointer" data-user_id="<%= user.userId %>"><%= user.userNick %></td>
        <td>
            <span class="fb fi pr-3"><%= user.questionCount %></span>提问 |
            <span class="fb fi pr-3"><%= user.answerCount %></span>回答 |
            <span class="fb fi pr-3"><%= user.likeCount %></span>获赞 |
            <span class="fb fi pr-3"><%= user.followers %></span>粉丝 |
            <span class="fb fi pr-3"><%= user.following %></span>关注
        </td>
        <td>
            <% if (user.isRecommend) { %>
                <span class="glyphicon glyphicon-ok co-zx"></span>
            <% } %>
        </td>
        <td>
            <% if (user.isCustomerManager) { %>
                <a href="/admin/user/customer_manager#modify/<%= user.userId %>" title="修改客户经理信息">
                    <span class="glyphicon glyphicon-ok co-zx"></span>
                </a>
            <% } else if(!user.isCustomerManager && user.state) { %>
                <a href="/admin/user/customer_manager#add/<%= user.userId %>" title="设置客户经理"><span class="glyphicon glyphicon-ok co20 pointer"></span></a>
            <% } %>
        </td>
        <td>
            <% if (user.isAdmin) { %>
                <a href="/admin/permission#modifyUserPermission/<%= user.userId %>" title="修改管理员权限">
                    <span class="glyphicon glyphicon-ok co-zx"></span>
                </a>
            <% } else if(!user.isAdmin && user.state) { %>
                <a href="/admin/permission#addAdmin/<%= user.userId %>" title="设置管理员"><span class="glyphicon glyphicon-ok co20 pointer"></span></a>
            <% } %>
        </td>
        <td>
            <%= user.lastActive %>
        </td>
    </tr>
<% }) %>
</script>

<script type="text/template" id="modify_user_template">
<form class="form-horizontal" data-user_id='<%= userId %>' role="form" method="post" action="">
    <input type="hidden" name="user_id" value="<%= userId %>" />
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">用户头像</label>
        <div class="col-sm-5">
            <img class="avatar-circle" src="<%= userAvatar300 %>">
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">用户呢称</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name='nick' value='<%= userNick %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">用户邮箱</label>
        <div class="col-sm-5">
            <p class="form-control-static"><%= userEmail %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">用户性别</label>
        <div class="col-sm-2">
            <select name="gender" class="form-control valid">
                <option value="0" <% if(userGender == 0){ %> selected <% } %> >未设置</option>
                <option value="1" <% if(userGender == 1){ %> selected <% } %> >男</option>
                <option value="2" <% if(userGender == 2){ %> selected <% } %> >女</option>
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">出生日期</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" readonly name='birthday' id="birthday_modify" value='<%= birthday %>'>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">个人简介</label>
        <div class="col-sm-6">
            <textarea name="des" rows="6" class="form-control" placeholder=""><%= userDesc %></textarea>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">上次活跃时间</label>
        <div class="col-sm-6">
            <p class="form-control-static"><%= lastActive %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">注册ip</label>
        <div class="col-sm-6">
            <p class="form-control-static"><%= ip %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">注册日期</label>
        <div class="col-sm-6">
            <p class="form-control-static"><%= registerDate %></p>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <label class="col-sm-2 control-label">用户状态</label>
        <div class="col-sm-2">
            <select name="state" class="form-control valid">
                {% for state in states %}
                <option value="{{state.value}}" <% if(state == {{state.value}}){ %> selected <% } %> >{{state.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group pt-20 pb-20 mb-0 bottom-border bdc-eee">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary save">提交你的修改</button>
        </div>
    </div>
</form>
</script>
{% endblock admin-right %}