@charset "utf-8";
/*-----------------------------------reset part-----------------------------------*/

/*-----------------------------------base part-----------------------------------*/
/*定位*/
.hidden{visibility:hidden}
.auto-hide{display: none;}
.none{display:none}
.block{display:block;}
.inline-block{display: inline-block;}
.inline{display: inline;}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}

/*文字排版*/
.fb{font-weight:bold}
.fn{font-weight:normal}
.fi{font-style: italic;}
.unl{text-decoration:underline}
.no-unl{text-decoration:none}
.no-hover-unl:hover{text-decoration:none}

.f10{font-size: 10px}
.f12{font-size: 12px}
.f13{font-size: 13px}
.f14{font-size: 14px}
.f15{font-size: 15px}
.f16{font-size: 16px}
.f18{font-size: 18px}
.f20{font-size: 20px}
.f22{font-size: 22px}
.f24{font-size: 24px}
.f30{font-size: 30px;}
.f65{font-size: 65px;}

.ff-yahei{font-family: "Microsoft YaHei"}

.ws-nowrap{white-space: nowrap}

.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}


/*长度高度*/
.h{height:100%}
.h25{height: 25px;}
.h30{height: 30px;}
.h35{height: 35px;}
.h40{height: 40px;}
.h90{height: 90px;}
.min-h50{min-height: 50px;}
.min-h400{min-height: 400px;}

.w{width:100%}
.w15{width: 15px;}
.w20{width: 20px;}
.w25{width: 25px;}
.w35{width: 35px;}
.w40{width: 40px;}
.w140{width: 140px;}
.w150{width: 150px;}
.w200{width: 200px;}
.w300{width: 300px;}
@media(max-width: 768px){
    .w300{
        width: auto;
    }
}
.w400{width: 400px;}
@media(max-width: 768px){
    .w400{
        width: auto;
    }
}
.min-w140{min-width: 140px;}

/*边距*/
.m0{margin:0}
.p0{padding:0}

/*间隔*/
.clear  {height:0px;clear:both;font-size:0;overflow:hidden;}
.blank0 {height:0;clear:both;font-size:0px;overflow:hidden;}
.blank1 {height:1px;clear:both;font-size:0px;overflow:hidden;}
.blank2 {height:2px;clear:both;font-size:0px;overflow:hidden;}
.blank4 {height:4px;clear:both;font-size:0px;overflow:hidden;}
.blank5 {height:5px;clear:both;font-size:0px;overflow:hidden;}
.blank10 {height:10px;clear:both;font-size:0px;overflow:hidden;}
.blank15 {height:15px;clear:both;font-size:0px;overflow:hidden;}
.blank20 {height:20px;clear:both;font-size:0px;overflow:hidden;}
.blank30 {height:30px;clear:both;font-size:0px;overflow:hidden;}
.blank40 {height:40px;clear:both;font-size:0px;overflow:hidden;}


.ml-0{margin-left: 0px;}
.ml--3{margin-left: -3px;}
.ml-5{margin-left: 5px;}
.ml--5{margin-left: -5px;}
.ml-10{margin-left: 10px;}
.ml--10{margin-left: -10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}
.mr-0{margin-right: 0px;}
.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-50{margin-right: 50px;}
.mt-0{margin-top: 0px;}
.mt--2{margin-top: -2px;}
.mt--4{margin-top: -4px;}
.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-25{margin-top: 25px;}
.mt-30{margin-top: 30px;}
.mt-35{margin-top: 35px;}
.mb-0{margin-bottom: 0px;}
.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-25{margin-bottom: 25px;}

.pl-0{padding-left: 0px;}
.pl-3{padding-left: 3px;}
.pl-5{padding-left: 5px;}
.pl-10{padding-left: 10px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-25{padding-left: 25px;}
.pl-30{padding-left: 30px;}
.pl-40{padding-left: 40px;}
.pl-45{padding-left: 45px;}
.pl-50{padding-left: 50px;}
.pl-55{padding-left: 55px;}
.pl-70{padding-left: 70px;}
.pl-75{padding-left: 75px;}
.pl-80{padding-left: 80px;}
.pl-85{padding-left: 85px;}
.pl-160{padding-left: 160px;}
.pl-170{padding-left: 170px;}
.pr-0{padding-right: 0px;}
.pr-3{padding-right: 3px;}
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-20{padding-right: 20px;}
.pr-25{padding-right: 25px;}
.pr-30{padding-right: 30px;}
.pr-50{padding-right: 50px;}
.pt-0{padding-top: 0px;}
.pt-3{padding-top: 3px;}
.pt-5{padding-top: 5px;}
.pt-7{padding-top: 7px;}
.pt-8{padding-top: 8px;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-25{padding-top: 25px;}
.pt-30{padding-top: 30px;}
.pt-80{padding-top: 80px;}
.pb-0{padding-bottom: 0px;}
.pb-3{padding-bottom: 3px;}
.pb-5{padding-bottom: 5px;}
.pb-6{padding-bottom: 6px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}

.m_tc{margin:0 auto;}
/*链接和常用文字颜色*/
.cl_white{color: #fff;}
.cl_black{color: #000;}
.cl_gray{color: gray;}
.cl_red{color: red;}
.co-zx{color: #428bca;}
.co1{color: #919191;}
.co2{color: #545454;}
.co3{color: #fff;}
.co4{color: #699000;}
.co5{color: #000000;}
.co6{color: #666666;}
.co7{color: #59bedc;}
.co8{color: #999999;}
.co9{color: #f79700;}
.co10{color: #b3d193;}
.co11{color: #ffa200;}
.co12{color: #92b452;}
.co13{color: #e0b02e;}
.co14{color: #333333;}
.co15{color: #ff6600;}
.co16{color: #fc8936;}
.co17{color: #d1d1d1;}
.co18{color: #222;}
.co19{color: #FFA603;}
.co20{color: #eee;}

.bgc-0{background-color: transparent;}
.bgc-333{background-color: #333;}
.bgc-zx{background-color: #428bca;}
.bgc-e9e9e9{background-color: #e9e9e9;}
.bgc-f1f1f1{background-color: #f1f1f1;}
.bgc-fff{background-color: #ffffff;}
.bgc-86C1D6{background-color: #86C1D6;}

.textindent2{text-indent:32px;}
.textindent0{text-indent: 0;}

/*鼠标悬停形状*/
.curMove{cursor:move}
.pointer{cursor:pointer}
.fixline{border-bottom:1px solid #EEEEEE; width: 100%;height:1px;}

.line-height-20{line-height: 20px;}
.line-height-25{line-height: 25px;}
.line-height-30{line-height: 30px;}

a{color: #259;transition: color 0.5s;}
a:focus {outline: none;-moz-outline: none;}
a:hover{color: #259;}

.animation-paused{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused;
}

.animation-running{
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running;
}


.box-shadow-224{box-shadow: 2px 2px 4px #666;}
.box-shadow-024{box-shadow: 2px 2px 4px #666;}
.box-shadow-559{box-shadow: 5px 5px 9px #bbb, -2px 2px 10px #eee}

.border-radius-0{border-radius: 0px;}
.border-radius-2{border-radius: 2px;}
.border-radius-4{border-radius: 4px;}
.border-radius-50{border-radius: 50px;}

.no-l-r-bd{border-left: 0px;border-right: 0px;}

.top-border{border-top: solid 1px;}
.bottom-border{border-bottom: solid 1px;}
.left-border{border-left: solid 1px;}
.right-border{border-right: solid 1px;}
.no-border{border: 0px;}

.border-1{border: solid 1px;}

.bdc-zx{border-color: #428bca;}
.bdc-light-zx{border-color: #39B2E2;}
.bdc-transparent{border-color: transparent;}
.bdc-eee{border-color: #eee;}
.bdc-ddd{border-color: #ddd;}
.bdc-bbb{border-color: #bbb;}
.bdc-fff{border-color: #fff;}
