@charset "utf-8";
/*-----------------------------------reset part-----------------------------------*/

/*-----------------------------------base part-----------------------------------*/
/*定位*/
.hidden{visibility:hidden}
.none{display:none}
.block{display:block;}
.inline-block{display: inline-block;}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}

/*文字排版*/
.fb{font-weight:bold}
.fn{font-weight:normal}
.unl{text-decoration:underline}
.no-unl{text-decoration:none}
.no-hover-unl:hover{text-decoration:none}

.f10{font-size: 10px}
.f12{font-size: 12px}
.f13{font-size: 13px}
.f14{font-size: 14px}
.f15{font-size: 15px}
.f16{font-size: 16px}
.f18{font-size: 18px}
.f20{font-size: 20px}
.f22{font-size: 22px}
.f24{font-size: 24px}
.f30{font-size: 30px;}

.ff-yahei{font-family: "微软雅黑"}

.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}


/*长度高度*/
.w{width:100%}
.h{height:100%}

/*边距*/
.m0{margin:0}
.p0{padding:0}

/*间隔*/
.clear  {height:0px;clear:both;font-size:0;overflow:hidden;}
.blank0 {height:0;clear:both;font-size:0px;overflow:hidden;}
.blank1 {height:1px;clear:both;font-size:0px;overflow:hidden;}
.blank2 {height:2px;clear:both;font-size:0px;overflow:hidden;}
.blank4 {height:4px;clear:both;font-size:0px;overflow:hidden;}
.blank5 {height:5px;clear:both;font-size:0px;overflow:hidden;}
.blank10 {height:10px;clear:both;font-size:0px;overflow:hidden;}
.blank15 {height:15px;clear:both;font-size:0px;overflow:hidden;}
.blank20 {height:20px;clear:both;font-size:0px;overflow:hidden;}
.blank30 {height:30px;clear:both;font-size:0px;overflow:hidden;}
.blank40 {height:40px;clear:both;font-size:0px;overflow:hidden;}


.ml-0{margin-left: 0px;}
.ml--3{margin-left: -3px;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}
.mr-0{margin-right: 0px;}
.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mt-0{margin-top: 0px;}
.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-25{margin-top: 25px;}
.mt-30{margin-top: 30px;}
.mt-35{margin-top: 35px;}
.mb-0{margin-bottom: 0px;}
.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}

.pl-0{padding-left: 0px;}
.pl-3{padding-left: 3px;}
.pl-5{padding-left: 5px;}
.pl-10{padding-left: 10px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-30{padding-left: 30px;}
.pl-50{padding-left: 50px;}
.pl-80{padding-left: 80px;}
.pr-0{padding-right: 0px;}
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-30{padding-right: 30px;}
.pr-50{padding-right: 50px;}
.pt-0{padding-top: 0px;}
.pt-5{padding-top: 5px;}
.pt-8{padding-top: 8px;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-80{padding-top: 80px;}
.pb-0{padding-bottom: 0px;}
.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}

.m_tc{margin:0 auto;}
/*链接和常用文字颜色*/
.cl_white{color:#fff;}
.cl_black{color:#000;}
.cl_gray{color:gray;}
.cl_red{color:red;}
.co1{color: #919191;}
.co2{color:#545454;}
.co3{color:#fff;}
.co4{color:#699000;}
.co5{color:#000000;}
.co6{color:#666666;}
.co7{color:#59bedc;}
.co8{color:#999999;}
.co9{color:#f79700;}
.co10{color:#b3d193;}
.co11{color:#ffa200;}
.co12{color:#92b452;}
.co13{color:#e0b02e;}
.co14{color:#333333;}
.co15{color:#ff6600;}
.co16{color:red;}
.co17{color: #d1d1d1;}

.textindent2{text-indent:32px;}
.textindent0{text-indent: 0;}

/*鼠标悬停形状*/
.curMove{cursor:move}
.pointer{cursor:pointer}
.fixline{border-bottom:1px solid #EEEEEE; width: 100%;height:1px;}

.line-height-25{
	line-height: 25px;
}

a{
	color: #259;
	transition: color 0.5s;
}

a:focus {
    outline: none;
    -moz-outline: none;
}

a:hover{
	color: #259;
}

.animation-paused{
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
}

.animation-running{
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-ms-animation-play-state: running;
	animation-play-state: running;
}