.login-main{
    margin-top: 100px;
    font-size: 12px;
    /*min-height: 400px;*/
}

.login-main .form-control{
    height: 42px;
}

.login-main .form-group{
    margin-top: 20px;
}

.login-main .xlwb{
    /*
    background: url({{MEDIA_URL}}img/common/is.png) no-repeat;
    background-position: 0 -120px!important;
    padding-left: 22px;
    */
    /*background-image: url({{MEDIA_URL}}img/common/xlwb.png);*/
}

.login-main .txqq{
    /*
    background: url({{MEDIA_URL}}img/common/is.png) no-repeat;
    background-position: 0 -2234px!important;
    padding-left: 22px;
    */
    /*background-image: url({{MEDIA_URL}}img/common/txqq.png);*/
}
