.login-main{
    margin-top: 100px;
    font-size: 12px;
    /*min-height: 400px;*/
}

.login-main .form-control{
    height: 42px;
}

.login-main .form-group{
    margin-top: 20px;
}

.login-main .xlwb{
    /*
    background: url({{MEDIA_URL}}img/common/is.png) no-repeat;
    background-position: 0 -120px!important;
    padding-left: 22px;
    */
    /*background-image: url({{MEDIA_URL}}img/common/xlwb.png);*/
}

.login-main .txqq{
    /*
    background: url({{MEDIA_URL}}img/common/is.png) no-repeat;
    background-position: 0 -2234px!important;
    padding-left: 22px;
    */
    /*background-image: url({{MEDIA_URL}}img/common/txqq.png);*/
}

.footer{
    margin-top: 0px;
}

.login-form{
    background: rgb(165, 186, 197);
    background: rgba(165, 186, 197, 0.3);
    min-height: 250px;
    width: 350px;
    filter: alpha(opacity=30); /*IE*/
    border-radius: 4px;
    box-shadow: 0px 0px 10px #707070;
}

.btn-login{
    letter-spacing: 12px;
    background-color: #B1431E;
    color: #fff;
    border-color: #A85656;
    box-shadow: 0px 2px 5px #707070;
    transition: background-color 0.5s, border-color 0.5s, box-shadow 0.5s;
}

.btn-login:hover{
    background-color: #863114;
    border-color: #795151;
    box-shadow: 0px 4px 10px #707070;
}

.btn-regist{
    letter-spacing: 12px;
    box-shadow: 0px 2px 5px #707070;
    background-color: #128AC9;
    border-color: #2E88D8;
    transition: background-color 0.5s, border-color 0.5s, box-shadow 0.5s;
}

.btn-regist:hover{
    box-shadow: 0px 4px 10px #707070;
    background-color: #377B9E;
    border-color: #4D79A0;
}

.forget-pwd:hover{
    color: #d1d1d1;
}