@charset "utf-8";
body {padding-top: 0px; font-family: "微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px;}

.zx-nav{
    background-color: #2F2F2F;
}

.zx-nav .nav li{
    padding-top: 5px;
}

.zx-nav .img-logo:hover{
    /*opacity: 0.5;*/
    background-color: inherit;
}

.login-user{
    margin-top: 15px;
}

.container{
    width: 1000px;
    min-width: 1000px;
}

.footer {
	font-size: 12px;
	margin-top:50px;
    background: none repeat scroll 0 0 #2F2F2F;
    color: #989898;
    line-height: 20px;
    padding: 30px 0;
    text-align: center;
}

.footer-center-container {
    margin: auto;
    text-align: center;
    width: 1000px;
}

.footer-center-container a {
    color: #989898;
    padding: 8px;
}

.footer-center-container a:hover {
    color: #2498EF;
}

.scroll-top{
    position: fixed;
    background: url(/static/img/common/rocket.png) no-repeat scroll 0 0 transparent;
    z-index: 100;
    width: 149px;
    height: 120px;
    bottom: 100px;
    right: 15px;
    opacity: 0.99;
    cursor: pointer;
    display: none;
}
