{% load custom_tags %}
{% load custom_filters %}
<li class="list-group-item {% if answer.is_bad %}auto-hide{% endif %} {% if answer.from_user_id == request.user.id %}my-reply{% endif %} no-l-r-bd bdc-eee" id="answer_{{answer.id}}">
    <div class="reply-header row">
        <div class="col-md-6">
            <a class="no-hover-unl" href="{{answer.from_user.get_url}}">
                <img class="avatar-25 avatar-circle" src="{{answer.from_user.get_avatar_25}}" title="{{answer.from_user.nick}}" />
            </a>
            <a href="{{answer.from_user.get_url}}" class="zx-cardtips" data-user_id="{{answer.from_user.id}}">
                <span class="f12">{{answer.from_user.nick}}</span>
            </a>
        </div>
        <div class="col-md-6 text-right">
            <span class="answer-like-border flash-border" data-answer_id="{{answer.id}}">
                <span title="赞一下" class="glyphicon {% if answer.is_request_user_like %}glyphicon-heart{% else %}glyphicon-heart-empty{% endif %} auto-hide answer-like " ></span>
                <span class="answer-like-count">{{answer.like_count}}</span>
            </span>
        </div>
    </div>
    <div class="reply-main row">
        <div class="reply-content col-md-12 line-height-25">{{answer.content|safe}}</div>
    </div>
    <div class="reply-tools gray-a">
        <span class="answer-date">{{answer.create_time|time_format}}</span>
        <a class="answer-share" href="javascript: void(0);">
            <span class="glyphicon glyphicon-share-alt"></span>
            分享
        </a>
        {% if request.user.is_authenticated %}
        <a class="answer-say-to" href="javascript: void(0);" data-user_name="{{answer.from_user.nick}}">
            <span class="glyphicon glyphicon-share"></span>
            回复
        </a>
        {% if answer.is_request_user_bad %}
        <a class="answer-no-help auto-hide" href="javascript: void(0);" onclick="cancel_answer_bad({{answer.id}});"
            id="cancel_answer_bad_{{answer.id}}">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            撤销没有帮助
        </a>
        {% else %}
        <a class="answer-no-help auto-hide" href="javascript: void(0);" onclick="set_answer_bad({{answer.id}});"
            id="set_answer_bad_id_{{answer.id}}">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            没有帮助
        </a>
        {% endif %}
        <a class="answer-comments hide" href="javascript: void(0);">
            <span class="glyphicon glyphicon-comment"></span>
            88条评论
        </a>
        <a class="answer-mark auto-hide hide" href="javascript: void(0);">
            <span class="glyphicon glyphicon-bookmark"></span>
            收藏
        </a>
        <a class="answer-report auto-hide hide" href="javascript: void(0);">
            <span class="glyphicon glyphicon-flag"></span>
            举报
        </a>
        {% if answer.from_user.id == request.user.id %}
        <a class="answer-remove auto-hide pull-right" href="javascript: void(0);" id="remove_answer_a_id_{{anser.id}}"
            onclick="remove_answer('{{answer.id}}')">
            <span class="glyphicon glyphicon-trash"></span>
            删除
        </a>
        <a class="answer-edit auto-hide pull-right" href="javascript: void(0);" data-answer_id="{{answer.id}}">
            <span class="glyphicon glyphicon-pencil"></span>
            修改
        </a>
        {% endif %}
        {% endif %}
    </div>
</li>