{% extends "question/base_question.html" %}

{% load custom_tags %}
{% block title %}我要提问{% endblock %}
{% block javascript %}{% endblock %}
{% block css %}{% endblock %}
{% block question_main%}
<div class="ask-title">
    <h2>问个问题</h2>
</div>

<div class="ask-main mt-35">
    <form role="form" method='post' action='/question/ask_question'>
        <div class="form-group" >
            <span>选择你想提问的类型:</span>
        </div>
        <div class="form-group" id="div_types">
            {% question_type_radio_display %}
        </div>
        <div class="form-group auto-hide" id="div_tags">
            <!-- <input id='question_tags_input' autocomplete="off" type="text" class="form-control input-lg" name="question_tags" placeholder=""> -->
            <div class="tag-title mb-5">将你的提问归类至子话题 :</div>
            <label class="checkbox-inline zx-check">
                <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
            </label>
            <label class="checkbox-inline zx-check">
                <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
            </label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="question_title" placeholder="你有什么想问的？写下问题的标题" 
                    value='{{question_title}}'></div>
        <div class="form-group question-content">
            <textarea name="question_content" class="form-control zx-textarea auto-height-textarea cl_black f14" rows="10">{{question_content}}</textarea>
        </div>
        <div class="form-group">
            <div class="col-md-6 checkbox">
                <label class="zx-tooltip" data-toggle="tooltip" data-placement="right" data-original-title="勾选此项后，问题展现的时候将隐藏你的名字">
                    <input type="checkbox" name="is_hide_user">匿名提问
                    <span class="glyphicon glyphicon-question-sign cl_gray"></span>
                </label>
            </div>
            <div class="col-md-6 text-right ask-btn pr-0">
                <button type="submit" class="btn btn-primary">我要提问</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}