{% extends "base/base_home.html" %}

{% load custom_tags %}

{% block home_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/topic.css?v={{MEDIA_VERSION}}" />
{% block css %}{% endblock %}
{% endblock %}

{% block home_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/site/topic.js?v={{MEDIA_VERSION}}"></script>
{% block javascript %}{% endblock %}
{% endblock %}

{% block container_content %}
<div class="zx-topic-main col-md-8">
    {% block topic_main %}{% endblock topic_main %}
</div>

<div class="zx-topic-right col-md-4 pl-50">
	{% block topic_right %}{% endblock topic_right %}

	<!-- 热门话题 -->
	{% block hot-topics %}
		{% global_hot_topics %}
	{% endblock hot-topics %}
</div>
    
{% endblock container_content %}