{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}首页{% endblock %}

{% block cheader %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/question.css?v={{MEDIA_VERSION}}" />
<script type="text/javascript" src="{{MEDIA_URL}}js/site/question.js?v={{MEDIA_VERSION}}"></script>
<script type="text/javascript">var QUESTION_TAGS = {{tags|safe|default:"{}"}};</script>
{% block javascript %}{% endblock %}
{% block css %}{% endblock %}
{% endblock %}

{% block container_content %}
<!--左侧主体开始-->
<div class="zx-container-main col-md-8">
    <!--查询框开始-->
    <div class="search-bar hide">
        <div class="input-group input-group-lg">
            <input type="text" placeholder="各种问题..." class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">搜索</button>
            </span>
        </div>
    </div>
    <!--查询框结束-->
    {% block question_main%}{% endblock %}
</div>
<!--左侧主体结束-->

<!--右侧主体开始-->
<div class="zx-container-right col-md-4">
    <div class="ask-question well">
        <div class="row">
            <div class="col-md-12">
                <a href="/question/ask_question">
                    <button type="button" class="btn btn-primary btn-lg btn-block">我要提问</button>
                </a>
            </div>
        </div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="intro well">
        <div class="row">
            <div class="col-md-4 avatar">
                <a href="/account/user_profile">
                    <img class="avatar-circle" src="{{request.user.get_avatar}}">
                </a>
            </div>
            <div class="col-md-8 nick">
                <a href="/account/user_profile">{{request.user.nick}}</a>
            </div>
        </div>
        <div class="blank10 bottom-border"></div>
        {% user_qa_count_info_right_nav_dispaly %}
    </div>
    {% endif %}

    <div class="hot-tags panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tags"></span>
            <span class="tag-title">热门标签</span>
        </div>
        <div class="panel-body">{% global_hotest_tags %}</div>
    </div>
    {% global_statistic %}

</div>
<!--右侧主体开始-->
{% endblock container_content %}