{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}首页{% endblock %}

{% block home_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/question.css?v={{MEDIA_VERSION}}" />
{% block css %}{% endblock %}
{% endblock %}

{% block home_js%}
<script type="text/javascript" src="{{MEDIA_URL}}js/site/question.js"></script>
<script type="text/javascript">
    var QUESTION_TAGS = {{tags|safe|default:"{}"}},
        SElECTED_QUESTION_TYPE = "{{question.question_type.id}}",
        SELECTED_QUESTION_TAGS = "{% for tag in question_tags %}{{tag.id}}-{% endfor %}",
        QUESTION_CONTENT = '{{question.content|safe|default:""}}',
        ASK_QUESTION_CONTENT = '{{question_content|safe|default:""}}',
        ANSWER_CONTENT = '{{answer_content|safe|default:""}}',
        SHARE_ANSWER_ID = 0;
</script>
{% block javascript %}{% endblock %}
{% endblock %}

{% block container_content %}
<!--左侧主体开始-->
<div class="zx-container-main col-xs-12 col-md-8 ">
    <!--查询框开始-->
    <!-- <div class="search-bar hide">
        <div class="input-group input-group-lg">
            <input type="text" placeholder="各种问题..." class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">搜索</button>
            </span>
        </div>
    </div> -->
    <!--查询框结束-->
    {% block question_main%}{% endblock %}
</div>
<!--左侧主体结束-->

<!--右侧主体开始-->
<div class="zx-container-right col-xs-12 col-md-4 pl-50">
    {% block ask_question %}
    <div class="ask-question mt-25 pb-10">
        <button type="button" class="btn btn-primary btn-lg btn-block">我要提问</button>
    </div>
    {% endblock %}

    {#% include "question/_user_qa_info_right_nav_dispaly.html" %#}

    <!--
    <div class="hot-tags panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tags"></span>
            <span class="tag-title">热门话题</span>
        </div>
        <div class="panel-body">{% global_hotest_tags %}</div>
    </div>
    -->

    <!-- 推荐用户 -->
    {#% global_recommend_users %#}

    <!-- 热门话题 -->
    {% global_hot_topics %}

    <!-- 二维码 -->
    {% global_QRcode %}

    <!-- 统计 -->
    {% global_statistic %}
    
</div>
<!--右侧主体开始-->
{% endblock container_content %}