{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}首页{% endblock %}

{% block home_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/question.css?v={{MEDIA_VERSION}}" />
{% block css %}{% endblock %}
{% endblock %}

{% block home_js%}
<script type="text/javascript" src="{{MEDIA_URL}}js/site/question.js?v={{MEDIA_VERSION}}"></script>
<script type="text/javascript">
    var QUESTION_TAGS = {{topics|safe|default:"{}"}},
        SElECTED_QUESTION_TYPE = "{{question.question_type.id}}",
        SELECTED_QUESTION_TAGS = "{% for topic in question.question_topics %}{{topic.id}}-{% endfor %}",
        QUESTION_CONTENT = '{{question.content|safe|default:""}}',
        ASK_QUESTION_CONTENT = '{{question_content|safe|default:""}}',
        ANSWER_CONTENT = '{{answer_content|safe|default:""}}',
        SHARE_ANSWER_ID = 0;
</script>
{% block javascript %}{% endblock %}
{% endblock %}

{% block container_content %}
<div class="zx-container-main col-xs-12 col-md-8 ">
    {% block question_main%}{% endblock %}
</div>

<div class="zx-container-right col-xs-12 col-md-4 pl-50">
    {% block ask_question %}
    <div class="ask-question mt-25 pb-10 step1">
        <a href="/question/ask_question" class="btn btn-primary btn-lg btn-block">我要提问</a>
    </div>
    {% endblock %}

    {#% include "question/_user_qa_info_right_nav_dispaly.html" %#}

    {% global_hot_topics %}

    {% include 'include/_global_qrcode.html' %}

</div>
{% endblock container_content %}