{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block cheader %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/question.css?v={{MEDIA_VERSION}}" />
<style type="text/css">
body {background-color: #F0F4F7; font-family: "微软雅黑";}

.container_content{
    background-color: white;
    border-radius: 5px;
    border: solid 1px lightgray;
    padding-bottom: 20px;
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
}

.zx-container-main{
    padding-left: 25px;
}

.zx-container-right{
    padding-right: 25px;
}

.daily-ad {
    margin-top: 30px;
}

.daily-ad img{
    width: 100%;
    height: 100%;
}
</style>
{% block javascript %}{% endblock %}
{% block css %}{% endblock %}
{% endblock %}

{% block container_content %}
<div class="zx-container-main col-md-8">
    {% block daily_main %}{% endblock %}
</div>
<div class="zx-container-right col-md-4">
    <div class="blank20"></div>
    {% if request.user.is_authenticated %}
    <div class="intro well">
        <div class="row">
            <div class="col-md-4 avatar">
                <a href="/account/user_profile">
                    <img class="avatar-circle" src="{{request.user.get_avatar}}">
                </a>
            </div>
            <div class="col-md-8 nick">
                <a href="/account/user_profile">{{request.user.nick}}</a>
            </div>
        </div>
        <div class="blank10 bottom-border"></div>
        {% user_qa_count_info_right_nav_dispaly %}
    </div>
    {% endif %}

    <div class="hot-tags panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tags"></span>
            <span class="tag-title">热门标签</span>
        </div>
        <div class="panel-body">{% global_hotest_tags %}</div>
    </div>
</div>

{% endblock container_content %}