{% extends "question/base_important.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}每日精华{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}{% endblock %}

{% block daily_main %}
{% if questions %}
<ul class="list-group daily-main mt-30">
    {% for question in questions %}
    <li class="list-group-item">
        <div class='daily-item'>
            <span class="jinghua">
                <img src="{{MEDIA_URL}}img/common/jinghua2.png"></span>
            <div class='daily-title'>
                <a class="black-blue" href="{{question.get_url}}">
                    <h4><strong>{{question.title|str_display:30}}</strong></h4>
                </a>
            </div>
            <div class='row pb-15'>
                <div class='col-md-2'>
                    <img src="{{MEDIA_URL}}img/common/daily.jpg"></div>
                <div class='col-md-10'>
                    <div class='f12 co8'>
                        时间：{{question.create_time|time_format}} &nbsp;&nbsp;&nbsp;
                        作者：<a href="{{question.user.get_url}}">{{question.user.nick}}</a>
                    </div>
                    <div class='pt-10 line-height-25'>{{question.get_summary|safe}}</div>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="blank10"></div>
<div class="alert alert-success popmsg" id="divSuccess">暂无</div>
{% endif %}

{% endblock %}