{% extends "question/base_important.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}每日精选{% endblock %}

{% block css %}
<style type="text/css">
.hot-topics{
    border-top: 0px;
}
</style>
{% endblock %}

{% block javascript %}{% endblock %}

{% block daily_main %}
{% if questions %}
<ul class="list-group daily-main">
    {% for question in questions %}
    <li class="list-group-item no-l-r-bd bdc-eee row pb-25 {% if not forloop.first %} pt-25 {% endif %} ">

        <div class="col-md-4 col-ms-12">
            <a href="{{question.get_url}}"><img class="w200 pl-3 pr-3 pt-3 pb-3 box-shadow-024 border-1 bdc-eee" src="{{question.img}}" alt="{{question.img_alt}}"></a>
        </div>
        <div class="col-md-8 col-ms-12">
            <div>
                <a class="black-blue" href="{{question.get_url}}"><h4 class="mt-5"><strong>{{question.title|str_display:20}}</strong></h4></a>
            </div>
            <div class='line-height-22 min-h70'>{{question.get_summary|str_display:75|safe}}</div>
            <ul class="list-inline pt-5 f12 min-h22">
                {% for topic in question.question_topics %}
                <li class="pl-0">
                    <a class="border-block-blue pl-5 pr-5 pt-3 pb-3" href="{{topic.get_url}}">{{topic.name}}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="f12 co8 pt-10">
                <a class="zx-cardtips gray-gray" data-user_id="{{question.user.id}}" href="{{question.user.get_url}}">{{question.user.nick}}</a>
                <span class="pull-right pl-5">{{question.create_time|date:"Y-m-d H:i"}}</span>
                <span class="pull-right">{{question.answer_count}} 个回答 •</span>
                <span class="none">{{question.views_count}} 次浏览 • </span>
                
            </div>
        </div>


        <!--
        <div class='daily-item'>
            <span class="jinghua">
                <img alt="精华" src="{{MEDIA_URL}}img/common/jinghua2.png"></span>
            <div class='daily-title'>
                <a class="black-blue" href="{{question.get_url}}">
                    <h4><strong>{{question.title|str_display:30}}</strong></h4>
                </a>
            </div>
            <div class='row pb-15'>
                <div class='col-md-4'>
                    <a href="{{question.get_url}}"><img class="w200 pl-3 pr-3 pt-3 pb-3 box-shadow-024 border-1 bdc-eee" src="{{question.img}}" alt="{{question.img_alt}}"></a>
                </div>
                <div class='col-md-8'>
                    <div class='f12 co8'>
                        时间：{{question.create_time|time_format}} &nbsp;&nbsp;&nbsp;
                        作者：<a class="zx-cardtips" data-user_id="{{question.user.id}}" href="{{question.user.get_url}}">{{question.user.nick}}</a>
                    </div>
                    <div class='pt-10 line-height-25'>{{question.get_summary|safe}}</div>
                </div>
            </div>
        </div>
        -->

    </li>
    {% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="blank10"></div>
<div class="alert alert-info box-shadow-224 border-radius-0 popmsg" id="divSuccess">暂无</div>
{% endif %}

{% endblock %}