{% extends "question/base_question.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}{{question.title}}{% endblock %}

{% block keywords %}{% for topic in question.question_topics %}{{topic.name}}{% if not forloop.last %},{% endif %}{% endfor %}{% endblock keywords %}

{% block description %}智选用户回答「{{question.title}}」，希望对你有所帮助。欢迎加入智选，投资是一门学问，独立思考，善学善问。{% endblock description %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function(){
    {% if question.is_important %}
    // 精华盖章动画
    var jinghua = $('.jinghua img');
    jinghua.show()
    .css({'width': '444.5px', 'height': '385px'})
    .animate({'width': '254', 'height': '220px', 'opacity': '0.6'}, 500)
    .animate({'width': '102px', 'height': '88px', 'opacity': '0.99'}, 50);
    {% endif %}

    
    
    var registDate = new Date('{{request.user.create_time}}'),
        days = (new Date() - registDate)/1000/60/60/24;
    
    // 7天之内会自动显示引导提示
    if(days <= 7 && !$.cookie('needIntro')){

        // 已经看过之后 设置cookie
        $.cookie('needIntro', 'true');

        var intro = introJs();
        intro.setOptions({
            steps: [{
                intro: "智选问答使用引导"
            }, {
                element: '.step6',
                intro: "有不懂的可以点此提问",
                position: 'left'
            }, {
                element: '.step1',
                intro: "问得好，将这个提问分享给小伙伴",
            }, {
                element: '.step2',
                intro: "点此可以邀请大神回答",
                position: 'right'
            }, {
                element: '.step3',
                intro: '点此切换排序方式',
                position: 'left'
            }, {
                element: '.step4',
                intro: "回答的不错，点个赞",
                position: 'left'
            }, {
                element: '.step5',
                intro: "精彩的回复，我要分享给小伙伴",
                position: 'right'
            }],
            nextLabel: "下一步",
            prevLabel: "上一步",
            skipLabel: "跳过",
            doneLabel: "关闭"
        });

        intro.start();
    }


    // 显示帮助
    $('.intro').bind('click', function(){
        intro.start();
        $('html,body').animate({scrollTop: 0}, 300);
    });


});
</script>

{% endblock %}

{% block css %}{% endblock %}

{% block question_main%}
<span class="jinghua">
    <img alt="精华" src="{{MEDIA_URL}}img/common/jinghua1.png"></span>

<ol class="breadcrumb">
    <li>
        <a href="/question">全部</a>
    </li>
    <li>
        <a href="{{question.question_type.get_url}}">{{question.question_type.name}}</a>
    </li>
    <li class="active">{{question.title|str_display:8}}</li>
</ol>
<div class="question-entry">
    <div class="topic pl-15 pr-15 pb-10">
        <div class="topic-title">
            <h4 class="f22"> <strong>{{question.title}}</strong>
            </h4>
        </div>
        <div class="f14 pt-10 line-height-25 break-word">{{question.content|safe}}</div>
        <div class="topic-tags row">
            <ul class="list-flow">
                {% for topic in question.question_topics %}{% include "question/_topics_list.html" %}{% endfor %}
            </ul>
        </div>
        <div class="topic-footer row" data-question_id="{{question.id}}">
            <div class="text-right pb-10 f12 col-md-12">
                <span class="step1">
                    <a class="border-block-blue ml-5 pl-5 pr-5 pt-2 pb-2 question-share-qq" href="javascript: void(0);">
                        分享到QQ
                    </a>
                    <a class="border-block-red ml-5 pl-5 pr-5 pt-2 pb-2 question-share-sina" href="javascript: void(0);">
                        分享到微博
                    </a>
                </span>
                <span class="pl-15 question-date hidden-xs">{{question.create_time}}</span>
            </div>
            <div class="col-md-3 col-xs-12">
                {% if not question.is_hide_user %}
                <!-- <a class="no-hover-unl" href="{{question.user.get_url}}">
                    <img class="avatar-25 avatar-circle" src="{{question.user.get_avatar_25}}" title="{{question.user.nick}}" />
                </a> -->
                <a href="{{question.user.get_url}}" class="zx-cardtips" data-user_id="{{question.user.id}}">
                    <span class="f12">{{question.user.nick}}</span>
                </a>
                <span class="question-date pull-right visible-xs">{{question.create_time}}</span>
                {% endif %}
            </div>
            <div class="col-md-9 col-xs-12 text-right">
                
                <span class="question-tools f12 gray-a">
                    {% if request.user.is_staff %}

                    {% comment %} 
                    {% if not question.is_important %}
                    <a href="javascript: void(0);" class="set-important">
                        设置精华
                    </a>
                    {% else %}
                    <a href="javascript: void(0);" class="cancel-important">
                        取消精华
                    </a>
                    {% endif %}
                    {% endcomment %} 


                    {% endif %}
                    {% if request.user.id == question.user.id or request.user.is_staff %}
                    <a href="#" data-toggle="modal" data-target="#edit_question_modal" data-backdrop="static">
                        <span class="glyphicon glyphicon-pencil"></span>
                        修改
                    </a>
                    <a href="javascript: void(0);" class="remove-question">
                        <span class="glyphicon glyphicon-trash"></span>
                        删除
                    </a>
                    {% endif %}
                    <a class="invite step2" href="javascript: void(0);">
                        <span class="glyphicon glyphicon-transfer"></span>
                        邀请回答
                    </a>
                </span>
                
            </div>
            
        </div>
        <div class="topic-invite panel panel-default auto-hide" data-question_id="{{question.id}}">
            <span class="arrow-out"></span>
            <span class="arrow-in"></span>
            <div class="panel-body row pb-0">
                <div class="filter-invite col-md-12">
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm search-input" placeholder="输入你想邀请人的名字" value="">
                        <span class="glyphicon glyphicon-search search"></span>
                    </div>
                    <div class="col-md-8 pt-5 pl-0">
                        <span class="invited-persons f12 co8"></span>
                    </div>
                </div>
                <div class="recommend-invite col-md-12">
                    <ul class="list-inline invite-persons row pl-15 pr-15">
                        
                    </ul>
                    <ul class="pager mb-10 mt-10">
                        <li class="mr-15 previous-page"><a href="javascript:void(0);">上一页</a></li>
                        <li class="next-page"><a href="javascript:void(0);">下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% if guide %}
        <div class="panel panel-default">
            <div class="panel-body row pb-0 co8 f12 pr-35 pl-35 pb-20">
                <div class="fb co18 f14">欢迎在智选写下你的疑问，你的问题已经成功提交。</div>
                <div class="pt-10">为了让问题响应得更快更精彩，你可以：</div>
                <div class="pt-5"><span class="fb co18">邀请回答：</span>用「邀请回答」功能邀请可能对这个问题感兴趣的其他用户来回答，点击右上角的「邀请回答」可立即开始邀请。</div>
                <div class="pt-5"><span class="fb co18">改进问题：</span>具体地描述问题背景和提问原因，分享你在试图解决这个问题的过程中已经收集到的信息，都有助于其他用户更准更快了解你的疑惑、写下他们的回答。</div>
            </div>
        </div>
        {% endif %}

        {% if request.user.id == question.user.id or request.user.is_staff %}
        <!-- 弹出层 -->
        <div class="modal fade" id="edit_question_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" method='post' action='/question/modify_question/{{question.id}}'>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">修改提问</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" >
                                <span>选择你想提问的类型:</span>
                            </div>
                            <div class="form-group" id="div_types">{% question_type_radio_display %}</div>
                            <div class="form-group" id="div_tags">
                                <div class="tag-title mb-5">将你的提问归类至子话题 :</div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="question_title" placeholder="你有什么想问的？写下问题的标题" 
                                    value='{{question.title}}'></div>
                            <div class="form-group">
                                <textarea id="question_editor" name="question_content" class="form-control zx-textarea" style="height: 260px"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

<div class="replies w">
    <ul class="list-group top-border bdc-eee" id="ul_replies">
        <li class="list-group-item no-l-r-bd bdc-eee">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h4 class="mt-0 mb-0 line-height-30">共 {{good_answers_count}} 个回答</h4>
                </div>
                <div class="col-md-3 col-xs-6 pull-right">
                    <select class="form-control input-sm sort-answers step3">
                        <option value="like_count" {% if sort == "like_count" %}selected{% endif %}>按赞数排序</option>
                        <option value="create_time" {% if sort == "create_time" %}selected{% endif %}>按时间排序</option>
                    </select>
                </div>
            </div>
        </li>
        {% for answer in good_answers %}
            {% include "question/_question_answer.html" %}
        {% endfor %}
        {% if bad_answers %}
        <li class="list-group-item no-l-r-bd bdc-eee">
            <div class="gray-a">
                <a class="answer-collapse" href="javascript: void(0)">
                    共有 {{bad_answers_count}} 个回答被折叠
                    <span class="glyphicon glyphicon-question-sign zx-tooltip" data-toggle="tooltip" data-placement="right" data-original-title="智选希望用户通过点击「没有帮助」按钮去参与维护一个更高质量、更有价值的问答氛围，当一个回答被多次点击「没有帮助」便会被折叠。" data-trigger="hover" title=""></span>
                </a>
            </div>
        </li>
        {% for answer in bad_answers %}
            {% include "question/_question_answer.html" %}
        {% endfor %}
        {% endif %}

        <!-- 分享问题菜单 -->
        <div id="answer-share-tools" class="gray-a none">
            <a href="javascript: void(0)" class="answer-share-qq">
                <img class="w20 img-fade-hover pt-5" title="分享到QQ" data-change_img="{{MEDIA_URL}}img/common/qq-active.png" src="{{MEDIA_URL}}img/common/qq.png">
            </a>
            <a href="javascript: void(0)" class="answer-share-sina">
                <img class="w25 img-fade-hover pt-5" title="分享到微博" data-change_img="{{MEDIA_URL}}img/common/sina-active.png" src="{{MEDIA_URL}}img/common/sina.png">
            </a>
            <!-- <a href="javascript: void(0)" class="answer-share-wechat">
                <img class="w25 img-fade-hover pt-5" title="分享到微信" data-change_img="{{MEDIA_URL}}img/common/wechat-active.png" src="{{MEDIA_URL}}img/common/wechat.png">
            </a> -->
        </div>

    </ul>

    <!-- 修改回答 -->
    <div class="modal fade" id="edit_answer_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form role="form" method='post' action='/question/modify_answer'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">修改回答</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea id="edit_answer_editor" name="edit_answer_content" class="form-control zx-textarea" style="height: 260px"></textarea>
                            <input type="hidden" class="edit-answer-id" name="answer_id" value=""/>
                            <input type="hidden" name="question_id" value="{{question.id}}"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 回复块 -->
<div class="answer">
    <h4>{% if request.user.is_authenticated %}可以在下面添加你的回答{% else %}加入智选，即可回答该问题{% endif %}</h4>

    <div class="answer-main">
    {% if request.user.is_authenticated %}
        <form class="answer-form" role="form" method="post" action="/question/create_answer/{{question.id}}">
            <div class="form-group mb-0">
                <textarea id="answer_editor" name="answer_content" class="form-control zx-textarea" style="height: 200px;"></textarea>
            </div>
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary">提交你的回答</button>
            </div>
        </form>
    {% else %}
    <div class="not-login row">
        
            <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10 links pt-25 pr">
                <a href="/regist" class="pt-15 pb-15 pl-45 pr-35 f14 bgc-zx co3 register" rel="nofollow"
                    style="border-radius: 2px; box-shadow: 1px 1px 1px #999;">
                    <span class="glyphicon glyphicon-registration-mark pa f18" style="left: 38px; top: 25px;"></span>
                    免费注册
                </a>
                <a href="/login" class="pt-15 pb-15 pl-35 pr-25 f14 bgc-zx co3 login" rel="nofollow"
                    style="border-radius: 2px; box-shadow: 1px 1px 1px #999;">
                    立即登录
                    <span class="glyphicon glyphicon-log-in"></span>
                </a>
                <span class="pa bgc-fff img-circle" style="left: 125px; top:8px; padding: 27px;"></span>
                <span class="pa fi f14" style="left: 145px; top: 25px;">Or</span>
            </div>
    </div>
    {% endif %}
</div>
</div>
</div>

<!-- 邀请模板 -->
<script type="text/template" id="invite_person_template">
<% _.each(users, function(user){ %>
    <li class="invite-item col-md-6 col-xs-12 pt-15 pb-15 none">
        <div class="invite-person-info">
            <a href="/p/<%= user.user_id %>">
                <img class="pa avatar-35 avatar-circle" src="<%= user.user_avatar %>">
            </a>
            <div class="name blue-a pl-40">
                <a href="/p/<%= user.user_id %>" class="zx-cardtips" data-user_id="<%= user.user_id %>"><%= user.user_nick %></a>
                <% if(user.gender == 1){ %>
                <img class="w15 mt--2 ml-5" src="{{MEDIA_URL}}img/common/male.png" title="男">
                <% } %>
                <% if(user.gender == 2){ %>
                <img class="w15 mt--2 ml-5" src="{{MEDIA_URL}}img/common/female.png" title="女">
                <% } %>
                <% if(user.is_invited){ %>
                <button type="button" class="btn btn-default btn-xs pull-right">已邀请</button>
                <% } else { %>
                <button type="button" data-user_id="<%= user.user_id %>" class="btn btn-primary btn-xs pull-right btn-invite">邀请回答</button>
                <% } %>
            </div>
            <div class="des pl-40"><%= user.user_des || '暂无简介' %></div>
        </div>
    </li>
<% }) %>
</script>
{% endblock %}
