{% extends "question/base_question.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}{{question.title|str_display:20}}{% endblock %}

{% block javascript %}
{% if question.is_important %}
<script type="text/javascript">
$(document).ready(function(){
    // 精华盖章动画
    var jinghua = $('.jinghua img');
    jinghua.show()
    .css({'width': '444.5px', 'height': '385px'})
    .animate({'width': '254', 'height': '220px', 'opacity': '0.6'}, 500)
    .animate({'width': '102px', 'height': '88px', 'opacity': '0.99'}, 50);
});
</script>
{% endif %}
{% endblock %}

{% block css %}{% endblock %}

{% block question_main%}
<span class="jinghua">
    <img src="{{MEDIA_URL}}img/common/jinghua1.png"></span>

<ol class="breadcrumb">
    <li>
        <a href="/question">全部</a>
    </li>
    <li>
        <a href="{{question.question_type.get_url}}">{{question.question_type.name}}</a>
    </li>
    <li class="active">{{question.title|str_display:10}}</li>
</ol>
<div class="question-entry">
    <div class="topic">

        <div class="topic-title">
            <h4 class="f22"> <strong>{{question.title}}</strong>
            </h4>
        </div>
        <div class="topic-content line-height-25">{{question.content|safe}}</div>
        <div class="topic-tags row">
            <ul class="list-flow">
                {% for tag in question_tags %}{% include "question/_tags.html" %}{% endfor %}
            </ul>
        </div>
        <div class="topic-footer row">
            <div class="col-md-5">
                {% if not question.is_hide_user %}
                <a class="no-hover-unl" href="{{question.user.get_url}}">
                    <img class="avatar-25 avatar-circle" src="{{question.user.get_avatar}}" title="{{question.user.nick}}" />
                </a>
                <a href="{{question.user.get_url}}" class="zx-cardtips" data-user_id="{{question.user.id}}">
                    <div class="user-name">{{question.user.nick}}</div>
                </a>
                {% endif %}
            </div>
            <div class="col-md-7 text-right">
                <span class="question-tools gray-a">
                    {% if request.user.is_staff %}
                    {% if not question.is_important %}
                    <a id="set_important_a_id" href="javascript: void(0);" 
                        onclick="set_important('{{question.id}}')">
                        设置精华
                    </a>
                    {% else %}
                    <a id="cancel_important_a_id" href="javascript: void(0);" 
                        onclick="cachel_important('{{question.id}}')">
                        取消精华
                    </a>
                    {% endif %}
                    {% endif %}
                    {% if request.user.id == question.user.id or request.user.is_staff %}
                    <a href="#" data-toggle="modal" data-target="#edit_modal">
                        <span class="glyphicon glyphicon-pencil"></span>
                        修改
                    </a>
                    <a href="javascript: void(0);" id="remove_question_a_id"
                        onclick="remove_question('{{question.id}}')">
                        <span class="glyphicon glyphicon-trash"></span>
                        删除
                    </a>
                    {% endif %}
                    <a class="invite hide" href="javascript: void(0);">
                        <span class="glyphicon glyphicon-transfer"></span>
                        邀请回答
                    </a>

                </span>
                <span class="question-date">{{question.create_time}}</span>
            </div>
        </div>
        <div class="topic-invite panel panel-default auto-hide hide">
            <span class="arrow-out"></span>
            <span class="arrow-in"></span>
            <div class="panel-body row">
                <div class="filter-invite col-md-12">
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" placeholder="输入你想邀请人的名字" value="">
                        <span class="glyphicon glyphicon-search search"></span>
                    </div>
                </div>
                <div class="recommend-invite col-md-12">
                    <ul class="list-flow">
                        <li class="invite-item">
                            <div class="col-md-2">
                                <img class="avatar-35 avatar-circle" src="/static/img/common/user3.jpg"></div>
                            <div class="col-md-10 invite-person-info">
                                <div class="name blue-a">
                                    <a href="javascript: void(0);" class="zx-cardtips" data-user_id="1">半夜没事瞎溜达</a>
                                    <span>
                                        <button type="button" class="btn btn-primary btn-xs pull-right">邀请回答</button>
                                    </span>
                                </div>
                                <div class="des">漫漫人生路，谁不错几步</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% if request.user.id == question.user.id or request.user.is_staff %}
        <!-- 弹出层 -->
        <div class="modal fade" id="edit_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" method='post' action='/question/modify_question/{{question.id}}'>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">修改提问</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group" >
                                <span>选择你想提问的类型:</span>
                            </div>
                            <div class="form-group" id="div_types">{% question_type_radio_display %}</div>
                            <div class="form-group" id="div_tags">
                                <div class="tag-title mb-5">将你的提问归类至子话题 :</div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="question_title" placeholder="你有什么想问的？写下问题的标题" 
                                    value='{{question.title}}'></div>
                            <div class="form-group">
                                <textarea id="question_editor" name="question_content" class="form-control zx-textarea" style="height: 260px"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 弹出层结束 -->{% endif %}</div>

<div class="replies">
    <ul class="list-group" id="ul_replies">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-6">
                    <h4> <strong>共{{good_answers_count}}个回答</strong>
                    </h4>
                </div>
            </div>
        </li>
        {% for answer in good_answers %}
            {% include "question/_question_answer.html" %}
        {% endfor %}
        {% if bad_answers %}
        <div class="blank20"></div>
        <li class="list-group-item">
            <div class="gray-a">
                <a class="collapse-answer zx-tooltip" title="智选希望用户通过点击「没有帮助」按钮去参与维护一个更高质量、更有价值的问答氛围，当一个回答被多次点击「没有帮助」便会被折叠。" href="javascript: void(0)">
                    共有 {{bad_answers_count}} 个回答被折叠
                    <span class="glyphicon glyphicon-question-sign" ></span>
                </a>
            </div>
        </li>
        {% for answer in bad_answers %}
            {% include "question/_question_answer.html" %}
        {% endfor %}
        {% endif %}
    </ul>
</div>

<!-- 回复块 -->
<div class="answer">
    <div class="answer-title">
        <h3>可以在下面添加你的回答</h3>
    </div>

    <div class="answer-main">
        {% if request.user.is_authenticated %}
        <form role="form" method="post" action="/question/create_answer/{{question.id}}">
            <div class="form-group">
                <textarea id="answer_editor" name="answer_content" class="form-control zx-textarea" style="height: 100px;"></textarea>
            </div>
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary">提交你的回答</button>
            </div>
        </form>
    {% else %}
    <div class="not-login row">
        <div class="col-md-2 lock">
            <img src="{{MEDIA_URL}}img/common/icon-locked.png"></div>
        <div class="col-md-10">
            <div class="title">回复前请登录</div>
            <div class="content">须登录后才能发表你的回复，点击下面的登录按钮进行登录，如果你还没有成为我们的会员，请点击下面的注册按钮进行新用户注册</div>
            <div class="col-md-6 links">
                <a href="/login">
                    <button type="button" class="btn btn-primary btn-lg btn-login">立即登录</button>
                </a>
            </div>
            <div class="col-md-6 links">
                <a href="/regist">
                    <button type="button" class="btn btn-primary btn-lg btn-regist">免费注册</button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>
</div>
{% endblock %}