{% extends "question/base_question.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}问答首页{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}{% endblock %}
{% block question_main%}
<!--问题列表开始-->
<div class="question-list">
    <!--选项卡开始-->
    {% if '/topic/' in request.path %}
    <ol class="breadcrumb">
        <li>
            <a href="/question">全部</a>
        </li>
        <li class="active">{{tag.name|str_display:10}}</li>
    </ol>
    {% else %}
    <ul class="nav nav-tabs">
        <li {% if not question_type %} class="active"{% endif %}>
            <a href="/question">全部</a>
        </li>
        {% question_type_nav_display %}
    </ul>
    {% endif %}
    <!--选项卡结束-->
    {% if not questions %}
    <div class="blank10"></div>
    <div class="alert alert-success popmsg" id="divSuccess">该分类暂无数据</div>
    {% endif %}
    <!--列表开始-->
    <ul class="list-group {% if '/topic/' in request.path %}tag-ul{% endif %}" id="ul_question_list">
        {% for question in questions %}
        <li class="list-group-item">
            <div class="item-container">
                <div class="item-question-title">
                    <a class="black-blue" href="{{question.get_url}}">
                        <h4> <strong>{{question.title|str_display:30}}</strong>
                        </h4>
                    </a>
                </div>
                <div class="item-question-content">{{question.get_summary|safe}}</div>
                <div class="item-question-tags"></div>
                <div class="item-question-profile">
                    {% if not question.is_hide_user %}
                    <a href="{{question.user.get_url}}">
                        <img class="avatar-25 avatar-circle" src="{{question.user.get_avatar}}" title="{{question.user.nick}}" />
                    </a>
                    <a href="{{question.user.get_url}}" class="zx-cardtips" data-user_id="{{question.user.id}}">
                        <div class="user-name">{{question.user.nick}}</div>
                    </a>
                    {% endif %}
                    <span class="statistic co8" {% if question.is_hide_user %}style="margin-left:0;"{% endif %}>
                        {{question.answer_count}} 个回答 • {{question.views_count}} 次浏览
                    </span>
                    <span class="last-replay">{{question.create_time|time_format}}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <!--列表结束-->
    {{page_params|paging:request}}

</div>
<!--问题列表结束-->
{% endblock %}