{% extends "question/base_question.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}问答首页{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}{% endblock %}

{% block alert %}
    <!-- 
    {% if request.user.is_authenticated and not request.user.email_verified %}
    <div class="alert alert-info popmsg container zx-container box-shadow-224 border-radius-0">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        你的邮箱还没验证，验证邮箱之后，会有更好的通知体验哦!<a class="pl-15 co16" href="/account/user_settings/change_email">立即验证</a>
    </div>
    {% endif %}
     -->

    {% if request.user.is_authenticated and not request.user.avatar %}
    <div class="alert alert-info popmsg container zx-container box-shadow-224 border-radius-0">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        你的头像尚未设置，想在智选做一个有“头”有“脸”的人吗？<a class="pl-15 co16" href="/account/user_settings">立即设置</a>
    </div>
    {% endif %}
{% endblock %}

{% block question_main%}
<!--问题列表开始-->
<div class="question-list">
    <!--选项卡开始-->
    {% if '/topic/' in request.path %}
    <ol class="breadcrumb">
        <li>
            <a href="/question">全部</a>
        </li>
        <li class="active">{{tag.name|str_display:10}}</li>
    </ol>
    {% else %}
    <ul class="nav nav-tabs pl-15">
        <li {% if not question_type %} class="active"{% endif %}>
            <a href="/question">全部</a>
        </li>
        {% question_type_nav_display %}
    </ul>
    {% endif %}
    <!--选项卡结束-->
    {% if not questions %}
    <div class="blank10"></div>
    <div class="alert alert-info box-shadow-224 border-radius-0 popmsg" id="divSuccess">该分类暂无数据</div>
    {% endif %}
    <!--列表开始-->
    <ul class="list-group {% if '/topic/' in request.path %}tag-ul{% endif %}" id="ul_question_list">
        {% for question in questions %}
            {% include "question/_question_li_display.html" %}
        {% endfor %}
    </ul>
    <!--列表结束-->
    {{page_params|paging:request}}

</div>
<!--问题列表结束-->
{% endblock %}