{% extends "question/base_search.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){

});
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block search_main %}
<ul class="list-group">
    {% for question in questions %}
        {% include "question/_question_li_display.html" %}
    {% endfor %}
    <li class="list-group-item pt-0 pb-0 no-l-r-bd bdc-eee">
        <div class="item-container pt-10 pb-10">
            <div class="item-question-title">
                <a class="black-blue f16" href="/question/184">
                    <strong>智选（002474）昨日涨停，今日又早盘放量的票，是不是连续涨停的概率很大...</strong>
                </a>
            </div>
            <div class="item-question-content f13 w mt-10 break-word">根据公告显示 按照调查核查计算口径，涉案事项对<span class="co23">智选</span>年度财务报表数据的影响情况如下： 2006年虚增收入31,566.92万元，虚增成本22,481.37万元，虚增利润9,085.5</div>
            <div class="item-question-tags"></div>
            <div class="pt-15">
                
                <a class="no-hover-unl" href="/p/f39d9b2cca8d11e395bd00163e003240">
                    <img class="avatar-25 avatar-circle" alt="关灯吃面" src="http://img0.zhixuan.com/newest_avatar_9844339eb3f411e387fb00163e003240!25m25">
                </a>
                <a href="/p/f39d9b2cca8d11e395bd00163e003240" class="zx-cardtips tooltipstered" data-user_id="f39d9b2cca8d11e395bd00163e003240">
                    <span class="f12">半夜没事瞎溜达</span>
                </a>
                
                <span class="f12 pl-15 co8">
                    0 个赞 • 06-11 09:57:57
                </span>
            </div>
        </div>
    </li>
    <li class="list-group-item pt-0 pb-0 no-l-r-bd bdc-eee">
        <div class="item-container pt-10 pb-10">
            <div class="item-question-title">
                <a class="black-blue f16" href="/question/183">
                    <strong>MSCI：决定不将纳入新兴市场指数，今天低开就是这个消息影响？</strong>
                </a>
            </div>
            <div class="item-question-content f13 w mt-10 break-word">这个消息应该影响不大吧，也能给<span class="co23">智选</span>施压？但还是说明A股太烂了，国际友人不待见啊。</div>
            <div class="item-question-tags"></div>
            <div class="pt-15">
                
                <a class="no-hover-unl" href="/p/20fa197eef9611e3915b00163e003240">
                    <img class="avatar-25 avatar-circle" alt="鸟枪换炮" src="http://img0.zhixuan.com/newest_avatar_4353c9c8ef9811e3a91500163e003240!25m25">
                </a>
                <a href="/p/20fa197eef9611e3915b00163e003240" class="zx-cardtips tooltipstered" data-user_id="20fa197eef9611e3915b00163e003240">
                    <span class="f12">鸟枪换炮</span>
                </a>
                
                <span class="f12 pl-15 co8">
                    0 个赞• 06-11 09:45:44
                </span>
            </div>
        </div>
    </li>
</ul>
{% endblock %}
