{% extends "question/base_search.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $.ZXUtils.highlight($('.item-question-content'), "{{key_words}}", '<span class="co23">{0}</span>');
});
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block search_main %}
<ul class="list-group">
    {% for answer in answers %}
    <li class="list-group-item pt-0 pb-0 no-l-r-bd bdc-eee">
        <div class="item-container pt-10 pb-10">
            <div class="item-question-title">
                <a class="black-blue f16" href="{{answer.question.get_url}}">
                    <strong>{{answer.question.title|str_display:30}}</strong>
                </a>
            </div>
            <div class="item-question-content f13 w mt-10 break-word">{{answer.get_summary|safe}}
                <a href="question/{{answer.question.id}}#to_answer_{{answer.id}}" class="pl-5 f12">
                        <span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
                </a>
            </div>
            <div class="item-question-tags"></div>
            <div class="pt-15">
                <a class="no-hover-unl" href="{{answer.from_user.get_url}}">
                    <img class="avatar-25 avatar-circle" alt="{{answer.from_user.nick}}" src="{{answer.from_user.get_avatar_25}}">
                </a>
                <a href="{{answer.from_user.get_url}}" class="zx-cardtips tooltipstered" data-user_id="{{answer.from_user.id}}">
                    <span class="f12">{{answer.from_user.nick}}</span>
                </a>
                
                <span class="f12 pl-15 co8">
                    {{answer.like_count}} 个赞 • {{answer.create_time|time_format}}
                </span>
            </div>
        </div>
    </li>
    {% endfor %}

    {{page_params|paging:request}}
</ul>
{% endblock %}
