{% extends "question/base_search.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $.ZXUtils.highlight($('.user-name'), "{{key_words}}", '<span class="co23">{0}</span>');
});
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block search_main %}
<ul class="list-group">
    {% for user in users %}
    <li class="list-group-item no-l-r-bd bdc-eee pl-0">
        <a href="{{user.get_url}}">
            <img class="pa avatar-45 avatar-circle" alt="{{user.nick}}" src="{{user.get_avatar_65}}">
        </a>
        <div class="pl-55">
            <div>
                <a class="user-name" href="{{user.get_url}}">{{user.nick}}</a>
            </div>
            <div class="f12 pt-5">
                <a class="black-blue pr-5" href="/p/2299e654aa6011e3ac1c00163e003240/questions">提问 {{user.user_question_count}}</a>
                |
                <a class="black-blue pr-5 pl-5" href="/p/2299e654aa6011e3ac1c00163e003240/answers">回答 {{user.user_answer_count}}</a>|
                <a class="black-blue pr-5 pl-5">被赞 {{user.user_liked_count}}</a>
                |
                <a class="black-blue pr-5 pl-5" href="/p/2299e654aa6011e3ac1c00163e003240/following">关注 {{user.following_count}}</a>|
                <a class="black-blue pr-5 pl-5" href="/p/2299e654aa6011e3ac1c00163e003240/followers">粉丝 {{user.follower_count}}</a>
            </div>
            <div class="f12 co8 pt-5">{{user.des|default:"暂无简介"}}</div>
        </div>
    </li>
    {% endfor %}
    {{page_params|paging:request}}
</ul>
{% endblock %}
