{% extends "question/base_search.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	$.ZXUtils.highlight($('.item-question-title strong'), "{{key_words}}", '<span class="co23">{0}</span>');
});
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block search_main %}
<ul class="list-group">
    {% for question in questions %}
        {% include "question/_question_li_display.html" %}
    {% endfor %}
</ul>

{{page_params|paging:request}}

{% endblock %}
