{% extends "question/base_topic.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}大盘走势 - 话题{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}{% endblock %}

{% block topic_main %}
<div class="bottom-border bdc-bbb pl-10 mb-10">
    <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/default-topic.jpg">
    <div class="pl-80 pb-10 pt-5">
        <h4>大盘走势</h4>
        <div class="co8 f12">
            <span>253人关注 • 1658个问题</span>
            <span class="pull-right pr-10"><button class="btn btn-primary btn-xs">关注此话题</button></span>
        </div>
    </div>
</div>
<!--问题列表开始-->
<div class="question-list">
    
    <!--列表开始-->
    <ul class="list-group" id="ul_question_list">
        <li class="list-group-item pt-0 pb-0 no-l-r-bd bdc-eee">
            <div class="item-container pt-10 pb-10">
                <div class="item-question-title">
                    <a class="black-blue f16" href="{{question.get_url}}">
                        <strong>想了解大宗交易，有谁能提供一下限售股解禁后通过大宗交易减持的...</strong>
                    </a>
                </div>
                <div class="item-question-content f13 w mt-10">帮朋友问一下，他有一部分限售股即将解禁了。</div>
                <div class="item-question-tags"></div>
                <div class="pt-15">
                    
                    <a class="no-hover-unl" href="#">
                        <img class="avatar-25 avatar-circle" src="{{request.user.get_avatar_25}}" title="" />
                    </a>
                    <a href="#" class="zx-cardtips" data-user_id="1">
                        <span class="f12">半夜没事瞎溜达</span>
                    </a>
                    <span class="f12 pl-15 co8">
                        8 个回答 • 58 次浏览 • 04-01 12:56:22
                    </span>
                    
                </div>
            </div>
        </li>
        <li class="list-group-item pt-0 pb-0 no-l-r-bd bdc-eee">
            <div class="item-container pt-10 pb-10">
                <div class="item-question-title">
                    <a class="black-blue f16" href="{{question.get_url}}">
                        <strong>想了解大宗交易，有谁能提供一下限售股解禁后通过大宗交易减持的...</strong>
                    </a>
                </div>
                <div class="item-question-content f13 w mt-10">帮朋友问一下，他有一部分限售股即将解禁了。</div>
                <div class="item-question-tags"></div>
                <div class="pt-15">
                    
                    <a class="no-hover-unl" href="#">
                        <img class="avatar-25 avatar-circle" src="{{request.user.get_avatar_25}}" title="" />
                    </a>
                    <a href="#" class="zx-cardtips" data-user_id="1">
                        <span class="f12">半夜没事瞎溜达</span>
                    </a>
                    <span class="f12 pl-15 co8">
                        8 个回答 • 58 次浏览 • 04-01 12:56:22
                    </span>
                    
                </div>
            </div>
        </li>
    </ul>
    <!--列表结束-->
    

</div>
{% endblock topic_main %}

{% block hot-topics %}{% endblock hot-topics %}

{% block topic_right %}
<div class="bottom-border bdc-eee mb-25">
    <div class="f16 pb-10 fb">话题描述</div>
    <div class="">
        <p>大盘：是指沪市的“上证综合指数”和深市的“深证成份股指数”的股票。</p>
        <p>大盘指数是运用统计学中的指数方法编制而成的，反映股市总体价格或某类股价变动和走势的指标。</p>
        <p>上证综合指数：以上海证券交易所 挂牌上市的全部股票（包括A股和B股）为样本，以发行量 为权数（包括流通股本和非流通股本），以加权平均法 计算，以1990年12月19日为基日，基日指数 定为100点的股价指数。</p>
        <p>深圳成份股指数：从深圳证券 交易所挂牌上市的 所有股票中抽取具有市场代表性的40家上市公司的股票为样本，以流通股本为权数，以加权平 均法计算，以1994 年7月20日为基日，基日指数定为1000点的股价指数。</p>
    </div>
</div>

<div class="bottom-border bdc-eee mb-25">
    <div class="f16 fb pb-10">父话题</div>
    <ul class="list-inline pb-10">
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">股票</a></li>
    </ul>
</div>

<div class="bottom-border bdc-eee mb-25">
    <div class="f16 fb pb-10">子话题</div>
    <ul class="list-inline pb-10">
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">上证综合指数</a></li>
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">深圳成份股指数</a></li>
    </ul>
</div>
{% endblock topic_right %}