{% extends "question/base_topic.html" %}

{% load custom_tags %}
{% load custom_filters %}
{% block title %}话题广场{% endblock %}
{% block javascript %}{% endblock %}
{% block css %}
<style type="text/css">
.hot-topics{
    border-top: 0px;
    padding-top: 10px;
}

.more-topics{
    display: none;
}
</style>
{% endblock %}

{% block topic_main %}
<div class="bottom-border bdc-bbb row pt-10 pb-5">
    <div class="col-md-6">
        <span class="f16 fb">话题广场</span>
    </div>
    <div class="col-md-6 text-right gray-a">
        <a href="/p#following_topics" class="hide">我关注的话题</a>
    </div>
</div>

<div class="pt-15 row bottom-border bdc-eee">
    <ul class="list-flow">
        <li><a class="{% if not question_type %}active {% endif %}border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="/topics">全部</a></li>
        {% for aqt in aqts %}
        <li><a class="{% if question_type == aqt.id %}active {% endif %}border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="?question_type={{aqt.id}}">{{aqt.name}}</a></li>
        {% endfor %}
    </ul>
</div>

{% if topics %}
<div class="row topics">
    <ul class="list-inline pl-10">
        {% for topic in topics %}
        <li class="topic-item pt-15 col-md-6 col-xs-12">
            <a href="{{topic.get_url}}"><img class="pa avatar-65 avatar-circle" alt="{{topic.name}}" src="{{topic.get_img}}"></a>
            <div class="pl-75 row pr-10">
                <div class="col-md-6 col-xs-6">
                    <a href="{{topic.get_url}}" class="zx-topictips" data-topic_id='{{topic.id}}'>{{topic.name}}</a>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button type="button" class="btn btn-primary btn-xs pull-right btn-follow hide">关注话题</button>
                </div>
                <div class="col-md-12 col-xs-12 f12 pt-5 pb-15 min-h55">{{topic.get_summary|default:'暂无话题介绍'|str_display:'35'}}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="blank10"></div>
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock %}

{% block topic_right %}

{% endblock %}