{% extends "question/base_topic.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}{{tag.name}} - 话题{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}{% endblock %}

{% block topic_main %}
<div class="bottom-border bdc-bbb pl-10 mb-10">
    <img class="pa avatar-65 avatar-circle" alt="{{tag.name}}" src="{{tag.get_img}}">
    <div class="pl-80 pb-10 pt-5">
        <h4>{{tag.name}}</h4>
        <div class="co8 f12">
            <span>共 {{tag.get_tag_question_count}} 个问题</span>
        </div>
    </div>
</div>
<!--问题列表开始-->
<div class="question-list">
    {% if questions %}
    <!--列表开始-->
    <ul class="list-group" id="ul_question_list">
        {% for question in questions %}
            {% include "question/_question_li_display.html" %}
        {% endfor %}
    </ul>
    <!--列表结束-->
    {{page_params|paging:request}}
    {% else %}
    <div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
    {% endif %}
</div>
{% endblock topic_main %}

{% block hot-topics %}{% endblock hot-topics %}

{% block topic_right %}
<div class="bottom-border bdc-eee mb-25">
    <div class="f16 pb-10 fb">话题介绍</div>
    <div class="">{{tag.des|default:'暂无话题介绍'}}</div>
    <div class="blank10"></div>
</div>

<div class="bottom-border bdc-eee mb-25">
    <div class="f16 fb pb-10">父话题</div>
    <ul class="list-inline pb-10">
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="{{tag.question_type.get_url}}">{{tag.question_type.name}}</a></li>
    </ul>
</div>

{% endblock topic_right %}