{% extends "question/base_topic.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block keywords %}{{topic.name}},智选{% endblock keywords %}
{% block description %}{{topic.get_summary|str_display:80}}{% endblock description %}

{% block title %}{{topic.name}} - 话题{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}{% endblock %}

{% block topic_main %}
<div class="bottom-border bdc-bbb pl-10 mb-10">
    <img class="pa avatar-65 avatar-circle" alt="{{topic.name}}" src="{{topic.get_img}}">
    <div class="pl-80 pb-10 pt-5">
        <h4>{{topic.name}}</h4>
        <div class="co8 f12">
            <span>共 {{topic.question_count}} 个问题</span>
        </div>
    </div>
</div>
<!--问题列表开始-->
<div class="question-list">
    {% if questions %}
    <!--列表开始-->
    <ul class="list-group" id="ul_question_list">
        {% for question in questions %}
            {% include "question/_question_li_display.html" %}
        {% endfor %}
    </ul>
    <!--列表结束-->
    {{page_params|paging:request}}
    {% else %}
    <div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
    {% endif %}
</div>
{% endblock topic_main %}

{% block hot-topics %}{% endblock hot-topics %}

{% block topic_right %}
<div class="bottom-border bdc-eee mb-25">
    <div class="f16 pb-10 fb">话题介绍</div>
    <div class="">{{topic.des|default:'暂无话题介绍'|safe}}</div>
    <div class="blank10"></div>
</div>

<div class="bottom-border bdc-eee mb-25">
    <div class="f16 fb pb-10">父话题</div>
    <ul class="list-inline pb-10">
        {% if topic.parent_topic %}
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="{{topic.parent_topic.get_url}}">{{topic.parent_topic.name}}</a></li>
        {% else %}
        <li>暂无</li>
        {% endif %}
    </ul>
</div>

{% endblock topic_right %}