{% extends "question/base_topic.html" %}

{% load custom_tags %}
{% block title %}话题广场{% endblock %}
{% block javascript %}{% endblock %}
{% block css %}
<style type="text/css">
.hot-topics{
    border-top: 0px;
    padding-top: 10px;
}

.more-topics{
    display: none;
}
</style>
{% endblock %}

{% block topic_main %}
<div class="bottom-border bdc-bbb row pt-10 pb-5">
    <div class="col-md-6">
        <span class="f16 fb">话题广场</span>
    </div>
    <div class="col-md-6 text-right gray-a">
        <a href="/p#following_topics" class="hide">我关注的话题</a>
    </div>
</div>

<div class="pt-15 row bottom-border bdc-eee">
    <ul class="list-flow">
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">股票</a></li>
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">债券</a></li>
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">期货</a></li>
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">期权</a></li>
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">其他</a></li>
    </ul>
</div>

<div class="row topics">
    <ul class="list-inline pl-10">
        <li class="topic-item pt-15 col-md-6 col-xs-12">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/topic0.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="zx-topictips" data-topic_id='12'>大盘走势</a>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button type="button" class="btn btn-primary btn-xs pull-right btn-follow hide">关注话题</button>
                </div>
                <div class="col-md-12 f12 pt-5 pb-15">大盘走势,是对在证交所交易的股票价格综合涨跌情况的描述. 判别指标有上证指数和深证指数等.</div>
            </div>
        </li>
        <li class="topic-item pt-15 col-md-6 col-xs-12">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/topic1.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="zx-topictips" data-topic_id='1'>个股分析</a>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button type="button" class="btn btn-default btn-xs pull-right btn-unfollow hide">取消关注</button>
                </div>
                <div class="col-md-12 f12 pt-5 pb-15">股票是一种无偿还期限的有价证券，按持有者可分为国家股、法人股、个人股。个人股投资资金来自个人，可以自由上市流通。</div>
            </div>
        </li>
        <li class="topic-item pt-15 col-md-6 col-xs-12">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/topic2.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="zx-topictips" data-topic_id='1'>互联网金融</a>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button type="button" class="btn btn-primary btn-xs pull-right btn-follow hide">关注话题</button>
                </div>
                <div class="col-md-12 f12 pt-5 pb-15">互联网金融是指以依托于支付、云计算以及搜索引擎等互联网工具，实现资金融通、支付和信息中介等业务的一种新兴金融。</div>
            </div>
        </li>
        <li class="topic-item pt-15 col-md-6 col-xs-12">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/topic3.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="zx-topictips" data-topic_id='1'>P2P网贷</a>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button type="button" class="btn btn-primary btn-xs pull-right btn-follow hide">关注话题</button>
                </div>
                <div class="col-md-12 f12 pt-5 pb-15">个人通过网络平台相互借贷，贷款方在P2P网站上发布贷款需求，投资人则通过网站将资金借给贷款方完成交易要向P2P网贷平...</div>
            </div>
        </li>
        <li class="topic-item pt-15 col-md-6 col-xs-12">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/topic4.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="zx-topictips" data-topic_id='1'>私募股权(PE)</a>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button type="button" class="btn btn-primary btn-xs pull-right btn-follow hide">关注话题</button>
                </div>
                <div class="col-md-12 f12 pt-5 pb-15">PE私募股权[1]起源于美国。19世纪末，有不少富有的私人银行家通过律师、会计师的介绍和安排，将资金投资于风...</div>
            </div>
        </li>
        <li class="topic-item pt-15 col-md-6 col-xs-12">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/default-topic.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="zx-topictips" data-topic_id='1'>债券</a>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button type="button" class="btn btn-default btn-xs pull-right btn-unfollow hide">取消关注</button>
                </div>
                <div class="col-md-12 f12 pt-5 pb-15">债券（bond）是一种金融契约，是政府、金融机构、工商企业等直接向社会借债筹措资金时，向投资者发行，同时承诺按一定...</div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block topic_right %}

{% endblock %}