{% extends "question/base_topic.html" %}

{% load custom_tags %}
{% block title %}话题广场{% endblock %}
{% block javascript %}{% endblock %}
{% block css %}
<style type="text/css">
.hot-topics{
    border-top: 0px;
    padding-top: 10px;
}

.more-topics{
    display: none;
}
</style>
{% endblock %}

{% block topic_main %}
<div class="bottom-border bdc-bbb row pt-10">
    <div class="col-md-6">
        <span class="f16 fb">话题广场</span>
    </div>
    <div class="col-md-6 text-right gray-a">
        <a href="/p#following_topics">我关注的话题</a>
    </div>
</div>

<div class="pt-15 row bottom-border bdc-eee">
    <ul class="list-flow">
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">股票</a></li>
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">债券</a></li>
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">期货</a></li>
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">期权</a></li>
        <li><a class="border-block-blue ml-5 pl-10 pr-10 pt-3 pb-3" href="#">其他</a></li>
    </ul>
</div>

<div class="row topics">
    <ul class="list-inline pl-10">
        <li class="topic-item pt-15">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/default-topic.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6"><a href="#" class="zx-topictips" data-topic_id='1'>大盘走势</a></div>
                <div class="col-md-6 text-right gray-a pt-3"><a href="#" class="f12">+ 关注</a></div>
                <div class="col-md-12 f12 pt-5 pb-15">大盘走势,是对在证交所交易的股票价格综合涨跌情况的描述. 判别指标有上证指数和深证指数等.</div>
            </div>
        </li>
        <li class="topic-item pt-15">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/default-topic.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6"><a href="#">大盘走势</a></div>
                <div class="col-md-6 text-right gray-a pt-3"><a href="#" class="f12">+ 关注</a></div>
                <div class="col-md-12 f12 pt-5 pb-15">大盘走势,是对在证交所交易的股票价格综合涨跌情况的描述. 判别指标有上证指数和深证指数等.</div>
            </div>
        </li>
        <li class="topic-item pt-15">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/default-topic.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6"><a href="#">大盘走势</a></div>
                <div class="col-md-6 text-right gray-a pt-3"><a href="#" class="f12">+ 关注</a></div>
                <div class="col-md-12 f12 pt-5 pb-15">大盘走势,是对在证交所交易的股票价格综合涨跌情况的描述. 判别指标有上证指数和深证指数等.</div>
            </div>
        </li>
        <li class="topic-item pt-15">
            <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/default-topic.jpg">
            <div class="pl-75 row pr-10">
                <div class="col-md-6"><a href="#">大盘走势</a></div>
                <div class="col-md-6 text-right gray-a pt-3"><a href="#" class="f12">+ 关注</a></div>
                <div class="col-md-12 f12 pt-5 pb-15">大盘走势,是对在证交所交易的股票价格综合涨跌情况的描述. 判别指标有上证指数和深证指数等.</div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block topic_right %}

{% endblock %}