{% extends "base/base_daily.html" %}

{% block title %}每日精华{% endblock %}

{% block css %}
<style type="text/css">
.daily-main{
	margin-top: 30px;
}

.title{
	padding: 20px 0 20px 0;
}

.detail-right{
	padding-top: 10px;
	padding-left: 20px;
}

.detail-title h3{
	color: #475058;
}

.detail-profile{
	color: #999;
	font-size: 12px;
}

.detail-content{
	padding: 10px;
}

.detail-content p{
	/*padding-left: 10px;*/
	color: #69737b;
	line-height: 28px;
	text-indent: 28px;
}
</style>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block daily_main %}
<ul class="list-group daily-main">
	<li class="list-group-item">
		<div class="title row">
			<div class="col-md-2 detail-img">
				<img src="{{MEDIA_URL}}img/common/daily.jpg"></div>
			<div class="col-md-10 detail-right">
				<div class="detail-title">
					<h3>支付是互联网金融的基础工具</h3>
				</div>
				<div class="detail-profile">时间：2013-11-19  来源：有利网   作者：中华浔</div>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="detail-content">

			<p>
				上篇中华浔讲到互联网金融是如何火起来的，兴起来之后，每一位行业者都会想互联网金融都包括些什么。接下来，就从互联网金融最早兴起的几种形式，P2P、第三方支付、众筹是其中三种。
			</p>
			<p>
				今天最先来讲一讲与大家熟悉的第三方支付。互联网金融的第一波热潮，得从10年前第三方支付的兴起开始。2003年底，支付宝在淘宝网推出。于是，第三方支付便如雨后春笋般兴盛起来。2005年，易宝支付的平台正式推出。
			</p>
			<p>
				第三方支付为什么叫第三方，原因是它独立于银行体系之外，中国的各个银行之间并不互相融通，转账汇款非常麻烦。于是，在汇的层面，产生了空间。
			</p>
			<p>
				支付宝、财付通的兴起，更是伴随，互联网上交易的兴起，彼此之间的信任问题。过去10年，第三方支付快速发展。2013年，第三方支付的规模达到10万亿。
			</p>
			<p>
				目前，整个第三方支付市场，支付宝的份额位居市场前列，支付宝、财付通、中国银联、杉德等平台依赖型的独立支付企业有明显的优势。通联支付、快钱、易宝、汇付天下等亦凭借多年在企业级第三方支付上的积累获得了一定的市场空间。
			</p>
			<p>
				从第三方支付所覆盖的细分领域来看，线下收单，互联网支付步入成熟阶段，移动支付方兴未艾。2012年线下收单占比最高为68.8%；其次是互联网支付，占比28.3%；移动支付取得了一定的发展,占比为1.2%。
			</p>
			<p>
				目前，央行颁发了250张第三方支付牌照。所颁发的牌照已经涉及货币汇兑、互联网支付、移动电话支付、固定电话支付、数字电视支付、预付卡发行与受理和银行卡收单等7大业务类型。
			</p>
			<p>
				而经过接下来的几年发展，第三方支付具备较为成熟的盈利模式的业务仍然集中于互联网支付、预付卡发行与受理、以及银行卡收单等3大业务。
			</p>
			<p>
				第三方支付与互联网金融之间的机会在于互联网支付，而银行卡收单、预付卡进入互联网金融的机会比较小。目前，有98家第三方支付企业拥有互联网支付的牌照。
			</p>
			<p>
				虽然，支付本身并不产生多大收益，多年以来，第三方支付的费率、扣点也非常低，远不及第三方支付公司多年搭建平台给予的成本。但支付就是互联网的"导流"产品。中华浔认为，支付是互联网金融不可缺少的一环，是互联网金融的基础。
			</p>
			<p>
				今年，百度、新浪、苏宁都获得了支付牌照，开始进入互联网支付。而民生电商也正在谋求收购了某家支付公司，平安付、京东也通过收购获得了全类型的第三方支付牌照。中华浔认为，支付争夺战已经开始，未来，无论是互联网巨头，还是金融巨头，都无法缺席支付。同样，那些早就申请到互联网支付等牌照的第三方支付公司可以借机卖个好价格，一般价格都过亿。
			</p>
			<p>借助方便快捷的支付，P2P、众筹等互联网金融更方便在PC端、移动终端上进行交易。</p>
			<p>
				借助支付，可以进入投资理财的市场。这一点，支付宝旗下的余额宝就可以解释。目前，余额宝的累计申购量是1300亿，用户是1600万。而诸如，数米基金、天天基金不少第三方基金销售平台都采用第三方支付进行划转，原因是方便快捷。
			</p>
			<p>
				总而言之，支付是一种工具，既是圈住个人用户的免费倒流工具，也是圈住企业用户的利器。目前，支付宝、财付通的活跃用户皆已过亿，已经成为不可或缺的工具。而诸如易宝支付、汇付天下、快钱等企业级支付也都拥有几百万的中小微企业，从这些企业出发，可以做供应链金融、P2P等金融业务的创新。
			</p>
			<p>
				支付也每天都在产生变化，孕育着互联网金融的创新。接下来，中华浔给大家讲一讲移动支付、跨境支付、信用支付、以及国外PalPal、Square等大型支付企业的创新介绍。
			</p>
			<p> <strong>作者简介：21世纪经济报道资深记者，互联网金融千人会联合创始人，TMT青年沙龙联合创始人，旨在搭建行业交流的圈子、共同学习与成长，促进互联网金融行业的发展。</strong> 
			</p>
		</div>
	</li>
</ul>
{% endblock %}