{% extends "email/base_email.html" %}
{% block email_body %}

<a href="{{MAIN_DOMAIN}}/p/14ae6282b49111e387fb00163e003240">
	<img class="img-circle" src="http://img0.zhixuan.com/newest_avatar_8b75e242da4211e3abb600163e003240!65m65"/>
</a>
<div class="" style="padding-left: 70px; margin-top:25px;">
    <div style="padding-top: 5px;">
        <a href="#" style="padding-right: 5px;">半夜没事瞎溜达</a>回答了你的提问<a style="padding-left: 10px;" href="/p/14ae6282b49111e387fb00163e003240">海隆软件收购二三四五获批，而二三四五有互联网行业的安家立命之本吗？</a>
    </div>
    <div style="padding-top: 10px; padding-bottom: 15px; font-size: 14px">
        去年四川反腐败，四川不少上市公司一路走低，比如兴蓉投资，金路集团等都有受影响，这次媒体消息称国家电网反腐败，违规招投标可能是最严重的问题，相关的上市公司有哪些呢？提前规避一下，怕遭...
    </div>
</div>

{% endblock %}