<div class="mt-35 pt-30 pb-30 line-height-20 bgc-333 co8 f12" style="min-height: 220px;">
    <div class="container zx-container pb-0 pt-20 pr">
        <div class="bdc-444 bottom-border pb-15">
            <span class="co3 f22">智选</span>
            <span class="co8 ml-10">投资是一门学问，善学善问</span>
        </div>
        <div class="pt-15 row pl-5 pr">
            {% if flinks %}
            <span class="pa co3 f12 pl-10" style="left: 5px;">友情链接</span>
            <ul class="list-inline col-md-10 pl-75">
                {% for flink in flinks %}
                <li>
                    <a href="{{flink.href}}" target="_blank" class=" gray-white">{{flink.name}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="pt-0">
            <a class="pr-10 gray-white" href="{{MAIN_DOMAIN}}/s/about" rel="nofollow">关于我们</a> |
            <a class="pr-10 pl-10 gray-white" href="http://kaihu.{{SERVER_DOMAIN|default:'zhixuan.com'}}">股票开户</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/s/business" rel="nofollow">商务合作</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/s/links">友情链接</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/s/logs" rel="nofollow">更新日志</a>
        </div>

        <div class="pt-0">
            <span>Copyright &copy; 2013 - 2014 zhixuan.com. All Rights Reserved.</span>
            <span class="pl-10">蜀ICP备14001726号</span>
        </div>

        <div class="pt-0">
            <span>友情链接交换请联系QQ: 
                <a href="tencent://message/?uin=2659790310" target="_blank" rel="nofollow" class="gray-white">
                    <span class="fa fa-qq pl-5 pr-3"></span>2659790310
                </a>
            </span>
        </div>

        <img class="pa hidden-xs" style="width: 90px;right: 20px; top: 70px;" alt="智选日报二维码" src="{{MEDIA_URL}}img/common/zhixuanribao.jpg">
    </div>
</div>