<div class="mt-35 pt-30 pb-30 line-height-20 bgc-333 co8 f12">
	<div class="text-center gray-a">
		<a class="pr-10 pl-10" href="/s/about">关于我们</a>
		|
		<a class="pr-10 pl-10" href="/s/disclaimer">免责申明</a>
		|
		<a class="pr-10 pl-10" href="/s/business">商务合作</a>
		|
		<a class="pr-10 pl-10" href="/question">智选问答</a>
		|
		<a class="pr-10 pl-10" href="/s/links">友情链接</a>
	</div>
	<div class="text-center">Copyright &copy; 2013 - 2014 zhixuan.com. All Rights Reserved.</div>
	<div class="text-center">蜀ICP备14001726号</div>
</div>
