{% load custom_tags %}
{% load custom_filters %}
<div class="bgc-333">
    <div class="container zx-container pb-60 pt-20">
        <div class="col-md-3 f85 pt-25">
            <span class="glyphicon glyphicon-globe"></span>
        </div>
        <div class="col-md-2 f12 pt-20">
            <a class="gray-white f14 co3" style="color: white" href="{{MAIN_DOMAIN}}">智选</a>
            <ul class="list-inline pt-5">
                <li class="col-md-12 pt-10"><a class="gray-white" href="{{MAIN_DOMAIN}}/s/about">关于我们</a></li>
                <li class="col-md-12 pt-10"><a class="gray-white" href="{{MAIN_DOMAIN}}/question">智选问答</a></li>
                <li class="col-md-12 pt-10"><a class="gray-white" href="{{MAIN_DOMAIN}}s/links">友情链接</a></li>
                <li class="col-md-12 pt-10"><a class="gray-white" href="http://kaihu.{{SERVER_DOMAIN|default:'zhixuan.com'}}">股票开户</a></li>
                <li class="col-md-12 pt-10"><a class="gray-white" href="{{MAIN_DOMAIN}}/s/logs">更新日志</a></li>
            </ul>
        </div>
        <div class="col-md-4 pt-20">
            <div class="f14 co3">友情链接</div>
            <ul class="list-inline f12 pt-5">
            	{% for flink in flinks %}
                <li class="col-md-4 pt-10"><a href="{{flink.href}}" target="_blank" class="gray-white">{{flink.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3 f12 co8 pt-15">
            <ul class="list-inline">
                <li class="col-md-12 pt-10">Copyright © 2013 - 2014 zhixuan.com</li>
                <li class="col-md-12 pt-10">All Rights Reserved</li>
                <li class="col-md-12 pt-10">蜀ICP备14001726号</li>
            </ul>
        </div>
    </div>
</div>