<div class="top-border bdc-eee">
    <div class="pt-10 text-center co8">在微信上关注智选日报</div>
    <img class="w" alt="智选日报二维码" src="{{MEDIA_URL}}img/common/zhixuanribao.jpg">
    <div class="gray-a pl-15 follow-zx">
        <a class="qq" href="javascript: void(0);">
        	<img class="avatar-20 zx-tooltip" alt="智选用户交流群" src="{{MEDIA_URL}}img/common/qq-active.png" data-toggle="tooltip" data-placement="bottom" data-original-title="关注智选用户交流群: 375931749" data-trigger="hover" title="">
        </a>
        <a class="sina" target="_blank" href="http://weibo.com/5083374708" rel="nofollow">
        	<img class="avatar-20 zx-tooltip" alt="智选微博" src="{{MEDIA_URL}}img/common/sina-active.png" data-toggle="tooltip" data-placement="bottom" data-original-title="关注智选微博" data-trigger="hover" title="">
        </a>
        <a class="feedback f12 pull-right pr-15 pb-5 mr-10 pt-5 none" href="javascript: void(0);">意见反馈</a>
        <a class="intro f12 pull-right pr-15 pb-5 mr-10 pt-5" href="javascript: void(0);">网站使用引导</a>
    </div>
</div>