{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}首页{% endblock title %}
{% block home_css %}
<style type="text/css">
.hot-topics{
	border-top: 0;
}
</style>
{% endblock %}

{% block home_js %}
<script type="text/javascript">
$(document).ready(function(){

    var Feed = Backbone.Model.extend({
        defaults: {
            'feedId': '',           // 动态id 
            'feedDate': '',         // 动态时间
            'feedType': 0,          // 动态类型 (1提问 2赞回答 3回答)
            'userId': '',           // 用户id
            'userAvatar': '',       // 用户头像
            'userName': '',         // 用户名
            'questionId': 0,        // 提问id
            'questionTitle': '',    // 提问标题
            'questionDesc': '',     // 提问描述
            'questionViewCount': 0, // 提问浏览次数
            'questionAnswerCount':0,// 提问回答个数
            'answerId': 0,          // 回答id
            'answerContent': '',    // 回答内容
            'answerUserId': '',     // 回答者id
            'answerUserName': '',   // 回答者名字
            'answerUserAvatar': '', // 回答者头像
            'answerUserDesc': '',   // 回答者个人简介
            'answerLikeCount': 0    // 回答获赞个数
        }
    });
    var User = Backbone.Model.extend({
        defaults: {
            'userId': '',           // 用户id
            'userName': '',         // 用户名称
            'userAvatar': '',       // 用户头像
            'userGender': '',       // 用户性别
            'userDesc': '',         // 用户简介
            'likeCount': 0,         // 获赞个数
            'answerCount': 0,       // 回答个数
            'questionCount': 0      // 提问个数
        }


    });


    var Feeds = Backbone.Collection.extend({
        model: Feed,

        _modelMaps: {
            'feedId': 'feed_id',           
            'feedDate': 'create_time',         
            'feedType': 'feed_type',         
            'userId': 'user_id',           
            'userAvatar': 'user_avatar',       
            'userName': 'user_nick',         
            'questionId': 'question_id',       
            'questionTitle': 'question_title',   
            'questionDesc': 'question_summary',     
            'questionViewCount': 0, 
            'questionAnswerCount': 'question_answer_count',
            'answerId': 'answer_id',          
            'answerContent': 'answer_summary',    
            'answerUserId': 'answer_user_id',     
            'answerUserName': 'answer_user_nick',   
            'answerUserAvatar': 'answer_user_avatar', 
            'answerUserDesc': 'answer_user_des',   
            'answerLikeCount': 'answer_like_count'    
        },

        // 解析
        _parse: function(data){
            var temp = [], me = this;

            _.each(data, function(d){
                temp.push($.ZXUtils.dictMap(d, me._modelMaps));
            });

            return temp;
        },

        // 获得最后一个feedId
        getLastFeedId: function(){
            if(this.length > 0){
                return this.models[this.length - 1].get('feedId');
            }

            return null;
        },

        // 查询
        search: function(feedId){

            console.log('11111==>', feedId)
            var me = this;
            ajaxSend("/timeline/get_user_timeline", {'last_feed_id': feedId}, function(data){
                if(data.feeds){
                    me.reset(me._parse(data.feeds));
                }
            });

            // this.reset([{
            //     'feedId': '1',
            //     'feedDate': '2014-05-01 11:11:11',
            //     'feedType': 1,          
            //     'userId': '1',           
            //     'userAvatar': '/static/img/common/user1.jpg',       
            //     'userName': '半夜没事瞎溜达',         
            //     'questionId': 1,        
            //     'questionTitle': '创业板调整，蓝筹股走强，并购重组黑马奔腾，热点纷呈背后投资逻...',    
            //     'questionDesc': '从美国到中国，从纳指到创业板指，在近期都出现了明显的调整走势，我们应该用博弈论还是价值投资的思路来看待这次新兴产业股票的调整呢？这样的调整以及蓝筹股的走强，和并购重组的兴旺又给我们未来投资以什么样的启......',     
            //     'questionViewCount': 15, 
            //     'questionAnswerCount': 6,
            //     'answerId': 0,        
            //     'answerContent': '',    
            //     'answerUserId': '',     
            //     'answerUserName': '',   
            //     'answerUserAvatar': '', 
            //     'answerUserDesc': '',
            //     'answerLikeCount': 0   
            // }, {
            //     'feedId': '2',
            //     'feedDate': '2014-05-02 12:12:12',
            //     'feedType': 2,          
            //     'userId': '2',           
            //     'userAvatar': '/static/img/common/user2.jpg',       
            //     'userName': '女王大人',         
            //     'questionId': 2,        
            //     'questionTitle': '作为私募基金经理最重要的是什么？投资逻辑还是基本功？',    
            //     'questionDesc': '',     
            //     'questionViewCount': 0, 
            //     'questionAnswerCount': 0,
            //     'answerId': 2,        
            //     'answerContent': '1940年，西方盟国做梦也没想到，坐拥西欧最强陆军的法国居然在几个月内即被德军的闪电战击垮。而其中最出色的第七装甲师，其指挥官居然只是战前一个步兵学院的教官艾尔温隆美尔少将。1941年，为了营救著名的猪队......',    
            //     'answerUserId': '1',     
            //     'answerUserName': '胡萝卜分你一半',   
            //     'answerUserAvatar': '', 
            //     'answerUserDesc': '(笨熊 ， 吃，不吃，笨！)',  
            //     'answerLikeCount': 37   
            // }, {
            //     'feedId': '3',
            //     'feedDate': '2014-05-03 13:13:13',
            //     'feedType': 3,          
            //     'userId': '3',           
            //     'userAvatar': '/static/img/common/user3.jpg',       
            //     'userName': '闪闪发亮的女神经',         
            //     'questionId': 3,        
            //     'questionTitle': '沪港通是个什么新鲜玩意儿?',    
            //     'questionDesc': '',     
            //     'questionViewCount': 0, 
            //     'questionAnswerCount': 0,
            //     'answerId': 3,        
            //     'answerContent': '4月10日午间，中国证监会与香港证监会于联合发布公告，正式启动沪港通两地市场的互联互通交易。根据公告，沪股通总额度为3000亿人民币，每日额度为130亿人民币，港股通总额度为2500亿人民币，每日额度为105亿人民币，沪港通正式......',    
            //     'answerUserId': '',     
            //     'answerUserName': '',   
            //     'answerUserAvatar': '', 
            //     'answerUserDesc': '',  
            //     'answerLikeCount': 29   
            // }]);

            return this;
        }
    });
    var Users = Backbone.Collection.extend({
        model: User,

        search: function(){
            this.reset([{
                'userId': '1',          
                'userName': '半夜没事瞎溜达',         
                'userDesc': '漫漫人生路，谁不错几步',    
                'userAvatar': '/static/img/common/user1.jpg',     
                'userGender': 1,
                'likeCount': 53,        
                'answerCount': 254,       
                'questionCount': 24
            }, {
                'userId': '2',          
                'userName': '习大大',         
                'userDesc': '我多年攒下的这一屋子的切糕给你了',    
                'userAvatar': '/static/img/common/user3.jpg',     
                'userGender': '1',
                'likeCount': 452,        
                'answerCount': 653,       
                'questionCount': 234
            }, {
                'userId': '3',          
                'userName': '祁圆圆',         
                'userDesc': '一只垂耳兔，正被一只大型犬圈养。',    
                'userAvatar': '/static/img/common/user2.jpg',  
                'userGender': '2',   
                'likeCount': 53,        
                'answerCount': 254,       
                'questionCount': 65
            }, {
                'userId': '4',          
                'userName': '喵星人',         
                'userDesc': '注册会计师,现任职某上市公司',    
                'userAvatar': '/static/img/common/user4.png', 
                'userGender': '2',    
                'likeCount': 21,        
                'answerCount': 13,       
                'questionCount': 67
            }]);

            return this;
        }
    });

    var FeedView = Backbone.View.extend({
        el: '.feed-list',

        template: _.template($('#feed-template').html()),

        // 查看更多模板
        getMoreTemplate: _.template($('#getMore-template').html()),

        events: {
            'click .get-more': 'getMore'
        },

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.getFeed);
            this.collection.search();

            //this.getFeed();
        },

        render: function(data){
            this.$el.append(this.template({'feeds': data}));

            // 初始化名片
            $.ZXTooltipster.PersonCard();
        },

        renderGetMore: function(feedId){
            this.$el.append(this.getMoreTemplate({'feedId': feedId}));
        },

        // 根据最后一个feedId 获取之后的feed
        getFeed: function(){
            var data = this.collection.toJSON(),
                lastFeedId = this.collection.getLastFeedId();
            console.log(lastFeedId, 'lastFeedId')
            this.render(data);

            // 是否显示更多
            if(lastFeedId){
                this.renderGetMore(lastFeedId);
            }
        },

        // 查看更多
        getMore: function(){
            var feedId = this.$('.get-more').data('feed_id');
            console.log(feedId, '**********')
            // 删除原先的 查看更多 按钮
            this.$('.get-more').remove();

            this.collection.search(feedId);
        }

    });
    var SuggestUsersView = Backbone.View.extend({
        el: '.suggest-users',

        template: _.template($('#suggestUsers-template').html()),

        events: {
            'click .refresh': 'refreshUser',
            'click .follow': 'followUser',
            'click .unfollow': 'unfollowUser'
        },

        initialize: function(){
            this.getSuggestUsers();
        },

        render: function(data){
            this.$('.list-inline').html(this.template({'users': data}));

            // 初始化名片
            //$.ZXTooltipster.PersonCard();
        },

        // 获取推荐用户
        getSuggestUsers: function(){
            var data = this.collection.search();

            this.render(data.toJSON());
        },

        // 换一换
        refreshUser: function(){
            this.hide(300);
            this.getSuggestUsers();
            this.show(300);
        },

        // 关注用户
        followUser: function(sender){
            var target = $(sender.currentTarget),
                userId = target.prev().data('user_id');

            target.hide();
            target.next().show();
            
            // 关注
            // $.ZXOperation.followPeople(userId, function(){

            // });
        },

        unfollowUser: function(sender){
            var target = $(sender.currentTarget),
                userId = target.prev().data('user_id');

            target.hide();
            target.prev().show();
        },

        hide: function(time){
            this.$el.hide(time);
        },

        show: function(time){
            this.$el.show(time);
        }
    });


    var feeds = new Feeds(),
        users = new Users(),
        feedView = new FeedView({'collection': feeds}),
        suggestUsersView = new SuggestUsersView({'collection': users});
});
</script>
{% endblock %}

{% block container_content %}
<div class="col-md-8">
	<div class="bottom-border bdc-bbb row pt-10 pb-5">
	    <div class="col-md-6">
	        <span class="f16 fb">最新动态</span>
	    </div>
	</div>

    <!-- 推荐关注 -->
    <div class="suggest-users pl-15 pr-15 pb-15">
        <div class="co8 f14 text-center pt-15 pb-15">
            你的首页暂时还没有太多内容，多关注些人吧
            <a href="javascript: void(0)" class="refresh f12 pl-10">
                <span class="glyphicon glyphicon-refresh"></span>换一换
            </a>
        </div>

        <ul class="list-inline row pl-15 pr-15 border-1 bdc-ddd border-radius-4 ">
        </ul>
    </div>

	<ul class="list-group feed-list">
    </ul>
	
</div>

<div class="col-md-4 pl-50">
	<!-- 推荐用户 -->
    {#% global_recommend_users %#}

    <!-- 热门话题 -->
    {% global_hot_topics %}

    <!-- 二维码 -->
    {% include 'include/_global_qrcode.html' %}

    <!-- 统计 -->
    {% global_statistic %}
    
</div>


<!-- 推荐用户模板 -->
<script type="text/template" id="suggestUsers-template">
    <% _.each(users, function(user){ %>
        <li class="col-md-6 col-xs-12 bottom-border bdc-eee pt-15 pb-10">
            <img class="pa avatar-45 avatar-circle" src="<%= user.userAvatar %>">
            <div class="pl-55 pr-10">
                <div>
                    <a href="/p/<%= user.userId %>" class="zx-cardtips" data-user_id='<%= user.userId %>'>
                        <%= user.userName %>
                        <% if (user.userGender == 1) { %>
                            <img class="w15 mt--2" src="{{MEDIA_URL}}img/common/male.png" title="男" />
                        <% } %>
                        <% if (user.userGender == 2) { %>
                            <img class="w15 mt--2" src="{{MEDIA_URL}}img/common/female.png" title="女" />
                        <% } %>
                    </a>
                    <button class="btn btn-xs btn-primary pull-right follow">添加关注</button>
                    <button class="btn btn-xs btn-default pull-right unfollow none">取消关注</button>
                </div>
                <div class="pt-5"><span>提问 <%= user.questionCount %></span><span class="pl-15">回答 <%= user.answerCount %></span><span class="pl-15">赞 <%= user.likeCount %></span></div>
                <div class="f12 co8 pt-5"><%= user.userDesc %></div>
            </div>
        </li>
    <% }) %>
</script>

<!-- feed 模板 -->
<script type="text/template" id="feed-template">
    <% _.each(feeds, function(feed){ %>

        <% if(feed.feedType == 1){ %>
        <li class="list-group-item no-l-r-bd bdc-eee pl-0">
            <a href="/p/<%= feed.userId %>"><img class="pa avatar-45 avatar-circle" src="<%= feed.userAvatar %>"></a>
            <div class="pl-55">
                <div class="co8 f12">
                    <a href="/p/<%= feed.userId %>" class="zx-cardtips" data-user_id='<%= feed.userId %>'><%= feed.userName %></a> 提出了该问题
                </div>
                <div class="pt-5">
                    <a class="black-blue f16 fb" href="/question/<%= feed.questionId %>"><%= feed.questionTitle %></a>
                </div>
                <div class="pt-10 f13"><%= feed.questionDesc %></div>
                <div class="f12 co8 gray-a pt-5">
                    <span><%= feed.questionAnswerCount %> 个回答 • <%= feed.feedDate %></span>
                </div>
            </div>
        </li>
        <% } %>

        <% if(feed.feedType == 2){ %>
        <li class="list-group-item no-l-r-bd bdc-eee pl-0">
            <a href="/p/<%= feed.userId %>"><img class="pa avatar-45 avatar-circle" src="<%= feed.userAvatar %>"></a>
            <div class="pl-55">
                <div class="co8 f12">
                    <a href="/p/<%= feed.userId %>" class="zx-cardtips" data-user_id='<%= feed.userId %>'><%= feed.userName %></a> 赞了该回答
                </div>
                <div class="pt-5">
                    <a class="black-blue f16 fb" href="/question/<%= feed.questionId %>"><%= feed.questionTitle %></a>
                </div>
                <div class="pt-10 f12">
                    <a href="/p/<%= feed.answerUserId %>" class="zx-cardtips pr-5" data-user_id='<%= feed.answerUserId %>'><%= feed.answerUserName %></a><%= feed.answerUserDesc %>
                </div>
                <div class="pt-5 f13">
                    <%= feed.answerContent %>
                    <a href="question/<%= feed.questionId %>#to_answer_<%= feed.answerId %>" class="pl-5 f12">
                        <span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
                    </a>
                </div>
                <div class="f12 co8 gray-a pt-5">
                    <span><%= feed.answerLikeCount %> 个赞 • <%= feed.feedDate %></span>
                </div>
            </div>
        </li>
        <% } %>

        <% if(feed.feedType == 3){ %>
        <li class="list-group-item no-l-r-bd bdc-eee pl-0">
            <a href="/p/<%= feed.userId %>"><img class="pa avatar-45 avatar-circle" src="<%= feed.userAvatar %>"></a>
            <div class="pl-55">
                <div class="co8 f12">
                    <a href="/p/<%= feed.userId %>" class="zx-cardtips" data-user_id='<%= feed.userId %>'><%= feed.userName %></a> 回答了该提问
                </div>
                <div class="pt-5">
                    <a class="black-blue f16 fb" href="/question/<%= feed.questionId %>"><%= feed.questionTitle %></a>
                </div>
                <div class="pt-10 f13">
                    <%= feed.answerContent %>
                    <a href="question/<%= feed.questionId %>#to_answer_<%= feed.answerId %>" class="pl-5 f12">
                        <span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
                    </a>
                </div>
                <div class="f12 co8 gray-a pt-5">
                    <span><%= feed.answerLikeCount %> 个赞 • <%= feed.feedDate %></span>
                </div>
            </div>
        </li>
        <% } %>
    <% }) %>
</script>

<!-- 更多按钮模板 -->
<script type="text/template" id="getMore-template">
    <li class="list-group-item no-l-r-bd bdc-eee pl-0 no-border">
        <div class="">
            <button type="button" class="btn btn-block btn-default get-more" data-feed_id="<%= feedId %>">查看更多...</button>
        </div>
    </li>
</script>
{% endblock container_content %}