{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}首页{% endblock title %}
{% block home_css %}
<style type="text/css">
.hot-topics{
	border-top: 0;
}
</style>
{% endblock %}

{% block home_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/site/timeline.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block container_content %}
<div class="col-md-8">
	<div class="bottom-border bdc-bbb row pt-10 pb-5">
	    <div class="col-md-6">
	        <span class="f16 fb">最新动态</span>
	    </div>
	</div>

    <!-- 推荐关注 -->
    <div class="recommend-users pl-15 pr-15 pb-15 none">
        <div class="co8 f14 text-center pt-15 pb-15">
            首页内容太少，多关注些朋友吧
            <a href="javascript: void(0)" class="refresh f12 pl-10">
                <span class="glyphicon glyphicon-refresh"></span>换一换
            </a>
        </div>

        <ul class="list-inline row pl-15 pr-15 border-1 bdc-ddd border-radius-4 ">
        </ul>
    </div>

	<ul class="list-group feed-list">
    </ul>
	
</div>

<div class="col-md-4 pl-50">
    <!-- 热门话题 -->
    {% global_hot_topics %}

    <!-- 二维码 -->
    {% include 'include/_global_qrcode.html' %}

    <!-- 统计 -->
    {% global_statistic %}
    
</div>


<!-- 推荐用户模板 -->
<script type="text/template" id="recommendUsers-template">
    <% _.each(users, function(user){ %>
        <li class="col-md-6 col-xs-12 bottom-border bdc-eee pt-15 pb-10">
            <a href="/p/<%= user.userId %>"><img class="pa avatar-45 avatar-circle" alt="<%= user.userName %>" src="<%= user.userAvatar %>"></a>
            <div class="pl-55 pr-10">
                <div>
                    <a href="/p/<%= user.userId %>" class="">
                        <%= user.userName %>
                        <% if (user.userGender == 1) { %>
                            <img class="w15 mt--2" src="{{MEDIA_URL}}img/common/male.png" alt="男" title="男" />
                        <% } %>
                        <% if (user.userGender == 2) { %>
                            <img class="w15 mt--2" src="{{MEDIA_URL}}img/common/female.png" alt="女" title="女" />
                        <% } %>
                    </a>
                    <button class="btn btn-xs btn-primary pull-right follow" data-user_id='<%= user.userId %>'>添加关注</button>
                    <button class="btn btn-xs btn-default pull-right unfollow none" data-user_id='<%= user.userId %>'>取消关注</button>
                </div>
                <div class="pt-5">
                    <span>提问 <a href="/p/<%= user.userId %>/questions"><%= user.questionCount %></a></span>
                    <span class="pl-15">回答 <a href="/p/<%= user.userId %>/answers"><%= user.answerCount %></a></span>
                    <span class="pl-15">赞 <a href="javascript: void(0);"><%= user.likeCount %></a></span>
                </div>
                <div class="f12 co8 pt-5"><%= user.userDesc?user.userDesc:'暂无简介' %></div>
            </div>
        </li>
    <% }) %>
</script>

<!-- feed 模板 -->
<script type="text/template" id="feed-template">
    <% _.each(feeds, function(feed){ %>

        <% if(feed.feedType == 1){ %>
        <li class="list-group-item no-l-r-bd bdc-eee pl-0">
            <a href="/p/<%= feed.userId %>"><img class="pa avatar-45 avatar-circle" alt="<%= feed.userName %>" src="<%= feed.userAvatar %>"></a>
            <div class="pl-55">
                <div class="co8 f12">
                    <a href="/p/<%= feed.userId %>" class="zx-cardtips" data-user_id='<%= feed.userId %>'><%= feed.userName %></a> 提出了该问题
                </div>
                <div class="pt-5">
                    <a class="black-blue f16 fb" href="/question/<%= feed.questionId %>"><%= feed.questionTitle %></a>
                </div>
                <div class="pt-10 f13"><%= feed.questionDesc %></div>
                <div class="f12 co8 gray-a pt-5">
                    <span><%= feed.questionAnswerCount %> 个回答 • <%= feed.feedDate %></span>
                </div>
            </div>
        </li>
        <% } %>

        <% if(feed.feedType == 2){ %>
        <li class="list-group-item no-l-r-bd bdc-eee pl-0">
            <a href="/p/<%= feed.userId %>"><img class="pa avatar-45 avatar-circle" alt="<%= feed.userName %>" src="<%= feed.userAvatar %>"></a>
            <div class="pl-55">
                <div class="co8 f12">
                    <a href="/p/<%= feed.userId %>" class="zx-cardtips" data-user_id='<%= feed.userId %>'><%= feed.userName %></a> 赞了该回答
                </div>
                <div class="pt-5">
                    <a class="black-blue f16 fb" href="/question/<%= feed.questionId %>"><%= feed.questionTitle %></a>
                </div>
                <div class="pt-10 f12">
                    <a href="/p/<%= feed.answerUserId %>" class="zx-cardtips pr-5 black-blue fb" data-user_id='<%= feed.answerUserId %>'><%= feed.answerUserName %></a><% if(feed.answerUserDesc) {%><span class="fb">(<%= feed.answerUserDesc %>)</span><% } %>
                </div>
                <div class="pt-5 f13">
                    <%= feed.answerContent %>
                    <a href="question/<%= feed.questionId %>#to_answer_<%= feed.answerId %>" class="pl-5 f12">
                        <span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
                    </a>
                </div>
                <div class="f12 co8 gray-a pt-5">
                    <span><%= feed.answerLikeCount %> 个赞 • <%= feed.feedDate %></span>
                </div>
            </div>
        </li>
        <% } %>

        <% if(feed.feedType == 3){ %>
        <li class="list-group-item no-l-r-bd bdc-eee pl-0">
            <a href="/p/<%= feed.userId %>"><img class="pa avatar-45 avatar-circle" alt="<%= feed.userName %>" src="<%= feed.userAvatar %>"></a>
            <div class="pl-55">
                <div class="co8 f12">
                    <a href="/p/<%= feed.userId %>" class="zx-cardtips" data-user_id='<%= feed.userId %>'><%= feed.userName %></a> 回答了该提问
                </div>
                <div class="pt-5">
                    <a class="black-blue f16 fb" href="/question/<%= feed.questionId %>"><%= feed.questionTitle %></a>
                </div>
                <div class="pt-10 f13">
                    <%= feed.answerContent %>
                    <a href="question/<%= feed.questionId %>#to_answer_<%= feed.answerId %>" class="pl-5 f12">
                        <span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
                    </a>
                </div>
                <div class="f12 co8 gray-a pt-5">
                    <span><%= feed.answerLikeCount %> 个赞 • <%= feed.feedDate %></span>
                </div>
            </div>
        </li>
        <% } %>
    <% }) %>
</script>

<!-- 更多按钮模板 -->
<script type="text/template" id="getMore-template">
    <li class="list-group-item no-l-r-bd bdc-eee pl-0 no-border">
        <div class="text-center">
            <span id="loadingMoreFeed"></span>
            <button type="button" class="btn btn-block btn-default get-more" data-feed_id="<%= feedId %>">查看更多...</button>
        </div>
    </li>
</script>
{% endblock container_content %}