
body{
	background-color: #f1f1f1;
}
.container_content{
	padding-bottom: 0px;
	border-radius: 0px;
	border: solid 1px #ddd;
	margin-top: 80px;
}


.user-profile-left .stats li{
	border-left: solid 1px #ddd;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.user-profile-left .stats li:first-child{
	border-left: 0px;
}

.user-profile-main{
	border-left: solid 1px #ddd;
	box-shadow: -2px 2px 6px #ddd;
	min-height: 430px;
}

.user-profile-main ul.nav{
	border-bottom: 2px solid #d9d9d9;
}


.user-profile-main .stats{
	font-size: 12px;
	color: #999;
}

.user-profile-main .content a{
	color: #222;
	transition: color 0.5s;
}

.user-profile-main .content a:hover{
	color: #349CD8;
	text-decoration: none;
}

#following_topics .topic-item {
	border-bottom: 1px dotted #eee;
}