{% extends "base/base_static.html" %}

{% block title %}服务条款{% endblock %}

{% block static_main %}
<div>

	<ol>
		<li>
			<span style="font-size:16px;">
				关于
				<br />
				<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
					本服务条款是您与
					<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">成都智选网科技有限公司</span>
					（下称
					<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
					）之间的协议。Tower（下称本服务） 是由
					<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
					提供的互联网软件服务。在本服务创建账户并使用之前，您必须首先同意此条款。
				</p>
				<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">此条款在必要时将进行修订，且毋须另行通知。修订后的条款一旦在网页上公布即有效代替原来的服务条款。</p>
				<br />
			</span>
		</li>
		<li>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
				账户
				<br />
				<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">您同意并理解您有责任将您与用于获得服务的任何帐户相关的密码保密。您负责对您账户下发生的所有的行为和内容负责。</span>
			</p>
			<p>
				<br />
			</p>
		</li>
		<li>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">内容和版权</p>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
				<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
				对您在本服务提交的内容没有所有权，这些内容的所有权仍然归您所有。但是，如果您将页面设置为公开，就意味着您允许其他人查看和共享您的内容。
			</p>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
				您明白
				<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
				对他人提供的任何内容不在任何方面负责或负有责任，
				<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
				没有义务预先审查此类内容。但是，
				<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
				有权随时决定内容是否合适和与本条款相符；如果发现此类内容违反本条款或在其他方面令人反感，彩程可随时并有绝对酌情权预先审查、转移、拒绝、修改和/或删除内容，而不需事先通知。
			</p>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
				本服务的外观设计与专利归
				<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
				所有。未经
				<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
				书面许可，您不能复制、拷贝，或者重用任何部分代码和外观设计。
				<br />
			</p>
			<p>
				<br />
			</p>
		</li>
		<li>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">隐私策略</p>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
				使用本服务，即表示您同意
				<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
				合法收集和使用有关您及您所使用本服务的技术性或诊断性信息。收集到的些信息将用于改进网页的内容，提升我们的服务品质。
			</p>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
				<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
				不会将您的信息和内容分享或出售给其他的组织。但以下情况除外：
			</p>
			<ul style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
				<li style="font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">您同意让第三方共享资料；</li>
				<li style="font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">
					<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
					需要听从法庭传票、法律命令或遵循法律程序；
				</li>
				<li style="font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">您违反了本条款。</li>
			</ul>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
				<br />
			</p>
		</li>
		<li>
			<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
				终止
				<br />
				<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">您可随时终止您的帐户和/或停用本服务。您在服务终止前支付的任何费用均不能退还（除本服务条款另有明文允许者除外）。</p>
				<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
					<span style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;background-color:#FFFFFF;">智选</span>
					可随时在某些情况下，不需事先通知，立即终止或暂停您所有或部分帐户和/或本服务之进入。此类服务终止的原因包括但不限于：
				</p>
				<ul style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">
					<li style="font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">违反本服务条款；</li>
					<li style="font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">您要求取消或终止您的帐户；</li>
					<li style="font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">需要听从法庭传票、法律命令或遵循法律程序；</li>
					<li style="font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">突发的自然灾害导致的问题；</li>
					<li style="font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">战争、军事行动、暴动或武装叛乱；</li>
					<li style="font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">您没有支付与本服务相关的费用；</li>
				</ul>
				<p style="font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;vertical-align:baseline;">一旦您的帐户被终止，阁下将无法正常使用本服务。此外，您可以选择删除您账户下的所有信息和内容。</p>
			</p>
		</li>
	</ol>
	<p>
        <br/>
	</p>
	<p>
		<div style="text-align:right;">
			<span style="background-color:#FFFFFF;font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;">最近修订 2014年1月1日</span>
			<span style="background-color:#FFFFFF;font-family:'Helvetica Neue', Helvetica, Arial;font-size:14px;line-height:25px;"></span>
		</div>
		<span>
			<div style="text-align:right;">
				<span style="font-size:14px;line-height:25px;background-color:#FFFFFF;">&copy;成都智选网科技有限公司 保留一切权利</span>
				<span style="font-size:14px;line-height:21px;"></span>
				<span style="font-size:14px;line-height:21px;"></span>
			</div>
		</span>
	</p>

</div>
{% endblock %}