{% extends "base/base_static.html" %}

{% block title %}友情链接{% endblock %}

{% block css %}
<style type="text/css">
.links li{
    transition: background-color 0.5s;
}
.links li:hover{
    background-color: aliceblue;
}
</style>
{% endblock %}

{% block static_main %}
<ul class="links list-inline pt-20 pl-20">
	{% for flink in flinks %}
	<li class="col-md-3 mb-15 min-h60 bottom-border bdc-eee">
		<div>
			<div><a href="{{flink.href}}" target="_blank" class="black-blue1">{{flink.name}}</a></div>
			<div class="f12 co8">{{flink.des|default:""}}</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}