{% extends "base/base_static.html" %}

{% block title %}更新日志{% endblock %}

{% block css %}
<style type="text/css">
.arrow{
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-left: 0px;
  position: absolute;
  top: 10px;
  left: -10px;
  z-index: 101;
  border-right-color: #428bca;
}

.wave{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px #428bca;
    border: 1px solid #428bca;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transform: scale(0);
	   -moz-transform: scale(0);
        -ms-transform: scale(0);
    	    transform: scale(0);
    -webkit-animation: wave 3s ease-out infinite;
       -moz-animation: wave 3s ease-out infinite;
        -ms-animation: wave 3s ease-out infinite;
    		animation: wave 3s ease-out infinite;
}

@-webkit-keyframes wave{
    0% {
    	-webkit-transform: scale(0);
    	transform: scale(0);
    	opacity: 0;
    }
    10% {
    	-webkit-transform: scale(1.0);
    	transform: scale(1.0);
    	opacity: 0.6;
    }
    80% {
    	-webkit-transform: scale(1.35);
    	transform: scale(1.35);
    	opacity: 0.0;
    }
    100% {
    	-webkit-transform: scale(0);
    	transform: scale(0);
    	opacity: 0;
    }
}

@-moz-keyframes wave{
    0% {
    	-moz-transform: scale(0);
    	transform: scale(0);
    	opacity: 0;
    }
    10% {
    	-moz-transform: scale(1.0);
    	transform: scale(1.0);
    	opacity: 0.6;
    }
    80% {
    	-moz-transform: scale(1.35);
    	transform: scale(1.35);
    	opacity: 0.0;
    }
    100% {
    	-moz-transform: scale(0);
    	transform: scale(0);
    	opacity: 0;
    }
}

@-ms-keyframes wave{
    0% {
    	-ms-transform: scale(0);
    	transform: scale(0);
    	opacity: 0;
    }
    10% {
    	-ms-transform: scale(1.0);
    	transform: scale(1.0);
    	opacity: 0.6;
    }
    80% {
    	-ms-transform: scale(1.35);
    	transform: scale(1.35);
    	opacity: 0.0;
    }
    100% {
    	-ms-transform: scale(0);
    	transform: scale(0);
    	opacity: 0;
    }
}

@keyframes wave{
    0% {
    	transform: scale(0);
    	opacity: 0;
    }
    10% {
    	transform: scale(1.0);
    	opacity: 0.6;
    }
    80% {
    	transform: scale(1.35);
    	opacity: 0.0;
    }
    100% {
    	transform: scale(0);
    	opacity: 0;
    }
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	var Log = Backbone.Model.extend({
		defaults: {
			'year': '2014年',
			'date': '05月05日',
			'contents': []
		}
	});

	var Logs = Backbone.Collection.extend({
		model: Log,

		setData: function(){
			this.reset([
				{'count': 3, 'year': '2014年', 'date': '05月09日', 'contents': _.map([
					'开放关注用户功能',
					'开放关注话题功能',
					'开放话题广场',
					'开放用户、话题名片功能',
					'添加时间线功能，显示关注用户动态信息'
				], function(content){return String.format('<li><p>{0}</p></li>', content)}).join('')},

				{'count': 2, 'year': '2014年', 'date': '04月06日', 'contents': _.map([
					'开放提问回答分享到微博、腾讯QQ',
					'开放分享赞到微博、腾讯QQ',
					'开放上传头像裁剪功能',
					'文本编辑器优化',
					'开放智选日报公众号,扫描二维码关注',
					'开放智选交流群: 375931749',
					'开放<a class="co3 pl-5" href="http://weibo.com/zhixuancom">智选官方微博</a>'
				], function(content){return String.format('<li><p>{0}</p></li>', content)}).join('')},

				{'count': 1, 'year': '2014年', 'date': '03月12日', 'contents': _.map([
					'智选内测版正式上线'
				], function(content){return String.format('<li><p>{0}</p></li>', content)}).join('')},
			]);

		}
	});

	var LogView = Backbone.View.extend({
		el: '.logs',

		template: _.template($('#log-template').html()),

		initialize: function(){
			this.listenTo(this.collection, 'reset', this.render);

			this.collection.setData();
		},

		render: function(){
			this.$el.html(
				this.template(
					{'logs': this.collection.toJSON()}
				)
			);

			// 设置波纹
			this.$('.hidden-xs').eq(0).append('<span class="wave"></span>');
		}
	});

	var logs = new Logs(),
		logView = new LogView({collection: logs});
});
</script>
{% endblock %}

{% block static_main %}
<ul class="list-group logs">
	
</ul>

<!-- 更新日志模板 -->
<script type="text/template" id="log-template">
<% _.each(logs, function(log){ %>
	<li class="list-group-item no-l-r-bd bdc-transparent">
		<div class="row">
			<div class="col-md-2 col-xs-12 pl-0 pr-0 text-right pr-10">
				<div class="co8 f12"><%= log.year %></div>
				<div class="f18 co-zx"><%= log.date %></div>
			</div>
			<div class="col-md-1 col-xs-12 hidden-xs pl-0 pr-0">

				<div class="w40 h40 pl-5 pr-5 pt-5 pb-5 bgc-86C1D6 border-radius-50">
					<div class="w30 h30 bgc-zx border-radius-50 co3 text-center f12 line-height-30 fb"><%= log.count %></div>
				</div>
			</div>
			<div class="col-md-9 col-xs-12 pl-0 pr-0 bgc-zx co3 border-radius-2 f12 pt-10 pb-10 box-shadow-224">
				<span class="arrow"></span>

				<ol>
					<%= log.contents %>
				</ol>
			</div>
		</div>
	</li>
<% }) %>
</script>
{% endblock %}