<div class="top-border bdc-eee pt-15">
    <div>
        <span class="f16 fb">你可能感兴趣的人</span>
    </div>
    <ul class="list-group ">
        <li class="list-group-item no-l-r-bd bdc-eee pl-0">
            <img class="pa avatar-45 avatar-circle" src="{{MEDIA_URL}}img/common/user3.jpg">
            <div class="pl-55 pt-5">
                <div><a href="#" class="zx-cardtips" data-user_id='1' >半夜没事瞎溜达</a></div>
                <div class="f12 co8 pt-3">65个提问 • 21个回答 • 256个赞</div>
            </div>
        </li>
        <li class="list-group-item no-l-r-bd bdc-eee pl-0">
            <img class="pa avatar-45 avatar-circle" src="{{MEDIA_URL}}img/common/user4.png">
            <div class="pl-55 pt-5">
                <div><a href="#" class="zx-cardtips" data-user_id='1'>女王大人</a></div>
                <div class="f12 co8 pt-3">75个提问 • 32个回答 • 188个赞</div>
            </div>
        </li>
        <li class="list-group-item no-l-r-bd bdc-eee pl-0">
            <img class="pa avatar-45 avatar-circle" src="{{MEDIA_URL}}img/common/user1.jpg">
            <div class="pl-55 pt-5">
                <div><a href="#" class="zx-cardtips" data-user_id='1'>习大大</a></div>
                <div class="f12 co8 pt-3">165个提问 • 32个回答 • 132个赞</div>
            </div>
        </li>
    </ul>
</div>