{% extends "base/base_split.html" %}

{% block split_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/user_settings.css?v={{MEDIA_VERSION}}" />
{% block css %}{% endblock %}
{% endblock %}

{% block split_js%}
<script type="text/javascript" src="{{MEDIA_URL}}js/site/user_settings.js?v={{MEDIA_VERSION}}"></script>
{% block javascript %}{% endblock %}
{% endblock %}

{% block split_left %}
	<a class="list-group-item {% if '/account/user_settings' == request.path %} active {% endif %}" href="/account/user_settings">
		帐号设置
	</a>
	<a class="list-group-item {% if '/account/user_settings/change_pwd' == request.path %} active {% endif %}" href="/account/user_settings/change_pwd">
		修改登录密码
	</a>
	<a class="list-group-item {% if '/account/user_settings/change_email' == request.path %} active {% endif %}" href="/account/user_settings/change_email">
		修改绑定邮箱
	</a>
	<a class="hide list-group-item {% if '/account/user_settings/bind_mobile' == request.path %} active {% endif %}" href="/account/user_settings/bind_mobile">
		绑定手机
	</a>
	<a class="hide list-group-item {% if '/account/user_settings/security_question' == request.path %} active {% endif %}" href="/account/user_settings/security_question">
		设置安全问题
	</a>
	<a class="hide list-group-item {% if '/account/user_settings/bind_community' == request.path %} active {% endif %}" href="/account/user_settings/bind_community">
		社区绑定
	</a>
	<a class="list-group-item {% if '/account/invitation' == request.path %} active {% endif %}" href="/account/invitation">
		邀请注册
	</a>
{% endblock %}

{% block split_main %}
	{% block settings_main %}{% endblock %}
{% endblock %}