{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}

{% block home_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/user_profile.css?v={{MEDIA_VERSION}}" />

<style type="text/css">
.wave-in{
    display: none;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px #428bca;
    border: 1px solid #428bca;
    border-radius: 50%;
    left: 115px;
    position: absolute;
    -webkit-transform:scale(0);
    -webkit-animation:wave-in 3s ease-out infinite;
}

@-webkit-keyframes wave-in{
    0%   {-webkit-transform: scale(0);opacity: 0;}
    10%  {-webkit-transform: scale(1.0);opacity: 0.5;}
    80%  {-webkit-transform: scale(1.35);opacity: 0;}
    100% {-webkit-transform: scale(0);opacity: 0;} 
}

.wave-out{
    display: none;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px #428bca;
    border: 1px solid #428bca;
    border-radius: 50%;
    left: 115px;
    position: absolute;
    -webkit-transform:scale(0);
    -webkit-animation:wave-out 3s ease-out infinite;
}

@-webkit-keyframes wave-out{
    0%   {-webkit-transform: scale(0);opacity: 0;}
    20%  {-webkit-transform: scale(1.2);opacity: 0.5;}
    80%  {-webkit-transform: scale(1.85);opacity: 0;}
    100% {-webkit-transform: scale(0);opacity: 0;} 
}
</style>
{% endblock %}

{% block home_js%}
<script type="text/javascript" src="{{MEDIA_URL}}js/site/user_profile.js?v={{MEDIA_VERSION}}"></script>
{% block javascript %}{% endblock javascript %}
{% endblock %}

{% block container_content %}
<div class="user-profile-left col-md-4 text-center">
    <div class="profile pt-80 ">
        <span class="wave-in"></span>
        <span class="wave-out"></span>
        <img class="avatar-100 avatar-circle" alt="{{user.nick}}" src1="{{MEDIA_URL}}img/common/user3.jpg" src="{{user.get_avatar_100}}">
        
    </div>
    <div class="username">
        <h3 class="ff-yahei fb">{{user.nick}}</h3>
    </div>
    <div class="desc co8">
        <p>{{user.des|default:"忙着发财，没能留下点介绍信息"}}</p>
        {% if request.is_me and not user.des %}<a href="/account/user_settings#set_des">立即设置</a>{% endif %}
    </div>
    <div class="stats pt-20">
        <ul class="list-flow f13">
            <li>
                <a class="black-blue" href="/p/{{user.id}}/questions">
                    <span class="question-count block fi">{{request.user_question_count}}</span>
                    <span>提问</span>
                </a>
            </li>
            <li>
                <a class="black-blue" href="/p/{{user.id}}/answers">
                    <span class="answer-count block fi">{{request.user_answer_count}}</span>
                    <span>回答</span>
                </a>
            </li>
            <!--
            <li>
                <a class="black-blue" href="/p/{{user.id}}/following_topics">
                    <span class="following_topics-count block fi">49</span>
                    <span>话题</span>
                </a>
            </li>
            -->
            <li>
                <a class="black-blue" href="{% if request.is_me %}/message/received_like{% else %}javascript:void(0);{% endif %}">
                    <span class="like-count block fi">{{request.user_liked_count}}</span>
                    <span>被赞</span>
                </a>
            </li> 
            
            <li>
                <a class="black-blue" href="/p/{{user.id}}/following">
                    <span class="following-count block fi">{{request.following_count}}</span>
                    <span>关注</span>
                </a>
            </li>
            <li>
                <a class="black-blue" href="/p/{{user.id}}/followers">
                    <span class="followers-count block fi">{{request.follower_count}}</span>
                    <span>粉丝</span>
                </a>
            </li>
        </ul>
    </div>
    {% if not request.is_me %}
    <div class="text-right pr-25 pt-10">
        {% if request.is_follow %}
        <button id="left_unfollow_button_id" type="button" class="btn btn-default btn-xs unfollow" 
            data-user_id='{{user.id}}'>取消关注</button>
        {% else %}
        <button id="left_follow_button_id" type="button" class="btn btn-primary btn-xs follow" 
            data-user_id='{{user.id}}'>添加关注</button>
        {% endif %}
    </div>
    {% endif %}

    <!-- 搜索提问 -->
    {% if '/answers' not in request.path and '/following' not in request.path and '/followers' not in request.path %} 
    <div class="pr mt-25 mb-25 pl-25 pr-25">
        <form action="/p/0b9088f6aa0a11e3a8c700163e003240/questions">
            <input type="text" class="form-control input-sm" name="key_words" placeholder="搜索此人的提问..." value="{{user_key_words}}" maxlength="50" autocomplete="off">
            <button type="submit" class="pa f16 pointer no-border bgc-0" style="right: 27px; top: 7px;"><span class="fa fa-search co8"></span></button>
        </form>
    </div>
    {% endif %}

    <!-- 搜索回答 -->
    {% if '/answers' in request.path %}
    <div class="pr mt-25 mb-25 pl-25 pr-25">
        <form action="/p/0b9088f6aa0a11e3a8c700163e003240/answers">
            <input type="text" class="form-control input-sm" name="key_words" placeholder="搜索此人的回答..." value="{{user_key_words}}" maxlength="50" autocomplete="off">
            <button type="submit" class="pa f16 pointer no-border bgc-0" style="right: 27px; top: 7px;"><span class="fa fa-search co8"></span></button>
        </form>
    </div>
    {% endif %}

</div>
<div class="user-profile-main col-md-8">
    <ul class="nav nav-pills pt-20 zx-nav-pills">
        <li {% if '/answers' not in request.path and '/following' not in request.path and '/followers' not in request.path %} class="active" {% endif %} {% if '/questions' in request.path %} class="active" {% endif %}>
            <a class="black-blue" href="/p/{{user.id}}/questions" >{% if request.is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的提问</a>
        </li>
        <li {% if '/answers' in request.path %} class="active" {% endif %}>
            <a class="black-blue" href="/p/{{user.id}}/answers" >{% if request.is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的回答</a>
        </li>
        <!-- 
        <li {% if '/following_topics/' in request.path %} class="active" {% endif %}>
            <a href="/p/{{user.id}}/following_topics" data-toggle="pill">{% if request.is_me %}我{% else %}{{user.get_ta_display}}{% endif %}关注的话题</a>
        </li>
         -->
        <li {% if '/following' in request.path %} class="active" {% endif %}>
            <a class="black-blue" href="/p/{{user.id}}/following" >{% if request.is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的关注</a>
        </li>
        <li {% if '/followers' in request.path %} class="active" {% endif %}>
            <a class="black-blue" href="/p/{{user.id}}/followers" >{% if request.is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的粉丝</a>
        </li>
        
    </ul>
    <div class="tab-content">
        {% block tab_content %}
        
        {% endblock tab_content %}
    </div>


</div>
{% endblock %}