{% extends "account/base_settings.html" %}

{% block title %}帐号设置{% endblock %}

{% block css %}{% endblock %}
{% block javascript %}{% endblock %}

{% block settings_main %}
<form class="form-horizontal" role="form" method="post" action="/account/user_settings">
	<!-- <div class="form-group">
		<label class="col-sm-2 control-label">头像</label>
		<div class="col-sm-10">
			<p class="form-control-static avatar">
				<img class="avatar-300 avatar-circle" src="{{MEDIA_URL}}{{request.user.avatar|default:'img/common/default.png'}}"></p>
			<div class="blank10"></div>
			<input type="file"/>
		</div>
	</div> -->
	<div class="form-group">
		<label class="col-sm-2 control-label">邮箱</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{request.user.email}}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">昵称</label>
		<div class="col-sm-5">
			<input type="input" class="form-control" name='nick'
			placeholder="请确认你的新邮箱地址" value='{{request.user.nick}}' ></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">性别</label>
		<div class="col-sm-3">
			<select name="gender" class="form-control">
				<option value='0' {% if request.user.gender == 0 %} selected{% endif %}>未设置</option>
				<option value='1' {% if request.user.gender == 1 %} selected{% endif %}>男</option>
				<option value='2' {% if request.user.gender == 2 %} selected{% endif %}>女</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">出生日期</label>
		<div class="col-sm-3">
			<input type="text" name="birthday" id="birthday-id" class="form-control" value='{{request.user.birthday}}'
			placeholder="" readonly></div>
	</div>
	<div class="form-group">
		<label for="inputPassword" class="col-sm-2 control-label">个人简介</label>
		<div class="col-sm-6">
			<textarea name="des" rows="6" class="form-control"
				placeholder="忙着发财，没能留下点介绍信息">{{request.user.des|default=''}}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary">提交你的修改</button>
		</div>
	</div>
</form>
{% endblock %}