{% extends "account/base_settings.html" %}

{% block title %}社区绑定{% endblock %}

{% block css %}{% endblock %}
{% block javascript %}{% endblock %}

{% block settings_main %}
<div class="zx-invitation">
	<div>
		长效邀请注册链接 <span class="zx-tooltip glyphicon glyphicon-question-sign cl_gray" data-toggle="tooltip" data-placement="right" data-original-title="长效邀请注册链接为不限制时间和次数的邀请注册链接，可重复使用"></span>
	</div>
	<ul class="list-group only-top-border">
	  	<li class="list-group-item">
	  		<div class="row">
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" readonly value="http://www.zhixuan.com/invitation/8FyfC4x">
		    	</div>
		    	<div class="col-md-2">
		    		
		    	</div>
	    	</div>
	  	</li>
	</ul>
	<div>
		普通邀请注册链接 <span class="zx-tooltip glyphicon glyphicon-question-sign cl_gray" data-toggle="tooltip" data-placement="right" data-original-title="普通邀请注册链接为一次性的邀请注册链接，用户注册后即失效"></span>
	</div>
	<ul class="list-group only-top-border ">
	  	<li class="list-group-item">
	  		<div class="row">
		    	<div class="col-md-10">
		    		<input type="text" class="form-control used" readonly value="http://www.zhixuan.com/invitation/8FyfC4x">
		    	</div>
		    	<div class="col-md-2">
		    		<span class="glyphicon glyphicon-ok used"></span>
		    	</div>
	    	</div>
	  	</li>
	  	<li class="list-group-item">
	  		<div class="row">
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" readonly value="http://www.zhixuan.com/invitation/8FyfC4x">
		    	</div>
		    	<div class="col-md-2">
		    		<span class="glyphicon glyphicon-exclamation-sign un-used"></span>
		    	</div>
	    	</div>
	  	</li>
	  	<li class="list-group-item">
	  		<div class="row">
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" readonly value="http://www.zhixuan.com/invitation/8FyfC4x">
		    	</div>
		    	<div class="col-md-2">
		    		<span class="glyphicon glyphicon-exclamation-sign un-used"></span>
		    	</div>
	    	</div>
	  	</li>
	</ul>
	
	<div class="invited split">已被邀请并注册用户</div>
	<ul class="invited-persons list-inline">
		<li>
			<img class="avatar avatar-circle zx-cardtips" data-user_id="1" src="/static/img/common/user1.jpg">
			<div class="name">半夜没事...</div>
		</li>
		<li>
			<img class="avatar avatar-circle zx-cardtips" data-user_id="1" src="/static/img/common/user3.jpg">
			<div class="name">习大大</div>
		</li>
		<li>
			<img class="avatar avatar-circle zx-cardtips" data-user_id="1" src="/static/img/common/user2.jpg">
			<div class="name">女王大人</div>
		</li>
		<li>
			<img class="avatar avatar-circle zx-cardtips" data-user_id="1" src="/static/img/common/user4.png">
			<div class="name">莫文蔚</div>
		</li>
	</ul>
	
</div>
{% endblock %}