{% extends "account/base_settings.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}我的邀请{% endblock %}

{% block css %}{% endblock %}
{% block javascript %}{% endblock %}

{% block settings_main %}
<div class="zx-invitation">
	<div>
		长效邀请注册链接 <span class="zx-tooltip glyphicon glyphicon-question-sign cl_gray pointer zx-tooltip" data-toggle="tooltip" data-placement="right" data-original-title="长效邀请注册链接为不限制时间和次数的邀请注册链接，可重复使用" data-trigger="hover" title=""></span>
	</div>
	<ul class="list-group only-top-border">
	  	<li class="list-group-item">
	  		<div class="row">
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" readonly value="{{invitation.get_url}}">
		    	</div>
		    	<div class="col-md-2">
		    		
		    	</div>
	    	</div>
	  	</li>
	</ul>
	<!-- 
	<div>
		普通邀请注册链接 <span class="zx-tooltip glyphicon glyphicon-question-sign cl_gray" title="普通邀请注册链接为一次性的邀请注册链接，用户注册后即失效"></span>
	</div>
	<ul class="list-group only-top-border ">
	  	<li class="list-group-item">
	  		<div class="row">
		    	<div class="col-md-10">
		    		<input type="text" class="form-control used" readonly value="http://www.zhixuan.com/invitation/8FyfC4x">
		    	</div>
		    	<div class="col-md-2">
		    		<span class="glyphicon glyphicon-ok used"></span>
		    	</div>
	    	</div>
	  	</li>
	  	<li class="list-group-item">
	  		<div class="row">
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" readonly value="http://www.zhixuan.com/invitation/8FyfC4x">
		    	</div>
		    	<div class="col-md-2">
		    		<span class="glyphicon glyphicon-exclamation-sign un-used"></span>
		    	</div>
	    	</div>
	  	</li>
	  	<li class="list-group-item">
	  		<div class="row">
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" readonly value="http://www.zhixuan.com/invitation/8FyfC4x">
		    	</div>
		    	<div class="col-md-2">
		    		<span class="glyphicon glyphicon-exclamation-sign un-used"></span>
		    	</div>
	    	</div>
	  	</li>
	</ul>
	 -->
	<div class="invited split">已成功邀请 {{invitation_users_count}} 人</div>
	<ul class="invited-persons list-inline">
		{% for invitation_user in invitation_users %}
		<li>
			<a href="{{invitation_user.user.get_url}}"><img class="avatar avatar-circle" alt="{{invitation_user.user.nick}}"  src="{{invitation_user.user.get_avatar}}"></a>
			<a href="{{invitation_user.user.get_url}}" class="zx-cardtips" data-user_id="{{invitation_user.user.id}}"
				title="{{invitation_user.user.nick}} 注册时间：{{invitation_user.user.create_time}}">
				
				<div class="name">{{invitation_user.user.nick|str_display:4}}</div>
			</a>
		</li>
		{% endfor %}
	</ul>
	
</div>
{% endblock %}