{% extends "base/base_welcome.html" %}


{% block title %}{% if 'login' in request.path %}登录 - 智选{% endif %}{% endblock %}
{% block title_tail %}{% if 'login' not in request.path %}智选{% endif %}{% endblock title_tail %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/login.css?v={{MEDIA_VERSION}}" />
<style type="text/css">
    .container{
        /*background: red;*/
        /*min-height: 500px;*/
        /*width: inherit;
        height: inherit;*/
    }

    .form-control{
        border-color: transparent;
        background-color: rgba(255,255,255,0.5);
        border-radius: 2px;
    }

    .login-text{
        top: 20%;
        left: 33%;
    }

    .split{
        border-left: solid 2px #ddd;
        font-size: 28px;
        padding-left: 10px;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/login.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block base_container %}
<div class="p0">
    <div class="login-bg-1">
        <img class="w h" src="{{MEDIA_URL}}img/common/login-bg-1.jpg">
    </div>
    <div class="login-bg-2">
        <img class="w h" src="{{MEDIA_URL}}img/common/login-bg-2.jpg">
    </div>
</div>
<div class="pa w" style="top: 8%;">
    <div class="login-form row" style="margin: 0 auto;">
        <form class="form-horizontal" role="form" method="post" action="/login">
            <div class="form-group mb-5">
                <div class="col-md-6 pt-20 co3 text-right pr-0">
                    <span class="f35 pr-8">智选</span>
                    <span class="split"></span>
                </div>
                <div class="col-md-6 pt-24 co3 text-left pl-0">
                    <div><span class="f15">zhixuan.com</span></div>
                    <div><span class="f14 co24">投资</span><span class="f14">问答社区</span></div>
                </div>
            </div>
            <div class="form-group pt-20">
                <div class="col-md-offset-1 col-md-10 pr">
                    <input type="email" required maxlength='50' name="email" class="form-control" placeholder="邮箱" value='{{email}}'>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="password" required maxlength='32' name="password" class="form-control" placeholder="密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-5">
                    <button type="submit" class="btn btn-primary btn-block btn-login login pl-10">登录</button>
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn btn-primary btn-block btn-regist regist pl-10">注册</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <a href="/account/oauth/qq" class="no-hover-unl hide">
                        <img class="avatar-20 img-fade-hover" alt="使用腾讯QQ登录" title="使用腾讯QQ登录" data-change_img="{{MEDIA_URL}}img/common/qq-active.png" src="{{MEDIA_URL}}img/common/qq.png">
                    </a>
                    <a href="/account/oauth/sina" class="no-hover-unl hide">
                        <img class="avatar-20 img-fade-hover ml-15" alt="使用新浪微博登录" title="使用新浪微博登录" data-change_img="{{MEDIA_URL}}img/common/sina-active.png" src="{{MEDIA_URL}}img/common/sina.png">
                    </a>
                    <a class="pull-right co17 f12 pt-8 forget-pwd" href="/forget_password">忘记密码?</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

