{% extends "base/base_welcome.html" %}

{% block title %}登录{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/login.css?v={{MEDIA_VERSION}}" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/login.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block base_container %}
<div class="container p0">
    <div class="login-bg-1"><img class="w h" src="/static/img/common/login-bg-1.jpg"></div>
    <div class="login-bg-2"><img class="w h" src="/static/img/common/login-bg-2.jpg"></div>
</div>
<div class="login-form">
    <form class="form-horizontal" role="form" method="post" action="/login">
        <div class="form-group mb-5">
            <div class="col-md-offset-1 col-md-10 pt-20 co3">
                <label>登录智选</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="email" required maxlength='50' name="email" class="form-control" placeholder="登录邮箱" value='{{email}}' >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="password" required maxlength='20' name="password" class="form-control" placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-primary btn-block login">登录</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="button" class="btn btn-primary btn-block regist">注册</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <a href="/account/oauth/qq" class="no-hover-unl">
                    <img class="avatar-20 img-fade-hover" title="使用腾讯QQ登录" data-change_img="{{MEDIA_URL}}img/common/qq-active.png" src="{{MEDIA_URL}}img/common/qq.png">
                </a>
                <a href="/account/oauth/sina" class="no-hover-unl">
                    <img class="avatar-20 img-fade-hover ml-15" title="使用新浪微博登录" data-change_img="{{MEDIA_URL}}img/common/sina-active.png" src="{{MEDIA_URL}}img/common/sina.png">
                </a>
                <a class="pull-right co17 f12 pt-8 forget-pwd" href="/forget_password">忘记密码?</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
