{% extends "base/base_welcome.html" %}

{% block title %}登录{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/login.css?v={{MEDIA_VERSION}}" />
<style type="text/css">
    .container{
        /*background: red;*/
        /*min-height: 500px;*/
        /*width: inherit;
        height: inherit;*/
    }

    .form-control{
        background-color: #E0E0E0;
    }

    .login-text{
        top: 20%;
        left: 33%;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/login.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block base_container %}
<div class="p0">
    <div class="login-bg-1">
        <img class="w h" src="/static/img/common/login-bg-1.png">
        <div class="pa login-text row">
            <div class="f65 co3 col-md-7 pl-0 pr-0">智选</div>
            <div class="co3 col-md-5 pl-0 pr-0 pt-25">
                <div class="f20">zhixuan.com</div>
                <div class="f15 fb">投资问答</div>
            </div>
        </div>
    </div>
    <div class="login-bg-2"><img class="w h" src="/static/img/common/login-bg-2.jpg"></div>
</div>
<div class="login-form">
    <form class="form-horizontal" role="form" method="post" action="/login">
        <div class="form-group mb-5">
            <div class="col-md-offset-1 col-md-10 pt-20 co3">
                <label>登录智选</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="email" required maxlength='50' name="email" class="form-control" placeholder="登录邮箱" value='{{email}}' >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="password" required maxlength='32' name="password" class="form-control" placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-primary btn-block btn-login login">登录</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="button" class="btn btn-primary btn-block btn-regist regist">注册</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <a href="/account/oauth/qq" class="no-hover-unl hide">
                    <img class="avatar-20 img-fade-hover" alt="使用腾讯QQ登录" title="使用腾讯QQ登录" data-change_img="{{MEDIA_URL}}img/common/qq-active.png" src="{{MEDIA_URL}}img/common/qq.png">
                </a>
                <a href="/account/oauth/sina" class="no-hover-unl hide">
                    <img class="avatar-20 img-fade-hover ml-15" alt="使用新浪微博登录" title="使用新浪微博登录" data-change_img="{{MEDIA_URL}}img/common/sina-active.png" src="{{MEDIA_URL}}img/common/sina.png">
                </a>
                <a class="pull-right co17 f12 pt-8 forget-pwd" href="/forget_password">忘记密码?</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block footer %}
<div class="mt-35 pt-30 pb-30 line-height-20 bgc-333 co8 f12 ">
    <div class="container zx-container pb-0 pt-20 pr">
        <div class="bdc-444 bottom-border pb-15">
            <span class="co3 f22">智选</span>
            <span class="co8 ml-10">投资是一门学问，善学善问</span>
        </div>
        <div class="pt-15">
            <a class="pr-10 gray-white" href="{{MAIN_DOMAIN}}/s/links">友情链接</a> 
            <a class="pr-10 gray-white" href="{{MAIN_DOMAIN}}/s/links">百度</a> 
            <a class="pr-10 gray-white" href="{{MAIN_DOMAIN}}/s/links">腾讯科技</a> 
            <a class="pr-10 gray-white" href="{{MAIN_DOMAIN}}/s/links">阿里云</a> 
        </div>
        <div class="pt-15">
            <a class="pr-10 gray-white" href="{{MAIN_DOMAIN}}/s/about">关于我们</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/question">智选问答</a> |
            <a class="pr-10 pl-10 gray-white" href="http://kaihu.{{SERVER_DOMAIN|default:'zhixuan.com'}}">股票开户</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/s/business">商务合作</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/s/links">友情链接</a> |
            <a class="pr-10 pl-10 gray-white" href="{{MAIN_DOMAIN}}/s/logs">更新日志</a>
        </div>

        <div class="pt-0">
            <span>成都智慧之选网络科技有限公司</span>
            <span class="pl-10">蜀ICP备14001726号</span>
        </div>
        <div class="pt-0">
            <span>Copyright &copy; 2013 - 2014 zhixuan.com. All Rights Reserved.</span>
        </div>

        <img class="pa" style="width: 90px;right: 20px; top: 70px;" alt="智选日报二维码" src="http://static.zhixuan.com/img/common/zhixuanribao.jpg">
    </div>
</div>
{% endblock footer %}