{% extends "base/base_welcome.html" %}

{% block title %}注册{% endblock %}
{% block bheader %}
<style type="text/css">
.regist-main{
	font-size: 12px;
	padding-top: 40px;
}

.regist-main .form-control{
    height: 42px;
}

.regist-main .form-group{
    margin-top: 20px;
}

.regist-main .sign-nav{
	background: url({{MEDIA_URL}}img/common/sign-page-line.png) no-repeat 50% 0;
	padding-top: 40px;
	margin-top: 40px;
}
</style>
{% endblock %}
{% block container %}
<div class="row regist-main">
	<div class="col-md-4 col-md-offset-4">
		<div class="text-center">
			<h1>智选网</h1>
		</div>
		<form class="form-horizontal" role="form" method="post" action="/regist">
			<div class="form-group">
				<div class="col-md-offset-1">
					<input type="email" name="email" class="form-control" placeholder="你的登录邮箱" name="email"></div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-1">
					<input type="input" name="nick" class="form-control" placeholder="你的姓名或者昵称"></div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-1">
					<input type="password" name="password" class="form-control" placeholder="密码"></div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-1">
					<button type="submit" class="btn btn-primary btn-lg btn-block">注册</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-1 text-center">
					点击注册表示您已阅读并同意
					<a href="#">《智选网 服务条款》</a>
				</div>
			</div>

		</form>
		<div class="sign-nav">
			<div class="text-center">
				<a href="/login">已有帐号？立即登录 →</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}