{% extends "base/base_welcome.html" %}

{% block title %}重置密码{% endblock %}

{% block css %}
<style type="text/css">
.reset-main{
    margin-top: 100px;
    font-size: 13px;
    /*min-height: 400px;*/
}

.reset-main .form-control{
    height: 42px;
}

.reset-main .form-group{
    margin-top: 20px;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

</script>
{% endblock %}

{% block container %}
<div class="row reset-main">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center"><h1>智选网</h1></div>
        <form class="form-horizontal" role="form" method="post" action="/reset_password">
            <div class="form-group">
                <div class="col-md-offset-1">
                    <p class="form-control-static">重置帐号<span class="text-danger">{{user.email}}</span>的密码</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1">
                    <input type="password" class="form-control" placeholder="请输入你的新密码" name='new_password_1'>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1">
                    <input type="password" class="form-control" placeholder="请确认你的新密码" name='new_password_2'>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">重置密码</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="/login">返回登录</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
