{% extends "base/base_settings.html" %}

{% block title %}设置安全问题{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}
{% block javascript %}{% endblock %}

{% block settings_main %}
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-2 control-label">选择安全问题</label>
		<div class="col-sm-5">
			<select class="form-control">
				  <option>你父亲的名字?</option>
				  <option>你母亲的名字?</option>
				  <option>你的出生日期?</option>
				  <option>你的户口所在地?</option>
				  <option>你小学的名称？</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">你的回答</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" placeholder="输入你的正确答案">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">登录密码</label>
		<div class="col-sm-5">
			<input type="password" class="form-control" placeholder="请确认你的登录密码">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary">提交你的修改</button>
		</div>
	</div>
</form>
{% endblock %}