{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}个人主页{% endblock %}

{% block home_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/user_profile.css?v={{MEDIA_VERSION}}" />
{% endblock %}

{% block home_js%}
<script type="text/javascript" src="{{MEDIA_URL}}js/site/user_profile.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block container_content %}
<div class="user-profile-left col-md-4 text-center">
    <div class="profile pt-80 ">
        <img class="avatar-100 avatar-circle" src="{{user.get_avatar_100}}"></div>
    <div class="username">
        <h3 class="ff-yahei fb">{{user.nick}}</h3>
    </div>
    <div class="desc co8">
        <p>{{user.des|default:"忙着发财，没能留下点介绍信息"}}</p>
        {% if is_me and not user.des %}<a href="/account/user_settings#set_des">立即设置</a>{% endif %}
    </div>
    <div class="stats pt-20">
        <ul class="list-flow gray-a f13">
            <li>
                <a href="#questions">
                    <span class="question-count block fi">{{user_question_count}}</span>
                    <span>提问</span>
                </a>
            </li>
            <li>
                <a href="#answers">
                    <span class="answer-count block fi">{{user_answer_count}}</span>
                    <span>回答</span>
                </a>
            </li>
            <li>
                <a href="#following_topics">
                    <span class="following_topics-count block fi">49</span>
                    <span>话题</span>
                </a>
            </li>
            <!-- <li>
                <a href="{% if is_me %}/message/received_like{% else %}javascript:void(0);{% endif %}">
                    <span class="like-count block fi">{{user_liked_count}}</span>
                    <span>被赞</span>
                </a>
            </li> -->
            <li>
                <a href="#following">
                    <span class="following-count block fi">65</span>
                    <span>关注</span>
                </a>
            </li>
            <li>
                <a href="#followers">
                    <span class="followers-count block fi">21598</span>
                    <span>粉丝</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tools gray-a pl-50 pr-50 pt-10 hide">
        <button type="button" class="btn btn-default btn-xs unfollow pull-left">取消关注</button>
        <a class="send-message pull-right f12" href="#" data-user_name="半夜没事乱溜达" data-user_id="1">
            <span class="glyphicon glyphicon-envelope"></span>
            私信ta
        </a>
    </div>
</div>
<div class="user-profile-main col-md-8">
    <ul class="nav nav-pills pt-20 gray-a">
        <li class="active">
            <a href="#questions" data-toggle="pill">{% if is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的提问</a>
        </li>
        <li>
            <a href="#answers" data-toggle="pill">{% if is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的回答</a>
        </li>
        <li class="hide">
            <a href="#following_topics" data-toggle="pill">{% if is_me %}我{% else %}{{user.get_ta_display}}{% endif %}关注的话题</a>
        </li>
        <li>
            <a href="#following_topics" data-toggle="pill">{% if is_me %}我{% else %}{{user.get_ta_display}}{% endif %}关注的话题</a>
        </li>
        <li>
            <a href="#following" data-toggle="pill">{% if is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的关注</a>
        </li>
        <li>
            <a href="#followers" data-toggle="pill">{% if is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的粉丝</a>
        </li>
        
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="questions">
            {% if questions %}
            <ul class="list-group only-top-border">
                {% for question in questions %}
                <li class="list-group-item">
                    <div class="content f14">
                        <a href="{{question.get_url}}">{{question.title|str_display:30}}</a>
                    </div>
                    <div class="stats pt-10">
                        <span>
                            {{question.answer_count}} 个回答 • {{question.views_count}} 次浏览 • {{question.create_time|time_format}}
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="blank5"></div>
            <div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="answers">
            {% if answers %}
            <ul class="list-group only-top-border">
                {% for answer in answers %}
                <li class="list-group-item">
                    <div class="content f14 pb-10">
                        <span class="pt-5">{{answer.get_summary|safe}}</span>
                    </div>
                    <div class="pb-10 f12">
                        回答了提问：<a href="{{answer.question.get_url}}">{{answer.question.title|str_display:30}}</a>
                    </div>
                    <div class="stats">
                        <span>{{answer.like_count}} 个赞 • {{answer.create_time|time_format}}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="blank5"></div>
            <div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="following_topics">
            <ul class="list-inline row pl-15">
                <li class="topic-item pt-15 col-md-6 col-xs-12">
                    <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/topic0.jpg">
                    <div class="pl-75 row pr-10">
                        <div class="col-md-6 col-xs-6">
                            <a href="#" class="zx-topictips" data-topic_id='12'>大盘走势</a>
                        </div>
                        <div class="col-md-6 col-xs-6 text-right gray-a">
                            <button type="button" class="btn btn-default btn-xs pull-right btn-unfollow">取消关注</button>
                        </div>
                        <div class="col-md-12 f12 pt-5 pb-15">大盘走势,是对在证交所交易的股票价格综合涨跌情况的描述. 判别指标有上证指数和深证指数等.</div>
                    </div>
                </li>
                <li class="topic-item pt-15 col-md-6 col-xs-12">
                    <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/topic1.jpg">
                    <div class="pl-75 row pr-10">
                        <div class="col-md-6 col-xs-6">
                            <a href="#" class="zx-topictips" data-topic_id='1'>个股分析</a>
                        </div>
                        <div class="col-md-6 col-xs-6 text-right gray-a">
                            <button type="button" class="btn btn-default btn-xs pull-right btn-unfollow">取消关注</button>
                        </div>
                        <div class="col-md-12 f12 pt-5 pb-15">股票是一种无偿还期限的有价证券，按持有者可分为国家股、法人股、个人股。个人股投资资金来自个人，可以自由上市流通。</div>
                    </div>
                </li>
                <li class="topic-item pt-15 col-md-6 col-xs-12">
                    <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/topic2.jpg">
                    <div class="pl-75 row pr-10">
                        <div class="col-md-6 col-xs-6">
                            <a href="#" class="zx-topictips" data-topic_id='1'>互联网金融</a>
                        </div>
                        <div class="col-md-6 col-xs-6 text-right gray-a">
                            <button type="button" class="btn btn-default btn-xs pull-right btn-unfollow">取消关注</button>
                        </div>
                        <div class="col-md-12 f12 pt-5 pb-15">互联网金融是指以依托于支付、云计算以及搜索引擎等互联网工具，实现资金融通、支付和信息中介等业务的一种新兴金融。</div>
                    </div>
                </li>
                <li class="topic-item pt-15 col-md-6 col-xs-12">
                    <img class="pa avatar-65 avatar-circle" src="{{MEDIA_URL}}img/common/topic3.jpg">
                    <div class="pl-75 row pr-10">
                        <div class="col-md-6 col-xs-6">
                            <a href="#" class="zx-topictips" data-topic_id='1'>P2P网贷</a>
                        </div>
                        <div class="col-md-6 col-xs-6 text-right gray-a">
                            <button type="button" class="btn btn-default btn-xs pull-right btn-unfollow">取消关注</button>
                        </div>
                        <div class="col-md-12 f12 pt-5 pb-15">个人通过网络平台相互借贷，贷款方在P2P网站上发布贷款需求，投资人则通过网站将资金借给贷款方完成交易要向P2P网贷平...</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="following">
            <ul class="pl-20 pr-20 list-group">
                <li class="list-group-item row no-l-r-bd bdc-eee pl-0">
                    <img class="pa avatar-45 avatar-circle" src="{{MEDIA_URL}}img/common/user1.jpg">
                    <div class="pl-55 row">
                        <div class="col-md-9">
                            <div>
                                <a href="#">半夜没事瞎溜达</a>
                            </div>
                            <div class="f12 pt-5">
                                <a class="black-blue pr-5" href="#">提问 32</a> |
                                <a class="black-blue pr-5 pl-5" href="#">回答 65</a> |
                                <a class="black-blue pr-5 pl-5" href="#">被赞 165</a> |
                                <a class="black-blue pr-5 pl-5" href="#">关注 99</a> |
                                <a class="black-blue pr-5 pl-5" href="#">粉丝 1958</a>
                            </div>
                            <div class="f12 co8 pt-5">漫漫人生路，谁不错几步？</div>
                        </div>
                        <div class="col-md-3 text-center pt-20">
                            <button class="btn btn-primary btn-xs">添加关注</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item row no-l-r-bd bdc-eee pl-0">
                    <img class="pa avatar-45 avatar-circle" src="{{MEDIA_URL}}img/common/user2.jpg">
                    <div class="pl-55 row">
                        <div class="col-md-9">
                            <div>
                                <a href="#">女王大人</a>
                                <span class="f12 co8 pl-5">(关注于 2014-04-01)</span>
                            </div>
                            <div class="f12 pt-5">
                                <a class="black-blue pr-5" href="#">提问 25</a> |
                                <a class="black-blue pr-5 pl-5" href="#">回答 23</a> |
                                <a class="black-blue pr-5 pl-5" href="#">被赞 325</a> |
                                <a class="black-blue pr-5 pl-5" href="#">关注 29</a> |
                                <a class="black-blue pr-5 pl-5" href="#">粉丝 11958</a>
                            </div>
                            <div class="f12 co8 pt-5">未来很长很远，今朝有酒今朝醉又有何不可。</div>
                        </div>
                        <div class="col-md-3 text-center pt-20">
                            <button class="btn btn-default btn-xs">取消关注</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item row no-l-r-bd bdc-eee pl-0">
                    <img class="pa avatar-45 avatar-circle" src="{{MEDIA_URL}}img/common/user3.jpg">
                    <div class="pl-55 row">
                        <div class="col-md-9">
                            <div>
                                <a href="#">习大大</a>
                                <span class="f12 co8 pl-5">(关注于 2014-03-28)</span>
                            </div>
                            <div class="f12 pt-5">
                                <a class="black-blue pr-5" href="#">提问 93</a> |
                                <a class="black-blue pr-5 pl-5" href="#">回答 514</a> |
                                <a class="black-blue pr-5 pl-5" href="#">被赞 32</a> |
                                <a class="black-blue pr-5 pl-5" href="#">关注 69</a> |
                                <a class="black-blue pr-5 pl-5" href="#">粉丝 254</a>
                            </div>
                            <div class="f12 co8 pt-5">请在大人的陪同下与本人聊天，否则后果自负！</div>
                        </div>
                        <div class="col-md-3 text-center pt-20">
                            <button class="btn btn-default btn-xs">取消关注</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item row no-l-r-bd bdc-eee pl-0">
                    <img class="pa avatar-45 avatar-circle" src="{{MEDIA_URL}}img/common/user3.jpg">
                    <div class="pl-55 row">
                        <div class="col-md-9">
                            <div>
                                <a href="#">习大大</a>
                                <span class="f12 co8 pl-5">(关注于 2014-03-28)</span>
                            </div>
                            <div class="f12 pt-5">
                                <a class="black-blue pr-5" href="#">提问 93</a> |
                                <a class="black-blue pr-5 pl-5" href="#">回答 514</a> |
                                <a class="black-blue pr-5 pl-5" href="#">被赞 32</a> |
                                <a class="black-blue pr-5 pl-5" href="#">关注 69</a> |
                                <a class="black-blue pr-5 pl-5" href="#">粉丝 254</a>
                            </div>
                            <div class="f12 co8 pt-5">请在大人的陪同下与本人聊天，否则后果自负！</div>
                        </div>
                        <div class="col-md-3 text-center pt-20">
                            <span class="glyphicon glyphicon-transfer"></span>
                            <span class="f12">互相关注</span>
                            <button class="btn btn-default btn-xs">取消关注</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="followers">暂不开放</div>
    </div>


</div>
{% endblock %}