{% extends "account/base_profile.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}提问 - 个人主页{% endblock %}


{% block tab_content %}
<div class="tab-pane active fade in" id="questions">
    {% if questions %}
    <ul class="list-group only-top-border">
        {% for question in questions %}
        <li class="list-group-item">
            <div class="content f14">
                <a href="{{question.get_url}}">{{question.title|str_display:30}}</a>
            </div>
            <div class="stats pt-10">
                <span>
                    {{question.answer_count}} 个回答 • {{question.views_count}} 次浏览 • {{question.create_time|time_format}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="blank5"></div>
    <div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
    {% endif %}
</div>
{% endblock tab_content %}