{% extends "account/base_profile.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}回答 - 个人主页{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $.ZXUtils.highlight($('.answer-content>span'), "{{user_key_words}}", '<span class="co23">{0}</span>');
    });
</script>
{% endblock javascript %}

{% block tab_content %}
<div class="tab-pane active fade in">
    {% if answers %}
    <ul class="list-group only-top-border">
        {% for answer in answers %}
        <li class="list-group-item">
            <div class="answer-content f14 pb-10 p-5">
                <span>{{answer.get_summary|safe}}</span>
                <a href="/question/{{answer.question.id}}#to_answer_{{answer.id}}" class="pl-5 f12">
                        <span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
                </a>
            </div>
            <div class="pb-10 f12">
                回答了提问：<a href="{{answer.question.get_url}}">{{answer.question.title|str_display:30}}</a>
            </div>
            <div class="stats">
                <span>{{answer.like_count}} 个赞 • {{answer.create_time|time_format}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    {{page_params|paging:request}}
    {% else %}
    <div class="blank5"></div>
    <div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
    {% endif %}
</div>
{% endblock tab_content %}