{% extends "question/base_question.html" %}

{% block title %}个人主页{% endblock %}

{% block css %}
<style type="text/css">
.container_content{
	padding-bottom: 0px;
	border-radius: 0px;
}

.gray-a>li>a{
	padding-right: 0px;
}

.gray-a>li>a:hover{
	text-decoration: none;
	color: #349CD8;
}

.user-profile-left .stats li{
	border-left: solid 1px #ddd;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.user-profile-left .stats li:first-child{
	border-left: 0px;
}

.user-profile-main{
	border-left: solid 1px #ddd;
	box-shadow: -2px 2px 6px #ddd;
	min-height: 430px;
}

.user-profile-main ul.nav{
	border-bottom: 2px solid #d9d9d9;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: transparent;
	color: #428bca;
	border-bottom: 2px solid #428bca;
}

.nav-pills>li>a{
	border-radius: 0px;
	padding-right: 15px;
	margin-bottom: -2px;
}

.nav-pills>li>a:hover{
	background-color: transparent;
}

.user-profile-main .stats{
	font-size: 12px;
	color: #999;
}

.user-profile-main .content a{
	color: #222;
	transition: color 0.5s;
}

.user-profile-main .content a:hover{
	color: #349CD8;
	text-decoration: none;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	$('.stats a').bind('click', function(){
		$('.user-profile-main a[href='+$(this).attr('href')+']').tab('show');
	});
});
</script>
{% endblock %}

{% block container_content %}

<div class="user-profile-left col-md-4 text-center">
	<div class="profile pt-80">
		<img class="avatar-100 avatar-circle" src="/static/img/common/user3.jpg">
	</div>
	<div class="username">
		<h3 class="ff-yahei fb">半夜没事瞎溜达</h3>
	</div>
	<div class="desc">
		<p>漫漫人生路，谁不错几步！请关注我的微博 : http://weibo.com/zhejiushiwodeweibo</p>
	</div>
	<div class="stats pt-20">
		<ul class="list-flow gray-a">
			<li>
				<a href="#questions"><span class="question-count block">14</span><span>提问</span></a>
			</li>
			<li>
				<a href="#answers"><span class="question-count block">75</span><span>回答</span></a>
			</li>
			<li>
				<a href="#following"><span class="question-count block">41</span><span>关注</span></a>
			</li>
			<li>
				<a href="#followers"><span class="question-count block">177</span><span>粉丝</span></a>
			</li>
		</ul>
	</div>
	<div class="tools gray-a pl-50 pr-50 pt-10">
		<button type="button" class="btn btn-default btn-xs unfollow pull-left">取消关注</button>
		<a class="send-message pull-right f12" href="#" data-user_name="半夜没事乱溜达" data-user_id="1">
			<span class="glyphicon glyphicon-envelope"></span> 私信ta
		</a>
	</div>
</div>
<div class="user-profile-main col-md-8">
	<ul class="nav nav-pills pt-20 gray-a">
	  <li class="active"><a href="#questions" data-toggle="pill">最新提问</a></li>
	  <li><a href="#answers" data-toggle="pill">最新回答</a></li>
	  <li><a href="#following" data-toggle="pill">TA的关注</a></li>
	  <li><a href="#followers" data-toggle="pill">TA的粉丝</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active fade in" id="questions">
			<ul class="list-group only-top-border">
  				<li class="list-group-item">
  					<div class="content f16">
  						<a href="#">如何看待国金证券推出的佣金宝？</a>
  					</div>
  					<div class="stats pt-10">
  						<span>13 个回答 • 165 次浏览 • 14 赞 • 2014-03-01 10:23:36</span>
  					</div>
				</li>
				<li class="list-group-item">
  					<div class="content f16">
  						<a href="#">从技术分析的角度，如何看待沪指2000点整数关口？</a>
  					</div>
  					<div class="stats pt-10">
  						<span>25 个回答 • 312 次浏览 • 14 赞 • 2014-03-01 10:23:36</span>
  					</div>
				</li>
				<li class="list-group-item">
  					<div class="content f16">
  						<a href="#">奥赛康IPO被叫停，存量发行制度设计为何好心办坏事？</a>
  					</div>
  					<div class="stats pt-10">
  						<span>332 个回答 • 3254 次浏览 • 14 赞 • 2014-03-01 10:23:36</span>
  					</div>
				</li>
				<li class="list-group-item">
  					<div class="content f16">
  						<a href="#">家具行业的出口转内销策略有用么？2014年如果海外市场回暖家具行业能否复苏？</a>
  					</div>
  					<div class="stats pt-10">
  						<span>98 个回答 • 1165 次浏览 • 14 赞 • 2014-03-01 10:23:36</span>
  					</div>
				</li>
				<li class="list-group-item">
  					<div class="content f16">
  						<a href="#">农村用地资源比较丰富的上市公司具体如何从土改中受益？</a>
  					</div>
  					<div class="stats pt-10">
  						<span>8 个回答 • 61 次浏览 • 14 赞 • 2014-03-01 10:23:36</span>
  					</div>
				</li>
				<li class="list-group-item">
  					<div class="content f16">
  						<a href="#">作为散户该如何看待券商的研报，如何参考研报来指导投资？</a>
  					</div>
  					<div class="stats pt-10">
  						<span>32 个回答 • 241 次浏览 • 14 赞 • 2014-03-01 10:23:36</span>
  					</div>
				</li>
				<li class="list-group-item">
  					<div class="content f16">
  						<a href="#">个股期权的推出对于券商来说有哪些收益？这个业务最适合券商哪个部门开展？</a>
  					</div>
  					<div class="stats pt-10">
  						<span>18 个回答 • 365 次浏览 • 14 赞 • 2014-03-01 10:23:36</span>
  					</div>
				</li>
				<li class="list-group-item">
  					<div class="content f16">
  						<a href="#">有观点认为第五轮牛市来了，如果这轮牛市到来和之前四轮有什么区别？</a>
  					</div>
  					<div class="stats pt-10">
  						<span>22 个回答 • 215 次浏览 • 14 赞 • 2014-03-01 10:23:36</span>
  					</div>
				</li>
			</ul>
		</div>
		<div class="tab-pane fade" id="answers">
			answers
		</div>
		<div class="tab-pane fade" id="following">
			following
		</div>
		<div class="tab-pane fade" id="followers">
			followers
		</div>
	</div>
</div>


{% endblock %}
