{% extends "base/base_home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}个人主页{% endblock %}

{% block cheader %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/user_profile.css?v={{MEDIA_VERSION}}" />
<script type="text/javascript" src="{{MEDIA_URL}}js/site/user_profile.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block container_content %}
<div class="user-profile-left col-md-4 text-center">
    <div class="profile pt-80 ">
        <img class="avatar-100 avatar-circle" src="{{user.get_avatar}}"></div>
    <div class="username">
        <h3 class="ff-yahei fb">{{user.nick}}</h3>
    </div>
    <div class="desc">
        <p>{{user.des|default:"忙着发财，没能留下点介绍信息"}}</p>
        {% if is_me and not uer.des %}<a href="/account/user_settings">立即设置</a>{% endif %}
    </div>
    <div class="stats pt-20">
        <ul class="list-flow gray-a">
            <li>
                <a href="#questions">
                    <span class="question-count block">{{user_question_count}}</span>
                    <span>提问</span>
                </a>
            </li>
            <li>
                <a href="#answers">
                    <span class="question-count block">{{user_answer_count}}</span>
                    <span>回答</span>
                </a>
            </li>
            <li>
                <a href="{% if is_me %}/message/received_like{% else %}javascript:void(0);{% endif %}">
                    <span class="question-count block">{{user_liked_count}}</span>
                    <span>被赞</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tools gray-a pl-50 pr-50 pt-10 hide">
        <button type="button" class="btn btn-default btn-xs unfollow pull-left">取消关注</button>
        <a class="send-message pull-right f12" href="#" data-user_name="半夜没事乱溜达" data-user_id="1">
            <span class="glyphicon glyphicon-envelope"></span>
            私信ta
        </a>
    </div>
</div>
<div class="user-profile-main col-md-8">
    <ul class="nav nav-pills pt-20 gray-a">
        <li class="active">
            <a href="#questions" data-toggle="pill">{% if is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的最新提问</a>
        </li>
        <li>
            <a href="#answers" data-toggle="pill">{% if is_me %}我{% else %}{{user.get_ta_display}}{% endif %}的最新回答</a>
        </li>
        <!-- 
        <li>
            <a href="#following" data-toggle="pill">TA的关注</a>
        </li>
        <li>
            <a href="#followers" data-toggle="pill">TA的粉丝</a>
        </li>
         -->
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="questions">
            {% if questions %}
            <ul class="list-group only-top-border">
                {% for question in questions %}
                <li class="list-group-item">
                    <div class="content f16">
                        <a href="{{question.get_url}}">{{question.title|str_display:20}}</a>
                    </div>
                    <div class="stats pt-10">
                        <span>
                            {{question.answer_count}} 个回答 • {{question.views_count}} 次浏览 • {{question.create_time|time_format}}
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="blank5"></div>
            <div class="alert alert-success popmsg" id="divSuccess">暂无</div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="answers">
            <ul class="list-group only-top-border">
                {% for answer in answers %}
                <li class="list-group-item">
                    <div class="content f16">
                        <span class="pt-5 inline-block">{{answer.content|str_display:50|safe}}</span>
                        <div class="blank5"></div>
                        <a class="inline-block f13 co8" href="{{answer.question.get_url}}">{{answer.question.title}}</a>
                    </div>
                    <div class="stats pt-10">
                        <span>{{answer.like_count}}个赞 • {{answer.create_time|time_format}}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="following">暂不开放</div>
        <div class="tab-pane fade" id="followers">暂不开放</div>
    </div>
</div>
{% endblock %}