{% extends "base/base_settings.html" %}

{% block title %}帐号设置{% endblock %}

{% block css %}
<style type="text/css">
.zx-settings-main .form-group{
	border-top: solid 1px #f2f2f2;
	margin-left: 10px;
	padding: 10px 0;
}

.zx-settings-main .avatar img{
	width: 300px;
}
</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	$('#birthday-id').datetimepicker({
    	format: 'yyyy-mm-dd',
    	language: 'zh-CN',
    	minView: 2,
    	autoclose: true
	});
})
</script>
{% endblock %}

{% block settings_main %}
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-2 control-label">头像</label>
		<div class="col-sm-10">
			<p class="form-control-static avatar">
				<img src="{{MEDIA_URL}}{{request.user.avatar|default:'img/common/default.png'}}">
			</p>
			<div class="blank10"></div>
			<input type="file"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">帐号</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{request.user.email}}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">昵称</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{request.user.nick}}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">性别</label>
		<div class="col-sm-3">
			<select name="gender" class="form-control">
				  <option>保密</option>
				  <option>男</option>
				  <option>女</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">出生日期</label>
		<div class="col-sm-3">
			<input type="text" name="birthday" id="birthday-id" class="form-control" placeholder="" readonly>
		</div>
	</div>
	<div class="form-group hide">
		<label for="inputPassword" class="col-sm-2 control-label">个性网址</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" placeholder="个性网址">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary">提交你的修改</button>
		</div>
	</div>
</form>
{% endblock %}