{% extends "base/base.html" %}

{% block bheader %}
<style type="text/css">
    body {background-color: #F0F4F7}
</style>
{% endblock %}

{% block container %}
<div class="use">
    <a href="/" class="current">首页</a>
    <a href="/ask/ans">我要回答</a>
    <a href="/ask/ask">我要提问</a>
    <a href="/manger">我要开户</a>
</div>

<div class="fr f16 user_nav_info">
    <li class="dropdown {% if '/download' in request.path_info %}active{% endif %}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{request.user.nick}}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/ask/my_asks">我的提问</a>
            </li>
            <li>
                <a href="/ask/my_answers">我的回答</a>
            </li>
            <li>
                <a href="/notification">通知中心</a>
            </li>
            <li>
                <a href="/account/settings">账号设置</a>
            </li>
            <li>
                <a href="/logout">退出</a>
            </li>
        </ul>
    </li>
</div>
<div class="blank10"></div>

<div class="container_content">
{% block container_content %}{% endblock container_content %}
</div>

{% endblock %}