{% load custom_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock title %} - 智选后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="author" content="simplejoy" />
        <meta name="keywords" content="智选,股票问答,投资问答,炒股问答,投资社区,股票,债券,期货,期权,投资" />
        <meta name="description" content="智选是一个面向所有投资者的网络问答平台，这里有普通投资者，也有业内精英，在“开放、平等、协作、分享”的互联网精神下，用户在这里提问，在这里回答，在这里学习，与智选共同成长。" />
        <link rel="shortcut icon" href="{{MEDIA_URL}}/img/common/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.css" />
        <!-- <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/bootstrap/bootstrap-theme.css" /> -->
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery/tooltipster/tooltipster.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery/tooltipster/themes/tooltipster-shadow.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery/jcrop/jquery.Jcrop.min.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery/toolbar/jquery.toolbars.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/textboxlist/TextboxList.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/textboxlist/TextboxList.Autocomplete.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/base.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site.css" />
        {% block base_css %}{% endblock %}

        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/backbone/underscore-min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/backbone/backbone-min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap/html5shiv.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap/bootstrap.min.js"></script>

    </head>

    <body>
        <div class="zx-alert">
            {% if error_msg %}
                <div class="alert alert-danger alert-dismissable container zx-container box-shadow-224 border-radius-0">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{error_msg}}
                </div>
            {% endif %}
        </div>

        <div class="scroll-top"></div>
        <div class="header bgc-333 box-shadow-224">
            <div class="container pt-20 pb-20">
                <div class="col-md-10">
                    <span class="f30 co3">智选管理后台</span>
                </div>
                <div class="col-md-2">
                    <img class="pa avatar-35 avatar-circle" src="{{request.user.get_avatar_25}}">
                    <div class="f14 co3 pull-right">{{request.user.nick}}</div>
                    <div class="f12 co8 pull-right current-time">2012-12-20 23:59:59</div>
                    <div class="pa gray-a login f12">
                        <a href="/" class="">去智选</a>
                        <a href="/logout" class="">登出</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% block container %}{% endblock container %}
        </div>

        {% include "include/_footer.html" %}

        {% block body_tail %}{% endblock body_tail %}

        <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.placeholder.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.tooltipster.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.toolbar.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.Jcrop.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.validate.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/textboxlist/GrowingInput.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/textboxlist/TextboxList.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/textboxlist/TextboxList.Autocomplete.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/textboxlist/TextboxList.Autocomplete.Binary.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/kindeditor/kindeditor-min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/common.js?v={{MEDIA_VERSION}}"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/site.js?v={{MEDIA_VERSION}}"></script>
        <script type="text/javascript">
            var MEDIA_URL = '{{MEDIA_URL|default:''}}',
                CURRENT_USER_ID = "{{request.user.id|default:''}}",
                ERROR_MSG = '{{error_msg|default:''}}',
                SUCCESS_MSG = '{{success_msg|default:''}}',
                INFO_MSG = '{{info_msg|default:''}}',
                WARNING_MSG = '{{warning_msg|default:''}}';
        </script>
        {% block base_js %}{% endblock %}

        {% include "include/_tongji.html" %}
        
    </body>
</html>