{% load custom_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
    <head>
        <meta property="qc:admins" content="35415473776201076375747716" />
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %} - 智选网后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="simplejoy">
        <meta name="keywords" content="股票问答 智选网" />
        <meta name="description" content="智选网">
        <link rel="shortcut icon" href="{{MEDIA_URL}}/img/common/favicon.ico">

        <link href="{{MEDIA_URL}}/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/css/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/css/base.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/css/site.css" rel="stylesheet">
        <!-- <link href="{{MEDIA_URL}}/css/kindeditor/kindeditor.css" rel="stylesheet"> -->

        <script src="{{MEDIA_URL}}/js/jquery/jquery-1.7.min.js"></script>
        <script src="{{MEDIA_URL}}/js/jquery/jquery.html5-placeholder-shim.js"></script>
        <script src="{{MEDIA_URL}}/js/bootstrap/bootstrap.min.js"></script>
        <script src="{{MEDIA_URL}}/js/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="{{MEDIA_URL}}/js/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="{{MEDIA_URL}}/js/bootstrap/respond.min.js"></script>
        <script src="{{MEDIA_URL}}/js/kindeditor/kindeditor-min.js"></script>
        <script src="{{MEDIA_URL}}/js/angular/angular.min.js"></script>
        <script src="{{MEDIA_URL}}/js/common.js?v={{MEDIA_VERSION}}"></script>
        <script src="{{MEDIA_URL}}/js/site.js?v={{MEDIA_VERSION}}"></script>
        <script type="text/javascript">var media = '{{ MEDIA_URL }}';</script>
        
        {% block bheader %}{% endblock bheader %}
    </head>

    <body>
        {% block container_head %}
        {% endblock container_head %}
        <div class="scroll-top"></div>
        <div class="admin-header container">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><h1 class="cl_white">智选网后台管理</h1></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">你好，管理员<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                          </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="container" style="min-height:360px;" id="content_container_id">
            {% block container %}{% endblock container %}
        </div>
        {% include "include/_footer.html" %}
        {% include "include/_tongji.html" %}
        {% block body_tail %}{% endblock body_tail %}
    </body>
</html>
