{% extends "base/base_home.html" %}

{% block title %}首页{% endblock %}

{% block cheader %}
<style type="text/css">
body {background-color: #F0F4F7; font-family: "微软雅黑";}


.container_content{
    background-color: white;
    border-radius: 5px;
    border: solid 1px lightgray;
    padding-bottom: 20px;
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
}

.zx-container-main{
    min-height: 470px; 
    padding-left: 25px;
}

.zx-container-main .search-bar{
    height: 85px; 
    width: 100%; 
    padding: 20px;
    background-color: #e7ecef;
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.zx-container-main .question-list{
    float: left; 
    min-height: 370px; 
    width: 100%; 
    padding-top: 25px;
}

.zx-container-main .question-list .list-group-item:first-child{
    border-top: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 0px;
}

.zx-container-main .question-list .list-group-item .item-container{
    width: 100%; 
}

.zx-container-main .question-list .list-group-item .item-question-title{
    width: 100%; 
    margin: 15px 0 0 0;
}

.zx-container-main .question-list .list-group-item .item-question-title a{
    cursor: pointer;
    color: black;
}

.zx-container-main .question-list .list-group-item .item-question-title a:hover{
    text-decoration: none;
    color: #349cd8;
}

.zx-container-main .question-list .list-group-item .item-question-content{
    width: 100%; 
    color: #69737b;
    margin: 10px 0 0 0;
}

.zx-container-main .question-list .list-group-item .item-question-tags{
    width: 100%; 
    margin: 10px 0 0 0;
}

.zx-container-main .question-list .list-group-item .item-question-profile{
    width: 100%; 
    margin: 12px 0 15px 0;
}

.zx-container-main .question-list .list-group-item .item-question-profile a{
}

.zx-container-main .question-list .list-group-item .item-question-profile a:hover{
    text-decoration: none;
}

.zx-container-main .avatar{
    min-width: 22px;
    min-height: 22px;
    margin-right: 10px;
    float: left;
}

.zx-container-main .avatar img{
    width: 22px;
    height: 22px;
}

.zx-container-main  .user-name{
    display: inline;
    color: #224e73;
    font-size: 12px;
}

.zx-container-main .question-list .list-group-item .item-question-profile .statistic{
    font-size: 12px;
    display: inline;
    margin-left: 15px;
}

.zx-container-main .question-list .list-group-item .item-question-profile .answers{
    display: inline;
    margin-left: 8px;
}

.zx-container-main .question-list .list-group-item .item-question-profile .answers a{
    color: #a1acb4;
}

.zx-container-main .question-list .list-group-item .item-question-profile .views{
    display: inline;
    margin-left: 8px;
}

.zx-container-main .question-list .list-group-item .item-question-profile .views a{
    color: #a1acb4;
}

.zx-container-main .question-list .list-group-item .item-question-profile .last-replay{
    color: #69737b;
    display: inline;
    font-size: 12px;
    float: right;
}

.zx-container-main .question-entry{
    float: left;
    padding-top: 25px;
    width: 100%;
}

.zx-container-main .question-entry .topic-title{
    
}

.zx-container-main .question-entry .topic-content{
    padding-top: 25px;
    font-size: 13px;
    color: #475058;
}

.zx-container-main .question-entry .topic-footer{
    padding-top: 25px;
}

.zx-container-main .question-entry .question-date{
    float: right;
    font-size: 12px;
    color: #475058;
}

.zx-container-main .replaies{
    float: left;
    width: 100%;
    padding-top: 25px;
}

.zx-container-main .replaies .list-group-item:first-child{
    border-top: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 0px;
}

.zx-container-main .replay-header{
    padding: 15px 5px 5px 5px;
}


.zx-container-main .replay-header .user-name a{
    color: #224e73;
    font-size: 12px;
}

.zx-container-main .replay-content{
    font-size: 13px;
    color: #475058;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 25px;
}

.zx-container-main .replay-main .vote{
    padding-left: 30px;
}

.zx-container-main .replay-main .vote .btn-group-vertical{
    width: 90%;
}

.zx-container-main .btn-default .badge{
    background-color: lightgray;
}

.zx-container-main .user-profile{
    padding-top: 25px;
    float: left;
    width: 100%;
}

.zx-container-main .user-profile .big-avatar img{
    width: 110px;
    height: 110px;
}

.zx-container-main .user-profile-left{
    min-height: 450px;
    margin-bottom: 30px;
    padding: 0 0 0 15px;
}

.zx-container-main .user-profile-right{
    border-left: solid 1px lightgray;
    margin-bottom: 25px;
}

.zx-container-main .user-profile-left .list-group{
    padding-top: 30px;
}

.zx-container-main .user-profile-left .list-group .active{
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 0px;
}

.zx-container-main .user-profile-left .list-group-item{
    border: 0;
}

.zx-container-main .user-profile-right-top .list-group{
    padding-top: 10px;
}

.zx-container-main .user-profile-right-top .list-group-item{
    border-top: solid 1px lightgray;
    border-left: 0px; 
    border-right: 0px;
    border-bottom: 0px;
    padding: 20px 15px;
}

.zx-container-main .user-profile-right-top .list-group-item:first-child{
    border-top: 0px;
}

.zx-container-main .user-profile-right-top .list-group-item:last-child{
    border-bottom: solid 1px lightgray;
}

.zx-container-main .list-questions .list-group-item{
    border: 0;
}

.zx-container-main .list-questions a{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.zx-container-right{
    /*width: 400px; */
    min-height: 470px; 
    padding-right: 25px;
}

.zx-container-right .ask-question{
    margin-top: 25px;
    /*margin-right: 25px;*/
}

.zx-container-right .top5{
    margin-top: 10px;
    /*margin-right: 25px;*/
}

.zx-container-right .top5 .list-group-item{
    border: 0;
}

.zx-container-right .top-num{
    float: left; 
    margin-right: 20px; 
    width: 25px; 
    height: 25px; 
    background-color: #224e76; 
    color: white; 
    text-align: center; 
    margin-top: 8px;
    border-radius: 3px;
}

.zx-container-right .top-avatar{
    float: left; 
}

.zx-container-right .top-info a{
    font-size: 13px;
    margin-left: 10px;
}

.zx-container-right .top-info span{
    font-size: 12px;
    margin-left: 10px;
}

.zx-container-right .intro .avatar img{
    width: 65px;
}

.zx-container-right .intro .nick{
    height: 65px;
    line-height: 65px;
    overflow: hidden;
}

.zx-container-right .intro a:hover{
    text-decoration: none;
}

.zx-container-right .intro .bottom-border{
    border-bottom: solid 1px #ddd;
}

.zx-container-right .intro .item{
    border-left: solid 1px #ddd;
}

.zx-container-right .intro .item:first-child{
    border-left: 0;
}
</style>
{% block javascript %}{% endblock %}
{% block css %}{% endblock %}
{% endblock %}

{% block container_content %}
<!--左侧主体开始-->
<div class="zx-container-main col-md-8">
    <!--查询框开始-->
    <div class="search-bar">
        <div class="input-group input-group-lg">
            <input type="text" placeholder="各种问题..." class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">搜索</button>
            </span>
        </div>
    </div>
    <!--查询框结束-->
    {% block question_main%}{% endblock %}
</div>
<!--左侧主体结束-->

<!--右侧主体开始-->
<div class="zx-container-right col-md-4">
    <div class="ask-question well">
        <div class="row">
            <div class="col-md-6">
                <a href="/question/ask_question"><button type="button" class="btn btn-primary btn-lg btn-block">我要提问</button></a>
            </div>
            <div class="col-md-6">
                <div>
                    <span class="text-danger">125895</span>
                    个问题
                </div>
                <div>
                    <span class="text-danger">56325</span>
                    人参与
                </div>
            </div>
        </div>
    </div>

    <!-- top 5 开始 -->
    <div class="top5 panel panel-default hide">
        <div class="panel-heading">用户排行榜</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="top-num" style="">1</div>
                    <div class="top-avatar">
                        <a href="/account/user_profile">
                            <img style="width: 42px;" src="{{MEDIA_URL}}img/common/default.png" />
                        </a>
                    </div>
                    <div class="top-info">
                        <a href="/account/user_profile">lei286394973</a>
                        <br>
                        <span>被赞1320</span>
                        <span>回复365</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="top-num" style="">2</div>
                    <div class="top-avatar">
                        <a href="/account/user_profile">
                            <img style="width: 42px;" src="{{MEDIA_URL}}img/common/default.png" />
                        </a>
                    </div>
                    <div class="top-info">
                        <a href="/account/user_profile">stranger</a>
                        <br>
                        <span>被赞998</span>
                        <span>回复269</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="top-num" style="">3</div>
                    <div class="top-avatar">
                        <a href="/account/user_profile">
                            <img style="width: 42px;" src="{{MEDIA_URL}}img/common/default.png" />
                        </a>
                    </div>
                    <div class="top-info">
                        <a href="/account/user_profile">半夜没事瞎溜达</a>
                        <br>
                        <span>被赞885</span>
                        <span>回复203</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="top-num" style="">4</div>
                    <div class="top-avatar">
                        <a href="/account/user_profile">
                            <img style="width: 42px;" src="{{MEDIA_URL}}img/common/default.png" />
                        </a>
                    </div>
                    <div class="top-info">
                        <a href="/account/user_profile">jack</a>
                        <br>
                        <span>被赞758</span>
                        <span>回复145</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="top-num" style="">5</div>
                    <div class="top-avatar">
                        <a href="/account/user_profile">
                            <img style="width: 42px;" src="{{MEDIA_URL}}img/common/default.png" />
                        </a>
                    </div>
                    <div class="top-info">
                        <a href="/account/user_profile">rose</a>
                        <br>
                        <span>被赞562</span>
                        <span>回复96</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- top 5 结束 -->

    <div class="intro well">
        <div class="row">
            <div class="col-md-4 avatar"><img src="{{MEDIA_URL}}img/common/default.png"></div>
            <div class="col-md-8 nick">{{request.user.nick}}</div>
        </div>
        <div class="blank10 bottom-border"></div>
        <div class="row">
            <div class="col-md-4 item"><a href="/account/user_profile">我的提问<br/>122</a></div>
            <div class="col-md-8 item"><a href="/account/user_profile">我的回答<br/>96</a></div>
        </div>
    </div>

</div>
<!--右侧主体开始-->
{% endblock container_content %}