{% extends "base/base.html" %}

{% block bheader %}
<style type="text/css">body {background-color: #F0F4F7}</style>
{% endblock %}

{% block container %}
<div class="row zx-nav">
    <div class="col-md-10">
        <ul class="nav nav-pills">
            <li>
                <a class="img-logo" href="/"><img title="智选网" alt="智选网" src="{{MEDIA_URL}}img/common/logo.png"></a>
            </li>
            <li {% if '/home' == request.path %} class="active" {% endif %}>
                <a href="/">首页</a>
            </li>
            <li {% if '/question' in request.path %} class="active" {% endif %}>
                <a href="/question/">股票问答</a>
            </li>
            <li>
                <a href="#">每日精华</a>
            </li>
            <li>
                <a href="#">专题推荐</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 login-user text-right">

        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ request.user.nick }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu text-left" role="menu">
            <li>
                <a href="#">我的提问</a>
            </li>
            <li>
                <a href="#">我的回答</a>
            </li>
            <li>
                <a href="#">通知中心</a>
            </li>
            <li>
                <a href="/account/user_settings">账号设置</a>
            </li>
            <li>
                <a href="/logout">退出</a>
            </li>
        </ul>
    </div>
</div>

<div class="blank10"></div>

<div class="container_content row">
    {% block container_content %}{% endblock container_content %}
</div>
{% endblock %}