{% load custom_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
    <head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock title %} - 智选网</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="simplejoy">
		<meta name="keywords" content="股票问答 智选网" />
		<meta name="description" content="智选网">
		<link rel="shortcut icon" href="{{MEDIA_URL}}/img/favicon.ico">

		<link href="{{MEDIA_URL}}/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{MEDIA_URL}}/css/base.css" rel="stylesheet">
		<link href="{{MEDIA_URL}}/css/site.css" rel="stylesheet">

		<script src="{{MEDIA_URL}}/js/jquery-1.7.min.js"></script>
		<script src="{{MEDIA_URL}}/js/bootstrap.min.js"></script>
		<script src="{{MEDIA_URL}}/js/common.js?v={{MEDIA_VERSION}}"></script>
		<script src="{{MEDIA_URL}}/js/site.js?v={{MEDIA_VERSION}}"></script>
		<script type="text/javascript">
			var media = '{{ MEDIA_URL }}';
		</script>

		{% block header %}{% endblock header %}
	</head>
	
	<body>
        {% block container_head %}
        {% endblock container_head %}
        
        <div class="container" style="min-height:475px;" id="content_container_id">
            <div class="alert alert-success popmsg none" id="divSuccess">ok</div>
            {% if error_msg %}
            <div class="alert alert-error popmsg" id="divError">
                <button onclick="$('#divError').hide();" class="close" type="button">×</button>
                <span>{{error_msg}}</span>
            </div>
            {% endif %}
            {% block container %}{% endblock container %}
        </div>
        
        {% include "include/_footer.html" %}

		
		{% block body_tail %}{% endblock body_tail %}
		{% include "include/_tongji.html" %}
	</body>
</html>
