{% extends "base/base.html" %}

{% block bheader %}
<!--link href="{{MEDIA_URL}}/css/login.css" rel="stylesheet"-->
<style type="text/css">

</style>

<script type="text/javascript">
$(document).ready(function(){

    function setContainerHeight(){
        var footer = $('.footer'),
        footerMarginTop = parseInt(footer.css('margin-top').replace('px', '')),
        footerPaddingTop = parseInt(footer.css('padding-top').replace('px', '')),
        footerMarginBottom = parseInt(footer.css('margin-bottom').replace('px', '')),
        footerPaddingBottom = parseInt(footer.css('padding-bottom').replace('px', '')),
        footerHeight = $('.footer').height(),
        tempHeight = footerMarginTop + footerPaddingTop + footerMarginBottom + footerPaddingBottom + footerHeight;
        $('.container').css('height', $(window).height() - tempHeight);
    }

    $(window).resize(function() {
        //setContainerHeight();
    });

    //setContainerHeight();
    
});
</script>
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
{% endblock %}

{% block container_head %}

{% endblock container_head %}
