{% extends "base/base.html" %}
{% load custom_filters %}
{% block base_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/_home.css?v={{MEDIA_VERSION}}" />
{% block home_css %}{% endblock %}
{% endblock %}

{% block base_js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/site/_home.js"></script>
{% block home_js %}{% endblock %}
{% endblock %}

{% block container_head %}
<div class="navbar navbar-fixed-top zx-navbar" role="navigation">
    <div class="container zx-container">
        <div class="navbar-header zx-header pt-5 pr">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".zx-navbar-collapse">
                <span class="icon-bar bgc-zx"></span>
                <span class="icon-bar bgc-zx"></span>
                <span class="icon-bar bgc-zx"></span>
            </button>
            <a class="zx-logo" href="{{MAIN_DOMAIN}}">
                智选
            </a>
            <span class="zx-beta pa f12 co-zx">Beta</span>

            {% if request.sub_domain == "www" %}
            <div class="pa xs-search-container hidden-sm hidden-md hidden-lg" style="left: 100px; top: 13px; width: 160px;">
                <form class="" action="/search">
                    <input type="text" class="form-control input-sm pr-30" name="key_words" placeholder="搜索提问、回答或人..." value="{{key_words}}" maxlength="50">
                    <input type="hidden" name="type" value="question">
                    <button type="submit" class="pa f16 pointer no-border bgc-0" style="right: 2px; top: 7px;"><span class="fa fa-search co8" ></span></button>
                </form>
            </div>
            {% endif %}

        </div>
        <div class="collapse navbar-collapse zx-navbar-collapse">
            <ul class="nav navbar-nav pr" id="search_suggestions">
                <li {% if '/' == request.path and request.user.is_authenticated or '/home' == request.path %} class="active" {% endif %}>
                    <a {% if '/' == request.path and request.user.is_authenticated or '/home' == request.path %} class=""{% else %} class="bottom-border-3 bdc-transparent" {% endif %} href="{{MAIN_DOMAIN}}">首页</a>
                </li>
                <li {% if '/question/' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/question/">问答</a>
                </li>
                <li {% if '/important' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/important">精选</a>
                </li>
                <li {% if '/zt' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/zt/">专题</a>
                </li>
                <li {% if '/stock' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/stock/">股票</a>
                </li>
                <li class="pr">
                    <a href="{{MAIN_DOMAIN}}/toutiao/" target="_blank">微头条</a>
                    <img class="pa" style="right: 7px; top: 3px;" src="{{MEDIA_URL}}/img/common/ico_new.png">
                </li>

                {% if request.sub_domain == "www" %}
                <div class="pa search-container hidden-xs" style="right: -110px; top: 11px; width: 110px;">
                    <form class="" action="/search">
                        <input type="text" class="form-control input-sm search-input pr-30" name="key_words" placeholder="搜索..." value="{{key_words}}" maxlength="50">
                        <input type="hidden" name="type" value="question">
                        <button type="submit" class="pa f16 pointer no-border bgc-0" style="right: 2px; top: 7px;"><span class="fa fa-search co8" ></span></button>
                    </form>
                </div>
                {% endif %}
            </ul>
            
            <ul class="nav navbar-nav navbar-right login-user">
                {% if request.user.is_authenticated %}
                <li class="user-menu dropdown">
                    <a href="{{MAIN_DOMAIN}}/p/{{request.user.id}}" class="dropdown-toggle user w140" data-toggle="dropdown"  title="{{request.user.nick}}">
                        <img alt="{{request.user.nick}}" class='avatar-25 avatar-circle user mt--2' src="{{request.user.get_avatar_25}}">
                        <span class="pl-0">{{ request.user.nick|str_display:5 }}</span>
                    </a>
                    
                    <ul class="dropdown-menu text-left min-w140" role="menu">
                        <li>
                            <a href="{{MAIN_DOMAIN}}/p/{{request.user.id}}">
                                <span class="glyphicon glyphicon-user mr-10 f15"></span>我的主页
                            </a>
                        </li>
                        <li>
                            <a href="{{MAIN_DOMAIN}}/account/user_settings">
                                <span class="glyphicon glyphicon-cog mr-10 f15"></span>账号设置
                            </a>
                        </li>
                        <li>
                            <a href="{{MAIN_DOMAIN}}/account/invitation">
                                <span class="glyphicon glyphicon-log-in mr-10 f15"></span>邀请注册
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li>
                            <a href="{{MAIN_DOMAIN}}/logout">
                                <span class="glyphicon glyphicon-off mr-10 f15"></span>退出
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="user-notice dropdown ml--10">
                    <a href="#" class="dropdown-toggle user" data-toggle="dropdown" data-target="#" title="">
                        <span class="badge flash-badge none" id="unread_count_total_nav_1">0</span>
                        <span class="glyphicon glyphicon-bell f16 mt--4" id="unread_count_total_nav_none"></span>
                    </a>
                    <ul class="dropdown-menu text-left min-w140" role="menu">
                        <li>
                            <a href="{{MAIN_DOMAIN}}/message/">
                                系统消息
                                <span class="badge flash-badge none" id="unread_count_total_nav_system_message">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{MAIN_DOMAIN}}/message/received_like">
                                收到的赞
                                <span class="badge flash-badge none" id="unread_count_total_nav_received_like">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{MAIN_DOMAIN}}/message/received_answer">
                                收到的回答
                                <span class="badge flash-badge none" id="unread_count_total_nav_received_answer">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{MAIN_DOMAIN}}/message/at_answer">
                                @我的回答
                                <span class="badge flash-badge none" id="unread_count_total_nav_at_answer">0</span>
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li>
                            <a href="{{MAIN_DOMAIN}}/p/{{request.user.id}}/followers">
                                我的粉丝
                                <span class="badge flash-badge none" id="unread_count_total_nav_fans">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{MAIN_DOMAIN}}/message/invite_answer">
                                邀请回答
                                <span class="badge flash-badge none" id="unread_count_total_nav_invite_answer">0</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <script type="text/javascript" src="{{MEDIA_URL}}js/_update_unread_count_total.js"></script>
                {% else %}
                <li>
                    <div class="un-login-user">
                        <a class='regist' href="{{MAIN_DOMAIN}}/regist" rel="nofollow">免费注册</a>
                        <a class='login' href="{{MAIN_DOMAIN}}/login" rel="nofollow">立即登录</a>
                    </div>
                </li>
                {% endif %}
            </ul>

        </div>

    </div>
</div>
{% endblock container_head %}

{% block container %}
<div class="container_content row">
    {% block container_content %}{% endblock container_content %}
</div>
{% endblock %}