{% load custom_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
    <head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock title %} - 智选网</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="simplejoy">
		<meta name="keywords" content="simplejoy 智选网" />
		<meta name="description" content="智选网">
		<link rel="shortcut icon" href="{{MEDIA_URL}}/img/favicon.ico">

		<link href="{{MEDIA_URL}}/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{MEDIA_URL}}/css/base.css" rel="stylesheet">
		<link href="{{MEDIA_URL}}/css/site.css" rel="stylesheet">

		<script src="{{MEDIA_URL}}/js/jquery-1.7.min.js"></script>
		<script src="{{MEDIA_URL}}/js/bootstrap.min.js"></script>
		<script src="{{MEDIA_URL}}/js/common.js?v={{MEDIA_VERSION}}"></script>
		<script src="{{MEDIA_URL}}/js/site.js?v={{MEDIA_VERSION}}"></script>
		<script type="text/javascript">
			var media = '{{ MEDIA_URL }}';
		</script>

		{% block header %}{% endblock header %}
	</head>
	
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
                <div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">simplejoy</a>
					<div class="nav-collapse">
					</div>

					<div class="fr" style="padding:4px 0;">
						<a href="/feed" target="_blank" title="订阅，欢迎"><img src="{{MEDIA_URL}}/img/rss{{RSS_IMG}}.png" /></a>
					</div>
				</div>
			</div>
		</div>

		
		<div class="container" style="min-height:460px;" id="content_container_id">
            {% block container %}{% endblock container %}
		</div>
		
		{% include "include/_footer.html" %}

		<div class="alert alert-success popmsg none" id="divSuccess">ok</div>
		<div class="alert alert-error popmsg none" id="divError">
			<button onclick="$('#divError').hide();" class="close" type="button">×</button>
			<span>error</span>
		</div>
		
		{% block body_tail %}{% endblock body_tail %}
		{% include "include/_tongji.html" %}
	</body>
</html>
