{% extends "message/base_message.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}提到我的回答{% endblock %}
{% block javascript %}
{% endblock %}

{% block message_main %}
{% if answers %}
<ul class="message-list list-group only-top-border">
	{% for answer in answers %}
	<li class="list-group-item">
		<div class="message-item row">
			<div class="col-md-1 col-xs-3">
				<a href="{{answer.from_user.get_url}}">
					<img class="avatar" alt="{{answer.from_user.nick}}" src="{{answer.from_user.get_avatar}}">
				</a>
			</div>
			<div class="col-md-9 col-xs-9">
				<div class="from">
					<a href="/n/{{answer.from_user.nick}}" class="zx-cardtips" data-user_id="{{answer.from_user.id}}">{{answer.from_user.nick}}</a>
				</div>
				<div class="f14 pb-10">{{answer.get_summary|safe}}</div>
                <div class="content f12"> 
                    在提问 <a href="{{answer.question.get_url}}">{{answer.question.title|str_display:30}}</a> 中@了我
                </div>
			</div>
			<div class="col-md-2">
				<div class="date text-right co8">{{answer.create_time|time_format}}</div>
				<div class="text-right hide">
					<a href="#" class="delete">删除</a>
					<input type="checkbox"></div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock %}