{% extends "message/base_message.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}提到我的回答{% endblock %}

{% block css %}
<style type="text/css">
.message-list{
	min-height: 350px;
	/*padding-top: 20px;*/
	font-size: 13px;
}

.message-list .form-group{
	padding-top: 0px;
	border-top: 0px;
}

.message-list .list-group-item{
	transition: 0.5s box-shadow;
}

.message-list .list-group-item:hover{
	box-shadow: 2px 2px 4px #666666;
	z-index: 99;
}

.message-list .avatar{
	width: 45px;
	height: 45px;
	box-shadow: 0 0 4px #666666;
	border-radius: 50%;
}

.message-list .from{
	margin-bottom: 7px;
	font-size: 12px;
}

.message-list .date{
	margin-bottom: 7px;
	color: gray;
	font-size: 12px;
}

.message-list .delete{
	font-size: 12px;
}

.message-list .fix-top{
	padding-top: 8px;
}

.message-list .toolbar .checkbox{
	margin-bottom: 0px;
}

.message-list .toolbar input[type=checkbox]{
	/*margin-left: 0px;*/
}

.split-border{
	padding-top: 15px;
}

.content>a{
	text-decoration: none;
	/*color: #2a6496;*/
	font-size: 12px;
}

.content>a:hover{
	text-decoration: underline;
}

</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
</script>
{% endblock %}

{% block message_main %}
{% if answers %}
<ul class="message-list list-group only-top-border">
	{% for answer in answers %}
	<li class="list-group-item">
		<div class="message-item row">
			<div class="col-md-1">
				<a href="{{answer.from_user.get_url}}">
					<img class="avatar" src="{{answer.from_user.get_avatar}}"></a>
			</div>
			<div class="col-md-9">
				<div class="from">
					<a href="/n/{{answer.from_user.nick}}" class="zx-cardtips" data-user_id="{{answer.from_user.id}}">{{answer.from_user.nick}}</a>
				</div>
				<div class="f14 pb-10">{{answer.content|str_display:100|safe}}</div>
                <div class="content f12"> 
                    在提问 <a href="{{answer.question.get_url}}">{{answer.question.title}}</a>中@了我
                </div>
			</div>
			<div class="col-md-2">
				<div class="date text-right">{{answer.create_time|time_format}}</div>
				<div class="text-right hide">
					<a href="#" class="delete">删除</a>
					<input type="checkbox"></div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="alert alert-success popmsg" id="divSuccess">暂无</div>
{% endif %}
{% endblock %}