{% extends "base/base_split.html" %}
{% block dheader %}
<style type="text/css"></style>
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}

{% endblock %}
{% block split_left %}
<a class="list-group-item {% if '/message/system_message' == request.path %} active {% endif %}" href="/message/system_message">
    系统通知
    <span class="badge flash-badge">40</span>
</a>
<a class="list-group-item {% if '/message/new_message' == request.path %} active {% endif %}" href="/message/new_message">收到的回答</a>
<a class="list-group-item {% if '/message/' == request.path %} active {% endif %}" href="/message/">
    收到的赞
    <span class="badge flash-badge">1</span>
</a>
<a class="list-group-item {% if '/message/system_message' == request.path %} active {% endif %}" href="/message/system_message">
    @我的回答
    <span class="badge flash-badge">2</span>
</a>
<a class="list-group-item {% if '/message/system_message' == request.path %} active {% endif %}" href="/message/system_message">
    @我的提问
    <span class="badge flash-badge">3</span>
</a>
{% endblock %}

{% block split_main %}
        {% block message_main %}{% endblock %}
{% endblock %}