{% extends "base/base_split.html" %}

{% block split_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/message.css?v={{MEDIA_VERSION}}" />
{% block css %}{% endblock %}
{% endblock %}

{% block split_js %}
{% block javascript %}{% endblock %}
{% endblock %}

{% block split_left %}
<a class="list-group-item {% if '/message/' == request.path %} active {% endif %}" href="/message">
    系统消息
    {% if unread_count_info.system_message > 0 %}
    <span class="badge flash-badge">{{unread_count_info.system_message}}</span>
    {% endif %}
</a>
<a class="list-group-item {% if '/message/received_like' == request.path %} active {% endif %}" href="/message/received_like">
    收到的赞
    {% if unread_count_info.received_like > 0 %}
    <span class="badge flash-badge">{{unread_count_info.received_like}}</span>
    {% endif %}
</a>
<a class="list-group-item {% if '/message/received_answer' == request.path %} active {% endif %}" href="/message/received_answer">
    收到的回答
    {% if unread_count_info.received_answer > 0 %}
    <span class="badge flash-badge">{{unread_count_info.received_answer}}</span>
    {% endif %}
</a>
<a class="list-group-item {% if '/message/at_answer' == request.path %} active {% endif %}" href="/message/at_answer">
    @我的回答
    {% if unread_count_info.at_answer > 0 %}
    <span class="badge flash-badge">{{unread_count_info.at_answer}}</span>
    {% endif %}
</a>
{% endblock %}

{% block split_main %}
        {% block message_main %}{% endblock %}
{% endblock %}