{% extends "base/base_split.html" %}
{% block dheader %}
<style type="text/css">

</style>
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}

{% endblock %}
{% block split_left %}

	<a class="list-group-item {% if '/message/new_message' == request.path %} active {% endif %}" href="/message/new_message">
		写消息
	</a>
	<a class="list-group-item {% if '/message/' == request.path %} active {% endif %}" href="/message/">
		消息列表
	</a>
	<a class="list-group-item {% if '/message/system_message' == request.path %} active {% endif %}" href="/message/system_message">
		系统消息
	</a>
{% endblock %}

{% block split_main %}
		{% block message_main %}{% endblock %}
{% endblock %}