{% extends "message/base_message.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}邀请回答{% endblock %}
{% block javascript %}
{% endblock %}

{% block message_main %}
{% if user_received_invites %}
<ul class="message-list list-group">
    {% for uri in user_received_invites %}
    <li class="list-group-item no-l-r-bd bdc-eee pl-0 pl-15">
        <div class="">
            <div class="">
                {% for user in uri.from_users %}
                <a class="pr-10" href="{{user.get_url}}">
                    <img class="avatar-circle avatar-45" alt="{{user.nick}}" title="{{user.nick}}" src="{{user.get_avatar_65}}">
                </a>
                {% endfor %}
                <span class="co8 pull-right">{{uri.last_invite_time|time_format}}</span>
            </div>
            
            <div class="content f12 pt-10 pr-100">
                {% for user in uri.from_users %}
                <a href="{{user.get_url}}" class="zx-cardtips" data-user_id='{{user.id}}'>{{user.nick}}</a>{% if not forloop.last %}、{% endif %}
                {% endfor %}
                邀请你回答提问 <a href="/question/{{uri.question.question_id}}">{{uri.question.question_title}}</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock %}