{% extends "message/base_message.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}邀请回答{% endblock %}
{% block javascript %}
{% endblock %}

{% block message_main %}
{% if answers %}
<ul class="message-list list-group">
	{% for answer in answers %}
	<li class="list-group-item">
		<div class="message-item row">
			<div class="col-md-1 col-xs-3">
				<a href="{{answer.from_user.get_url}}">
					<img class="avatar" alt="{{answer.from_user.nick}}" src="{{answer.from_user.get_avatar}}">
				</a>
			</div>
			<div class="col-md-9 col-xs-9">
				<div class="from">
					<a href="{{answer.from_user.get_url}}" class="zx-cardtips" data-user_id="{{answer.from_user.id}}">{{answer.from_user.nick}}</a>
				</div>
				<div class="f14 pb-10">{{answer.get_summary|safe}}</div>
                <div class="content f12"> 
                    在提问 <a href="{{answer.question.get_url}}">{{answer.question.title|str_display:30}}</a> 中@了我
                </div>
			</div>
			<div class="col-md-2">
				<div class="date text-right co8">{{answer.create_time|time_format}}</div>
				<div class="text-right hide">
					<a href="#" class="delete">删除</a>
					<input type="checkbox"></div>
			</div>
		</div>
	</li>
	{% endfor %}
	<li class="list-group-item no-l-r-bd bdc-eee pl-0 pl-15">
		<a href="/p/ea851ece9f6e11e39b87000c290d194c">
			<img class="pa avatar-circle avatar-45" alt="随便弄弄" src="http://img0.zhixuan.com/editor_d7fb50aeb04711e3afb7000c290d194c"></a>
		<div class="pl-55">
			<div class="">
				<a href="/p/ea851ece9f6e11e39b87000c290d194c" class="zx-cardtips" data-user_id="ea851ece9f6e11e39b87000c290d194c">随便弄弄</a>
				<span class="co8 pull-right">05-06 20:40:23</span>
			</div>
			<div class="f14 pb-10 pt-5">
				达人们可以推荐一批个股，我也想早早研究一下，然后分享出来。
				<a href="/question/17#to_answer_38" class="pl-5 f12">
					<span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
				</a>
			</div>
            <div class="content f12"> 
                回答了我的提问 <a href="/question/17">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</a>
            </div>
		</div>
	</li>
	<li class="list-group-item no-l-r-bd bdc-eee pl-0 pl-15">
		<a href="/p/ea851ece9f6e11e39b87000c290d194c">
			<img class="pa avatar-circle avatar-45" alt="随便弄弄" src="http://img0.zhixuan.com/editor_d7fb50aeb04711e3afb7000c290d194c"></a>
		<div class="pl-55">
			<div class="">
				<a href="/p/ea851ece9f6e11e39b87000c290d194c" class="zx-cardtips" data-user_id="ea851ece9f6e11e39b87000c290d194c">随便弄弄</a>
				<span class="co8 pull-right">05-06 20:40:23</span>
			</div>
			<div class="f14 pb-10 pt-5">
				达人们可以推荐一批个股，我也想早早研究一下，然后分享出来。
				<a href="/question/17#to_answer_38" class="pl-5 f12">
					<span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
				</a>
			</div>
            <div class="content f12"> 
                回答了我的提问 <a href="/question/17">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</a>
            </div>
		</div>
	</li>
	<li class="list-group-item no-l-r-bd bdc-eee pl-0 pl-15">
		<a href="/p/ea851ece9f6e11e39b87000c290d194c">
			<img class="pa avatar-circle avatar-45" alt="随便弄弄" src="http://img0.zhixuan.com/editor_d7fb50aeb04711e3afb7000c290d194c"></a>
		<div class="pl-55">
			<div class="">
				<a href="/p/ea851ece9f6e11e39b87000c290d194c" class="zx-cardtips" data-user_id="ea851ece9f6e11e39b87000c290d194c">随便弄弄</a>
				<span class="co8 pull-right">05-06 20:40:23</span>
			</div>
			<div class="f14 pb-10 pt-5 pr-100">
				达人们可以推荐一批个股，我也想早早研究一下，然后分享出来。
				<a href="/question/17#to_answer_38" class="pl-5 f12">
					<span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
				</a>
			</div>
            <div class="content f12"> 
                回答了我的提问 <a href="/question/17">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</a>
            </div>
		</div>
	</li>
</ul>
{{page_params|paging:request}}
{% else %}
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock %}