{% extends "message/base_message.html" %}

{% block title %}写消息{% endblock %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}
{% block javascript %}{% endblock %}

{% block message_main %}

	<form class="form-horizontal" role="form" method='post' action="">
		<div class="form-group">
			<label class="col-sm-2 control-label">发送给</label>
			<div class="col-sm-4">
				<input id='receiver_input' autocomplete="off" type="text" class="form-control" name="msm_receiver" placeholder="用户">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">消息内容</label>
			<div class="col-sm-8">
				<textarea rows="6" name='message' class="form-control" placeholder="请输入消息内容" value=''></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary">发送消息</button>
			</div>
		</div>
	</form>

{% endblock %}