{% extends "message/base_message.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}收到的回答{% endblock %}

{% block javascript %}
{% endblock %}

{% block message_main %}
{% if likes %}
<ul class="message-list list-group only-top-border">
	{% for like in likes %}
	<li class="list-group-item no-l-r-bd bdc-eee pl-10">
		<a href="{{like.from_user.get_url}}">
			<img class="pa avatar-circle avatar-45" alt="{{like.from_user.nick}}" src="{{like.from_user.get_avatar}}"></a>
		<div class="pl-55">
			<div class="">
				<a href="{{like.from_user.get_url}}" class="zx-cardtips" data-user_id="{{like.from_user.id}}">{{like.from_user.nick}}</a>
				<span class="co8 pull-right">{{like.create_time|time_format}}</span>
			</div>
            <div class="content f12 pt-10"> 
                赞了我的回答 <a href="{{like.question.get_url}}">{{like.question.title|safe}}</a>
            </div>
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock %}