{% extends "message/base_message.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}收到的回答{% endblock %}

{% block javascript %}
{% endblock %}

{% block message_main %}
{% if answers %}
<ul class="message-list list-group only-top-border">
	{% for answer in answers %}
	<li class="list-group-item no-l-r-bd bdc-eee pl-10">
		<a href="{{answer.from_user.get_url}}">
			<img class="pa avatar-circle avatar-45" alt="{{answer.from_user.nick}}" src="{{answer.from_user.get_avatar}}"></a>
		<div class="pl-55">
			<div class="">
				<a href="{{answer.from_user.get_url}}" class="zx-cardtips" data-user_id="{{answer.from_user.id}}">{{answer.from_user.nick}}</a>
				<span class="co8 pull-right">{{answer.create_time|time_format}}</span>
			</div>
			<div class="f14 pb-10 pt-5 pr-15">
				{{answer.get_summary|safe}}
				<a href="{{answer.question.get_url}}#to_answer_{{answer.id}}" class="pl-5 f12">
					<span class="f12 glyphicon glyphicon-send pr-3"></span>查看详细
				</a>
			</div>
            <div class="content f12"> 
                回答了我的提问 <a href="{{answer.question.get_url}}">{{answer.question.title|safe}}</a>
            </div>
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock %}