{% extends "message/base_message.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}收到的赞{% endblock %}

{% block javascript %}{% endblock %}

{% block message_main %}
{% if likes %}
<ul class="tml-message-list mt-10">
	{% for like in likes %}
	<li class="tml-item">
		<div class="tml-date">
			<span class="date co8">{{like.create_time|date:'Y-m-d'}}</span>
			<span class="time">{{like.create_time|date:'H:i:s'}}</span>
		</div>
		<div class="tml-user"><img class="avatar" src="{{like.from_user.get_avatar}}"></div>
		<div class="tml-content">用户
			<a href="{{like.from_user.get_url}}">{{like.from_user.nick}}</a>
			在提问 <a href="{{like.question.get_url}}">{{like.question.title|str_display:30}}</a>
			中赞了你的回答
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="alert alert-success popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock %}