{% extends "message/base_message.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}系统消息{% endblock %}

{% block javascript %}{% endblock %}

{% block message_main %}
{% if system_messages %}
<ul class="message-list list-group only-top-border">
    {% for sm in system_messages %}
    <li class="list-group-item">
        <div class="message-item row">
            <div class="col-md-8">
                <div class="content f16">{{sm.content|safe}}</div>
            </div>
            <div class="col-md-3">
                <div class="date text-right co8">{{sm.create_time|time_format}}</div>
                <div class="text-right hide">
                    <a href="#" class="delete">删除</a>
                    <input type="checkbox"></div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{{page_params|paging:request}}
{% else %}
<div class="alert alert-info popmsg box-shadow-224 border-radius-0">暂无</div>
{% endif %}
{% endblock %}