{% extends "base/base.html" %}
{% load custom_filters %}

{% block title_tail %} - 微头条{% endblock title_tail %}

{% block base_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/_toutiao.css?v={{MEDIA_VERSION}}" />
{% block css %}{% endblock %}
{% endblock %}

{% block base_js %}
{% block js %}{% endblock %}
{% endblock %}

{% block container_head %}
<div class="navbar navbar-fixed-top zx-navbar" role="navigation">
    <div class="container zx-container">
        <div class="navbar-header zx-header pt-3 pr">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".zx-navbar-collapse">
                <span class="icon-bar bgc-zx"></span>
                <span class="icon-bar bgc-zx"></span>
                <span class="icon-bar bgc-zx"></span>
            </button>
            <a class="zx-logo" href="{{MAIN_DOMAIN}}/toutiao/">
                微头条
            </a>
        </div>
        <div class="collapse navbar-collapse zx-navbar-collapse">
            <ul class="nav navbar-nav pr" id="search_suggestions">
                <li {% if '/toutiao' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/toutiao/">首页</a>
                </li>
                <li {% if '/question/' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/question/">创业</a>
                </li>
                <li {% if '/important' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/important">科技</a>
                </li>
                <li {% if '/zt' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/zt/">财经</a>
                </li>
                <li {% if '/stock' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/stock/">人文</a>
                </li>
                <li {% if '/toutiao1' in request.path %} class="active" {% endif %}>
                    <a href="{{MAIN_DOMAIN}}/toutiao/">热点</a>
                </li>
            </ul>

        </div>

    </div>
</div>
{% endblock container_head %}

{% block container %}
<div class="container_content row pt-0 pr">
    <div class="zx-container-main box-shadow-016 bgc-fff col-xs-12 col-md-8 pl-0 pr-0">
        {% block main %}

        {% endblock %}
    </div>

    <!-- PC端显示样式开始 -->
    <div class="zx-container-right pa col-xs-12 col-md-offset-8 col-md-4 pl-0 hidden-xs" style="right: -15px;">
        <div class="pr pt-15 bdc-ccc top-border left-border right-border bottom-border box-shadow-016 bgc-fff pl-15 pr-15">
            <img class="avatar-45 pa" alt="股票行情资讯" src="http://img01.sogoucdn.com/app/a/100520090/oIWsFtx2GIhkF1ZS1GqZ6Uowr3nY">
            <div class="pl-55">
                <div>
                    <span class="f16 fb">股票行情资讯</span>
                </div>
                <div class="f12 co8 pt-5">
                    微信号：gupiaohqzx
                </div>
            </div>
            <div class="f13 line-height-22 pt-15">
                <span class="fb">功能介绍：</span>股票好似人生,总会有起起伏伏.股票行情资讯助你了解股票与投资,让你的人生旅途更加精彩.这里有最专业的股票证券资讯,有最新的股票财经热点.股票行情资讯,让你的股票人生熠熠出彩.
            </div>
            <div class="pl-45 pr-45 pt-15 bottom-border bdc-eee pb-15 pr">
                <img class="w" alt="股票行情资讯二维码" src="http://img03.sogoucdn.com/app/a/100520105/03VaVVjEQWY_h0k2nyD3">
                <img class="avatar-45 pa" style="left: 40%; top: 40%;" alt="股票行情资讯" src="http://img01.sogoucdn.com/app/a/100520090/oIWsFtx2GIhkF1ZS1GqZ6Uowr3nY">
                <div class="text-center pt-3 f13"><span class="fa fa-weixin pr-5 cl_green f14"></span>微信扫一扫关注</div>
            </div>
        </div>

        <div class="box-shadow-016 bgc-fff bdc-ccc top-border left-border right-border bottom-border mt-15 pl-15 pr-15">
            <div class="pb-5 pt-15 bottom-border bdc-ddd">
                <span class="f16 fb">热门头条</span>
            </div>
            <ul class="list-group f13 pt-5 pb-10">
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">且看“面痴”陈克明如何用29年把挂面做到中国第一</a>
                </li>
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">一个537亿的并购帝国是如何建成的?</a>
                </li>
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">全球商讯汇编 三星现金胜苹果; 手游大蛋糕; 麦当劳店被关</a>
                </li>
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">顺丰CEO王卫:我25岁赚到人生第一桶金之后</a>
                </li>
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">全面解读——中国各大银行机构</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- PC端显示样式结束 -->

    <!-- 手机端显示样式开始 -->
    <div class="zx-container-right col-xs-12 pt-15 visible-xs pl-0 pr-0">
        <div class="pr pt-15 box-shadow-016 bgc-fff pl-15 pr-15">
            <img class="avatar-45 pa" alt="股票行情资讯" src="http://img01.sogoucdn.com/app/a/100520090/oIWsFtx2GIhkF1ZS1GqZ6Uowr3nY">
            <div class="pl-55">
                <div>
                    <span class="f16 fb">股票行情资讯</span>
                </div>
                <div class="f12 co8 pt-5">
                    微信号：gupiaohqzx
                </div>
            </div>
            <div class="f13 line-height-22 pt-15">
                <span class="fb">功能介绍：</span>股票好似人生,总会有起起伏伏.股票行情资讯助你了解股票与投资,让你的人生旅途更加精彩.这里有最专业的股票证券资讯,有最新的股票财经热点.股票行情资讯,让你的股票人生熠熠出彩.
            </div>
            <div class="pl-45 pr-45 pt-15 bottom-border bdc-eee pb-15 pr">
                <img class="w" alt="股票行情资讯二维码" src="http://img03.sogoucdn.com/app/a/100520105/03VaVVjEQWY_h0k2nyD3">
                <img class="avatar-45 pa" style="left: 40%; top: 40%;" alt="股票行情资讯" src="http://img01.sogoucdn.com/app/a/100520090/oIWsFtx2GIhkF1ZS1GqZ6Uowr3nY">
                <div class="text-center pt-3 f13"><span class="fa fa-weixin pr-5 cl_green f14"></span>微信扫一扫关注</div>
            </div>
        </div>

        <div class="box-shadow-016 bgc-fff mt-15 pl-15 pr-15">
            <div class="pb-5 pt-15 bottom-border bdc-ddd">
                <span class="f16 fb">热门头条</span>
            </div>
            <ul class="list-group f13 pt-5 pb-10">
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">且看“面痴”陈克明如何用29年把挂面做到中国第一</a>
                </li>
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">一个537亿的并购帝国是如何建成的?</a>
                </li>
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">全球商讯汇编 三星现金胜苹果; 手游大蛋糕; 麦当劳店被关</a>
                </li>
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">顺丰CEO王卫:我25岁赚到人生第一桶金之后</a>
                </li>
                <li class="list-group-item pl-0 pr-0 pt-5 pb-5 no-l-r-bd bdc-transparent">
                    <span class="glyphicon glyphicon-fire co25 f12 pt-3"></span>
                    <a href="#" class="pl-5">全面解读——中国各大银行机构</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 手机端显示样式结束 -->
</div>
{% endblock %}