{% extends "base/base.html" %}
{% load custom_filters %}
{% load custom_tags %}

{% block keywords %}财经微头条,智选{% endblock %}

{% block title_tail %} - 财经微头条{% endblock title_tail %}

{% block base_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/_toutiao.css?v={{MEDIA_VERSION}}" />
{% block css %}{% endblock %}
{% endblock %}

{% block base_js %}
{% block js %}{% endblock %}
{% endblock %}

{% block container_head %}
<div class="navbar navbar-fixed-top zx-navbar" role="navigation">
    <div class="container zx-container">
        <div class="navbar-header zx-header pt-3 pr">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".zx-navbar-collapse">
                <span class="icon-bar bgc-zx"></span>
                <span class="icon-bar bgc-zx"></span>
                <span class="icon-bar bgc-zx"></span>
            </button>
            <a class="zx-logo" href="{{MAIN_DOMAIN}}/toutiao/">微头条</a>
        </div>
        <div class="collapse navbar-collapse zx-navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if '/toutiao/' == request.path %} class="active" {% endif %}>
                    <a href="/toutiao/">首页</a>
                </li>
                {% toutiao_acticle_type_nav_display %}
            </ul>

            <div class="fr" style="line-height: 50px;">
                <a class="co17" rel="nofollow" href="{{MAIN_DOMAIN}}" target="_blank">智选出品</a>
            </div>

        </div>
    </div>
</div>
{% endblock container_head %}

{% block container %}
<div class="container_content row pt-0 pr min-h700">
    <div class="zx-container-main box-shadow-016 bgc-fff col-xs-12 col-md-8 pl-0 pr-0">
        {% block main %}
        {% endblock %}
    </div>

    <div class="zx-container-right col-xs-12 col-md-4">
        <div class="hidden-xs hidden-sm" style="position: fixed;width: 150px;background: #E5F6FF;right: 10px;top: 90px; z-index: 10000;">
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=200450650&amp;site=qq&amp;menu=yes" target="_blank">
                <div class="text-center bgc-zx co3 pb-10 pt-10 f15">
                    股票开转户咨询
                </div>
                <div class="text-center">
                    <img src="http://static.zhixuan.com/img/kaihu/kefu.gif">
                </div>
                <div class="text-center" style="color: #428bca;">
                    <img style="width: 15px;" src="http://static.zhixuan.com/img/kaihu/qq-icon.png"><span style="padding: 5px; display: inline-block;">股票开户咨询</span>
                </div>
                <div class="text-center" style="color: #428bca;">
                    <img style="width: 15px;" src="http://static.zhixuan.com/img/kaihu/qq-icon.png"><span style="padding: 5px; display: inline-block;">股票转户咨询</span>
                </div>
                <div class="text-center" style="color: #428bca;">
                    <img style="width: 15px;" src="http://static.zhixuan.com/img/kaihu/qq-icon.png"><span style="padding: 5px; display: inline-block;">投资理财咨询</span>
                </div>
                <div class="text-center" style="color: #428bca;">
                    <img style="width: 15px;" src="http://static.zhixuan.com/img/kaihu/phone-icon.png"><span style="padding: 5px; display: inline-block;">13677617173</span>
                </div>
            </a>
        </div>

        <div class="row mobile-ad hidden-md hidden-lg" style="position: fixed; bottom: 0; background-color: #F1F1F1; padding: 10px 5px; color: #428bca; width: 100%;">
            <div class="col-xs-6">
                <img class="w" src="{{MEDIA_URL}}img/kaihu/kaihu.jpg" />
            </div>
            <div class="col-xs-3 text-center pl-0 pr-0">
                <a href="tel:13677617173">
                    <div><i class="fa fa-phone f16"></i></div>
                    <div>电话咨询</div>
                </a>
            </div>
            <div class="col-xs-3 text-center pl-0 pr-0">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=200450650&site=qq&menu=yes">
                    <div class="text-center"><i class="fa fa-qq f16"></i></div>
                    <div>在线咨询</div>
                </a>
            </div>
        </div>
        {% block weixin_mp %}
        {% endblock %}

        {% toutiao_hotest_articles %}
    </div>

</div>
{% endblock %}
