{% extends "toutiao/base_toutiao.html" %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}财经微头条{% endblock %}
{% block title_tail %}{% endblock title_tail %}

{% block css %}
<style type="text/css">
.toutiao-list li{
	transition: all 0.3s;
}

.toutiao-list li:hover{
	background-color: #F3F3F3;
}
</style>
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
<ul class="list-group toutiao-list mb-0">
	{% for article in articles %}
	<li class="list-group-item bdc-ccc pb-10">
		<div class="row pl-0 pr-0">
			<div class="col-md-9">
				<h4 class="mt-5">
	                <a class="black-blue fb" href="{{article.get_url}}">{{article.title|str_display:23}}</a>
	            </h4>
	            <div class="f13 line-height-22">{{article.get_summary|str_display:65}}</div>
	            <div class="pt-5">
	            	<a class="f12" href="{{article.weixin_mp.get_url}}">{{article.weixin_mp.name}}</a>
	            	<span class="f12 co8 pl-10">{{article.create_time}}</span>
	            	<span class="glyphicon glyphicon-fire pull-right co25 f12 pt-3">{{article.views_count}}</span>
	            </div>
			</div>
			<div class="col-md-3 pl-5">
				<a href="{{article.get_url}}">
					<img class="w" src="{{article.img}}" alt="{{article.title}}">
				</a>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{{page_params|paging:request}}
{% endblock %}
