{% extends "toutiao/base_toutiao.html" %}
{% load custom_filters %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
<div class="">
	<h3 class="text-center f28">Note 4基本就这样了,你买苹果6还是买它?</h3>
	<div class="line-height-25 pt-15 f16">
		<p style=""> <strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">作者:克莱顿·克里斯滕森，哈佛商学院著名教授，转自蓝橡树。</strong> <strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "><strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">由高管读物“解读标杆”（微信号jiedubiaogan）推荐。</strong></strong> 
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p style="">
			我在哈佛商学院的课程体系是为了帮助我的学生们理解什么是好的管理理论，以及它是怎样构建的。在每一章，我们带着不同的模型或理论视角观察一家企业——应用它们来解释这家企业是如何走到这一步的，并审视什么样的管理行动可能产生希望得到的结果。
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			现在，在最后一天的课堂上，我要求我的学生们把这些理论的聚焦镜对准自己，并针对下列三个问题寻找令人信服的答案：
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">♦ 我怎样确保我在职业生涯中会快乐？</strong>
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">♦ 我怎样确保我和我的配偶及家人的关系将成为一种持久的快乐源泉？</strong>
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">♦ 我怎样确保我一定不会进监狱呢？</strong>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			尽管最后一个问题听起来像在开玩笑，但并非如此。我当年罗兹学者班32个同学就有2个进过监狱。安然（Enron）的Jeff Skilling也曾是我在哈佛商学院的同班同学。他们都曾是很好的人，但他们人生中的一些事情把他们引上了歧途。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">1、管理是最崇高的职业</strong>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			弗雷德里克·赫茨伯格（Frederick Herzberg）的幸福论认为，
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">人生中最有力的激励因素不是金钱，而是那些学习的机会、在责任中成长的机会、为他人做贡献的机会、以及成就被认可的机会。</span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			我成为学者以前，自己经营着一个公司。有一天，我想象着我的一个经理早上踌躇满志地来工作，10小时后，带着不受赏识、沮丧的感觉开车回家。我在想，她这种感觉会怎样深深地影响她与孩子们的相处。然后，我的想象快进到了另一天，她带着更好的自我感觉回家——觉得学到了很多东西，因做成了很有价值的事情而被认可，以及在某个重要项目的成功中扮演了重要的角色。我在想，这又会对她作为一个妻子与母亲产生怎样的积极影响。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			我的结论是：
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				如果做得好，管理就是最崇高的职业。其他任何职业都不可能提供这么多的方式，来帮助别人学习和成长，来承担责任并因成就而被认可，以及为团队的成功做出贡献。
			</span>
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p style="">
			越来越多的MBA学生来商学院时以为从商就是买卖与投资。这是很不幸的。做生意并不能带来那种通过塑造他人而得到的深深的回报。我希望学生们在离开我的课堂时能明白这一点。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">2、为你的人生制定战略</strong>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			对第二个问题，有一个管理理论可作参照。这个理论的首要观点是，一个企业的战略是由管理者投资的项目类型决定的，如果不能非常娴熟地管理一个企业的资源分配，那么由此引发的一切将会与管理预期大相径庭。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			这些年来，我一直在关注着我那些1979年毕业的哈佛商学院同班同学的命运。我看到越来越多的人来聚会的时候都是不幸福的，离了婚，与他们的孩子也很疏远。我向你保证，他们中没有一个在毕业的时候就想着以后要离婚或是疏离自己的孩子，然而却有大量的人这么做了。原因何在？
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">这是因为当他们在决定如何利用自己的时间、才能与精力的时候，没有把自己人生的目的放在前面或置于中心。</span>
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			我告诉我的学生们，
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">学校将是他们深刻考虑这些问题的最后机会，因为人生只会变得越来越严苛。</span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			对我而言，对我的人生拥有一个清晰的目标一直是很重要的。但在我真正理解这个目标之前，它确实是我不得不长期苦想的一个问题。当我还是牛津大学的一个罗兹学者(Rhodes Scholar)时，我的学术研究艰难到不可理喻，甚至在同样的时间内增加额外一年多的工作量。
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				但我仍然决定每天晚上花一个小时来阅读、思考。我曾经很矛盾，我是否真得承受得起从我的研究中抽出那些时间，但我还是坚持下来了——并最终明确了我的人生目的。
			</span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			如果我还是每天花那一个小时去学习掌握那些经济学知识，我才是真的浪费了人生。
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				我每年用到那些经济学知识只有几次，而那些关于人生目的的知识每天都要用到。那是我学到过的唯一最有用的东西。如果不愿花时间去搞清楚这些，就会像一艘没有舵的船，必将在人生的怒海狂涛中饱受摧残。
			</span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">3、分配好个人资源</strong>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			一个人的资源包括他的时间、精力和天赋。而如何支配他的个人资源，将最终影响他生活策略的形成。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			我有一堆事情来争抢我的资源——保持良好的夫妻关系，培养优秀的孩子，在事业中获得成功等等。所以我的问题和公司一样，只有有限的时间、精力和才能。对于这些我都要追求的事情，我该如何分配？
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			不同的选择可以使你的生活走向和预期不同的方向。有时候，这并不是坏事，因为你可能会发现一些意想不到的机会。但如果错误地支配了你的资源，那么产出将会很糟糕。正如我那些将精力投入空虚与不幸之中的同学，他们犯的错误就来源于短视。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			当那些很想获取成就的人——包括哈佛商学院的毕业生，有额外的半小时或多余的一点精力时，总是会不自觉地把它分到最能体现成就的事情上去——事业
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">。</strong>
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">与此相反，投资于与配偶和子女关系上的时间和精力，通常并不能立即展现同样的成就感。</span>
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p style="">
			孩子可能每天做错事，恐怕要等到20年后你才能自豪地说：“我培养了一个好儿子或好女儿。”他们也可以忽视夫妻之间的感情，好像一天天的也看不出在变糟。这些人往往不自觉地就把个人的资源过度投资于他们的事业上，而忽略家庭。
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				他们往往没有意识到，与家人的亲密和睦的关系，才是他们快乐的最强有力的也是最持久的源泉。
				<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">4、营造一种文化</strong>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				有一个重要的模型被称为合作工具，其基本意思就是做一个有远见卓识的管理者并不总像是某些人吹出来的那样，敏锐地洞察迷雾重重的未来并勾勒出企业所需的航向调整是一码事，而说服那些没有看到未来变化的员工，让他们齐心协力把企业带向那个新的方向，却完全是另一码事。知道使用什么工具能带来所需的合作是一种关键的管理技巧。
				<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			这个理论把这些工具排列在两个维度上——组织成员对从他们加入企业想要得到的东西的认同程度，以及他们对采取什么行动才能实现预期结果的认同程度。如果在两个坐标轴上都是低认同，你需要使用“权力工具”——强迫、威胁、惩罚等等——来确保合作。很多企业都是从这个象限开始的，这也是为什么那些创始的经理团队，在规定什么必须做以及怎样做的时候都要扮演这样一种独断专行的角色。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			如果员工在一起工作完成这些任务的方式反复这样持续，共识就开始形成了。麻省理工学院的Edgar Schein认为这种过程就是一种建立文化的机制。最终，人们甚至不去考虑他们做事情的方式是否会带来成功。他们通过本能与责任去接受优先顺序，遵循工作程序——这意味着他们已经营造了一种文化。
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p style="">
			文化，以一种不可言传但却不可抗拒的方式，决定着那些已经证实的、被接受的行为方式，而组织成员正是通过这些方式来应对经常出现的问题。文化也对不同类型的问题规定了优先顺序。它是一种强有力的管理工具。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			父母们能够使用的最简单的能带来孩子们的合作的工具就是权力工具。但是也存在一个时点，在十几岁的时候，权力工具就不再起作用了。如果你想要你的孩子拥有很强的自尊与信心，以使他们能解决困难的问题，那么这些素质是不可能在高中时期突然实现的。你必须把这些东西设计进你的家庭文化之中——
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				你也必须从很早就开始考虑这些事情。就像员工一样，孩子们是通过做困难的事情并学习怎样做才有效这样一个过程来建立自尊的。
				<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">5、避免“边际成本”的误区</strong>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			在金融学和经济学中，当我们评估每一项投资的选择时，我们必须忽略“沉没成本”和“固定成本”，而以不同选项的边际成本与边际收益为基础来做决策。但这个金融经济对投资的评估理论，往往可能误导企业。如果将来会完全与过去一样，这个理论就没有错。但如果未来和过去是很不同的（并且一般情况下都如此），那么就不应该用这个理论了。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			这个理论解答的是我和学生们讨论的第三个问题——怎样过一种正直的生活（不坐牢）。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				人们往往无意识地把“边际成本”的理论用于我们个人生活的对错决定中。我们脑子里常有一个声音会说“虽然我知道按照一般的原则，大多数人是不应该这样做的。但是在这个特别的、情有可原的情况下，仅此一次，没问题。”
			</span>
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p style="">
			人们往往认为这“仅此一次”的边际成本非常低，这种想法像吸盘一样把人吸进去，而根本不曾看到这条路最终通向何方，以及这个选择最终包含的全部成本。在所有形式的不忠实与不诚信里面，它们辩解的理由都是边际成本经济学，“就这一次”。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				在人的一生中，总有许多各种各样的小决定。其实100％地去坚守你的原则，要比98％地去坚持来得容易。从理论上讲，你肯定可以只在某一次越过界线，然后以后再也不那样做了。
			</span>
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p style="">
			但是，你若抵抗住了“在这个特殊的情有可原的情况下，就这一次，没有问题”的诱惑，你将受益无穷。因为，
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				生命是一条充满未知的河流。假如你越过这道防线一次，在今后的生活中，你可能将会一次又一次地越过这道防线。就如我过去的一些同学所做过的那样，你一定会后悔你最终得到的结果的。
			</span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				你必须给你自己的原则做个定义，然后以你的原则为基准，给自己划一个安全的防线。
				<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">6、记住谦逊的重要性</strong>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			所有谦逊的人都有一个共同的特点：他们都有着很高程度的自尊自信。他们知道自己是谁，并对自己感觉很好。
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">“谦逊”不等同于自我贬低或自我嘲弄而是一种你对他人的尊重。从这种形式的谦虚中，总能自然地产生好的行为。</span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			把“谦逊”带入社会是那么的重要。当你刚刚进入一个顶级研究生院的时候，几乎所有你所学的都来自于那些比你更聪明且更有经验的人：父母、老师、老板。而当你离开了哈佛商学院或任何其他顶尖学府后，你会发现你每一天打交道的人们，那些大多数的人，可能都没有你聪明。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			这时，
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				如果你认为只有从比你聪明的人那儿才能学到东西，那么你就把自己学习成长的机会大大缩小了。总而言之，只有你真正自信时，你才可能谦卑。
			</span>
			当我们看到一些人以一种攻击性的、傲慢的、损人的方式对待他人时，他们的行为其实是自卑的体现。他们需要贬低其他人，以此来使自己感觉良好。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">7、选择正确的标尺
				<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></strong>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			去年我被诊断出得了癌症，我必须面对我的生命将可能比我预期的要结束的早一些。感谢上帝，现在看来我可能幸免了。但这段经历让我对生命有了不同的见地。
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
			我很清楚，我的见解已经为那些应用了我的研究的企业带来了巨大的收益；我知道我已经产生了深远的影响。但是当我面对这场疾病时，有趣的是，看看那些影响对现在的我而言是多么的不重要。
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p style="">
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">
				我总结出，上帝衡量我人生的尺子并不是美元，而是那些我曾经影响过他们人生的人们。我认为这是一种对我们所有人都有用的方式。别去操心那些你将取得的个人声望，去操心那些通过你的帮助能变得更好的人吧。
			</span>
		</p>
		<p style="">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p style="">
			这是我对你们最后的一个建议：
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(192, 0, 0); ">认真思考什么才是衡量你人生的正确标尺。</span>
		</p>
		<p>
			<br></p>
		<p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; min-height: 1.5em; white-space: pre-wrap; padding: 0px; line-height: 2em; font-family: 宋体; -webkit-text-size-adjust: none; text-align: center; ">
			<img src="http://weitoutiao-public.stor.sinaapp.com/Public/article_content/content_58341408690060659.jpg" style="word-wrap: break-word !important; box-sizing: border-box !important; border: 0px currentcolor; visibility: visible !important; " data-ratio="0.05813953488372093" data-w="430"></p>
		<p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; min-height: 1.5em; white-space: pre-wrap; padding: 0px; line-height: 2em; font-family: 宋体; -webkit-text-size-adjust: none; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<h3 class="t" style="margin: 0px 0px 1px; font-weight: normal; font-size: medium; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; padding: 0px; line-height: 1.54; -webkit-text-size-adjust: none; list-style: none; color: rgb(51, 51, 51); font-family: arial; ">
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(31, 73, 125); ">
				<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
					懂得发现， <em style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-style: normal; color: rgb(204, 0, 0); ">记得分享。</em></strong> 
			</span>
			<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(31, 73, 125); line-height: 1.54; ">
				和君同行， <em style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-style: normal; color: rgb(204, 0, 0); ">一路风景！</em>
			</strong>
		</h3>
		<h3 class="t" style="margin: 0px 0px 1px; font-weight: normal; font-size: medium; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; padding: 0px; line-height: 1.54; -webkit-text-size-adjust: none; list-style: none; color: rgb(51, 51, 51); font-family: arial; ">
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(31, 73, 125); ">
				<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
					<em style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-style: normal; color: rgb(204, 0, 0); "></em>
				</strong>
			</span>
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></h3>
		<p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; min-height: 1.5em; white-space: pre-wrap; padding: 0px; line-height: 2em; font-family: 宋体; -webkit-text-size-adjust: none; ">
			<span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(31, 73, 125); ">
				<strong style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; ">
					<em style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-style: normal; color: rgb(204, 0, 0); "><br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></em>
				</strong>
			</span>
		</p>
		<p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; min-height: 1.5em; white-space: pre-wrap; padding: 0px; line-height: 2em; font-family: 宋体; -webkit-text-size-adjust: none; ">
			<img src="http://weitoutiao-public.stor.sinaapp.com/Public/article_content/content_58341408690060533.jpg" style="word-wrap: break-word !important; box-sizing: border-box !important; border: 0px; visibility: visible !important; " data-ratio="0.4723320158102767" data-w=""></p>
		<p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; box-sizing: border-box !important; min-height: 1em; white-space: pre-wrap; ">
			<br style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; "></p>
		<p>举报</p>
		<p>
			<br></p>
	</div>
</div>
{% endblock %}