{% extends "toutiao/base_toutiao.html" %}
{% load custom_filters %}
{% load custom_tags %}

{% block description %}{{article.get_summary|str_display:70}}{% endblock %}

{% block title %}{{article.title}}{% endblock %}

{% block css %}
<style type="text/css">
    .content_body img{max-width: 100%;}
    .content_body p{color: #222;}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $.map($('.content_body img'), function(i){
        var imgPrefix = "http://img01.store.sogou.com/net/a/04/link?appid=100520031&amp;w=145&amp;h=100&amp;url=";
        
        $(i).attr('src', imgPrefix + $(i).attr('src'));
    });
});
</script>
{% endblock %}

{% block main %}
<div class="pl-20 pr-20 pb-20">
    <h3 class="text-center f28 pb-5">{{article.title}}</h3>
    <div class="bottom-border bdc-ddd co8 f13 text-right pb-10 pr-10">
        <span class="">{{article.create_time}}</span>
        <span class="pl-10">热度: {{article.views_count}}</span>
        <span class="pl-10">来源: <a href="{{article.weixin_mp.get_url}}" class="gray-gray">{{article.weixin_mp.name}}</a></span>
    </div>
    <div class="line-height-30 pt-15 f16 pl-5 pr-5 content_body">{{article.content|safe}}</div>
    <div class="blank20"></div>
    <div class="f12 pt-15">
        <div class="fb f14">
            <a href="{{article.from_url}}" target="_blank" rel="nofollow">微信原文链接</a> 
        </div>
        <div class="co8">文章为作者独立观点，不代表智选的观点和立场</div>
        <div class="co8">此文章来自微信公众号，如需删除或申请收录，请联系微信号：zhixuanribao</div>
    </div>
    <div class="pt-25 pr">
        <h4 class="fb bottom-border bdc-ddd pb-10"><a href="{{article.weixin_mp.get_url}}" class="pr-5">{{article.weixin_mp.name}}</a>的最新文章</h4>
        <ul class="list-unstyled pl-5 pr-5 min-h120">
            {% for article in newsest_articles %}
            <li class="pb-5">
                <span class="fa fa-caret-right"></span>
                <a href="{{article.get_url}}" class="pl-5">{{article.title|str_display:28}}</a>
            </li>
            {% endfor %}
        </ul>

        <!-- 手机端显示样式开始 -->
        <div class="visible-xs text-center pr">
            <img class="avatar-110" alt="{{article.weixin_mp.title}}二维码" src="{{article.weixin_mp.qrimg}}">
            <img class="avatar-25 pa" style="left: 45%; top: 35%;" alt="{{article.weixin_mp.title}}" src="{{article.weixin_mp.img}}">
            <div class="text-center pt-3 f13"><span class="fa fa-weixin pr-5 cl_green f14"></span>微信扫一扫关注</div>
        </div>
        <!-- 手机端显示样式结束 -->

        <!-- PC端显示样式开始 -->
        <div class="pa hidden-xs" style="right: 2px; top: 75px;">
            <img class="avatar-110" alt="{{article.weixin_mp.title}}二维码" src="{{article.weixin_mp.qrimg}}">
            <img class="avatar-25 pa" style="left: 35%; top: 35%;" alt="{{article.weixin_mp.title}}" src="{{article.weixin_mp.img}}">
            <div class="text-center pt-3 f13"><span class="fa fa-weixin pr-5 cl_green f14"></span>微信扫一扫关注</div>
        </div>
        <!-- PC端显示样式结束 -->
    </div>
</div>
{% endblock %}