{% extends "toutiao/base_toutiao.html" %}
{% load custom_filters %}

{% block title %}首页{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
<ul class="list-group">
	<li class="list-group-item no-l-r-bd bdc-eee pb-15">
		<div class="row pl-0 pr-0">
			<div class="col-md-9">
				<h4 class="mt-5">
	                <a class="black-blue fb" href="/toutiao/421">哈佛最重要一课:你要如何衡量你的人生</a>
	            </h4>
	            <div class="f13 line-height-22">
	            	我在哈佛商学院的课程体系是为了帮助我的学生们理解什么是好的管理理论，以及它是怎样构建的。在每一章，我们带着...
	            </div>
	            <div class="pt-5">
	            	<a class="f12" href="/topic/ggfx">雪球投资</a>
	            	<span class="f12 co8 pl-10">2014-08-20 14:45:12</span>
	            	<span class="glyphicon glyphicon-fire pull-right co25 f12 pt-3">188</span>
	            </div>
			</div>
			<div class="col-md-3 pr-0">
				<a href="#">
					<img class="w" src="http://wttcollect-public.stor.sinaapp.com/Public/article_thumb/5834.jpg">
				</a>
			</div>
		</div>
	</li>
	<li class="list-group-item no-l-r-bd bdc-eee pb-15">
		<div class="row pl-0 pr-0">
			<div class="col-md-9">
				<h4 class="mt-5">
	                <a class="black-blue fb" href="/toutiao/421">长江观点 廖建文:不一样的创业时代</a>
	            </h4>
	            <div class="f13 line-height-22">
	            	编者按:2014年8月16日,深圳, 在“如日之升 产融互兴”长江商学院FMBA五周年庆典论坛中,长江FMBA用独特的方式来纪念自己...
	            </div>
	            <div class="pt-5">
	            	<a class="f12" href="/topic/ggfx">长江商学院</a>
	            	<span class="f12 co8 pl-10">2014-08-20 14:45:12</span>
	            	<span class="glyphicon glyphicon-fire pull-right co25 f12 pt-3">235</span>
	            </div>
			</div>
			<div class="col-md-3 pr-0">
				<a href="#">
					<img class="w" src="http://wttcollect-public.stor.sinaapp.com/Public/article_thumb/5831.jpg">
				</a>
			</div>
		</div>
	</li>
</ul>
{% endblock %}
